<div id="underConstruction">
    <div class="image-stack">
        <div [@fadeInOut]="displayStation4" *ngIf="displayStation4" class="station4">
            <img src="assets/images/station4.png">
        </div>

         <div class="station_floor4">
            <img [@scaleInOut]="displayFloor4" *ngIf="displayFloor4" src="assets/images/station_floor.png">
        </div>

        <div [@fadeInOut]="displayStation3" *ngIf="displayStation3" class="station3">
            <img src="assets/images/station3.png">
        </div>

         <div class="station_floor3">
            <img [@scaleInOut]="displayFloor3" *ngIf="displayFloor3" src="assets/images/station_floor.png">
        </div>

        <div [@fadeInOut]="displayLine3" *ngIf="displayLine3" class="station_line3">
            <img src="assets/images/station_line3.png">
        </div>

        <div [@fadeInOut]="displayStation2" *ngIf="displayStation2" class="station2">
            <img src="assets/images/station2.png">
        </div>

         <div class="station_floor2">
            <img [@scaleInOut]="displayFloor2" *ngIf="displayFloor2" src="assets/images/station_floor.png">
        </div>

        <div [@fadeInOut]="displayLine2" *ngIf="displayLine2" class="station_line2">
            <img src="assets/images/station_line2.png">
        </div>

        <div [@fadeInOut]="displayStation1" *ngIf="displayStation1" class="station1">
            <img src="assets/images/station1.png">
        </div>

        <div class="station_floor1">
            <img [@scaleInOut]="displayFloor1" *ngIf="displayFloor1" src="assets/images/station_floor.png">
        </div>

        <div [@fadeInOut]="displayLine1" *ngIf="displayLine1" class="station_line1" [class.one] ="station == 1">
            <img src="assets/images/station_line1.png">
        </div>

        <div [@fadeInOut]="displayText" *ngIf="displayText" class="construction_text">
            <img src="assets/images/construction_text.png">
        </div>
    </div>
</div>
