<div id="underConstruction">
    <div class="image-stack">
        <div [@bounceIn]="displayStation4" *ngIf="displayStation4" class="station4">
            <img src="assets/images/station4.png">
        </div>

         <div [@bounceIn]="displayFloor4" *ngIf="displayFloor4" class="station_floor4">
            <img src="assets/images/station_floor.png">
        </div>

        <div [@bounceIn]="displayStation3" *ngIf="displayStation3" class="station3">
            <img src="assets/images/station3.png">
        </div>

         <div [@bounceIn]="displayFloor3" *ngIf="displayFloor3" class="station_floor3">
            <img src="assets/images/station_floor.png">
        </div>

        <div [@bounceIn]="displayLine3" *ngIf="displayLine3" class="station_line3">
            <img src="assets/images/station_line3.png">
        </div>

        <div [@bounceIn]="displayStation2" *ngIf="displayStation2" class="station2">
            <img src="assets/images/station2.png">
        </div>

         <div [@bounceIn]="displayFloor2" *ngIf="displayFloor2" class="station_floor2">
            <img src="assets/images/station_floor.png">
        </div>

        <div [@bounceIn]="displayLine2" *ngIf="displayLine2" class="station_line2">
            <img src="assets/images/station_line2.png">
        </div>

        <div [@bounceIn]="displayStation1" *ngIf="displayStation1" class="station1">
            <img src="assets/images/station1.png">
        </div>

         <div [@bounceIn]="displayFloor1" *ngIf="displayFloor1" class="station_floor1">
            <img src="assets/images/station_floor.png">
        </div>

        <div [@bounceIn]="displayLine1" *ngIf="displayLine1" class="station_line1">
            <img src="assets/images/station_line1.png">
        </div>

        <div [@bounceIn]="displayText" *ngIf="displayText" class="construction_text">
            <img src="assets/images/construction_text.png">
        </div>
    </div>
</div>
