<div id="clientScreen">
  <ng-container @slideUpDown *ngIf="displayTop">
    <div id="topCurve" *ngIf="!showDistinctTopImage"></div>

    <div id="topWorkshop" *ngIf="showDistinctTopImage">
      <img src="assets/images/workshop_top.png">
    </div>
  </ng-container>

  <app-sidebar @slideInOut *ngIf="displaySidebar" id="sidebarComponent" (changeItemDescription)="changeItemDescription($event)" (homeBtn)="goToMain($event)"></app-sidebar>

  <div class="parent">
      <app-toolbar @fadeInOut *ngIf="displayToolbar" class="toolbar" (changeItemDescription)="changeItemDescription($event)" (homeBtn)="goToMain($event)" [changeItemDescriptionStatus]="changeItemDescriptionStatus"></app-toolbar>

      <div class="itemContent" *ngIf="displayContent" [class.workshop]="showDistinctTopImage">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
