//-----SVG-------
$offer:"%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20416%20637%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bisolation%3Aisolate%3B%7D.cls-2%7Bfill%3A%23efefef%3B%7D.cls-3%7Bopacity%3A0.7%3Bmix-blend-mode%3Amultiply%3B%7D.cls-4%7Bfill%3A%23ca181f%3B%7D.cls-5%2C.cls-7%2C.cls-8%7Bfill%3A%23fff%3B%7D.cls-5%7Bopacity%3A0.2%3B%7D.cls-6%7Bfill%3Anone%3Bstroke%3A%23fff%3Bstroke-miterlimit%3A10%3Bstroke-width%3A5px%3B%7D.cls-7%7Bfont-size%3A76.91px%3Bfont-family%3ASwiss721BT-BlackCondensed%2C%20Swis721%20BlkCn%20BT%3Bfont-weight%3A800%3B%7D.cls-8%7Bfont-size%3A52px%3Bfont-family%3ASwiss721BT-BoldCondensed%2C%20Swis721%20Cn%20BT%3Bfont-weight%3A700%3B%7D.cls-9%7Bletter-spacing%3A-0.04em%3B%7D.cls-10%7Bfont-size%3A40px%3Bfill%3A%23000%3B%7D.cls-11%7Bletter-spacing%3A-0.05em%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20class%3D%22cls-1%22%3E%3Cg%20id%3D%22Capa_1%22%20data-name%3D%22Capa%201%22%3E%3Crect%20class%3D%22cls-2%22%20x%3D%22174%22%20y%3D%2228%22%20width%3D%2268%22%20height%3D%2268%22%2F%3E%3Cimage%20class%3D%22cls-3%22%20width%3D%22394%22%20height%3D%22637%22%20transform%3D%22translate%2811%29%22%20xlink%3Ahref%3D%22data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAAYoAAAJ9CAYAAAArATUsAAAACXBIWXMAAAsSAAALEgHS3X78AAAgAElEQVR4Xu3d61YjO7K14YA6rlrd%2Fd3%2Fbe7de9UR%2FP3AgaenQ6G0MWCn32cMjTQU%2BIAzNRVSputus9kEAAAj97MfAADcto%2BzH8Drubu7u5v9DIAnG6Y%2F3s0df%2Fu3syAYZv8O3JK2cyI43g5B8cqKcJh9PfoecCuqTsm%2Ft%2Fc1ofG6CIpXYgFR3fat31YEB9as64Q2g%2B3oe4TGKyAozmwQEHfF7dG%2FKQICt2RUNWwW3tYtgXFGBMWZTAJi1PKssyo8FIGBNTsmIJY0vQ8C4wwIihdaEBD3zTZve9P7SoQF1mgWEtoeB1u%2FTWCcGUHxAhISs4DI9sG%2B1jYKjLxfYK20E9JO3oNgaRsGBmFxGoLiRBYS3jwYPgyah0cXFsDajaqIbA%2ByHd3uAoOwOBEX3B2pmGrycNCQ%2BBBPf%2BPcfrSvPTR8eiqCsMBt0JF%2FVUE8WPuzbQ%2By1Za%2Fk%2FeVNnkMExjLERRHGEw1dQHxMSI%2ByfaTfd2FBVUFbsmsktBwyPbbttoe4unYeZTtQWAQFssQFAs1U006faRVQ4bCZ9l%2Blq81NDws8n7z8XQLrMnGtjllNAqJ39Z%2BFbc%2FbLf329%2FRY2dv3YKwWIagWGAQEl5BfIj9APgcEV9k%2B0W%2B9sDQsPCqImJ%2FRycwsAbaOXfTTqOQ%2BLVtP2X7Sb6vIfGwvX8qixMRFBMLQqKqIDIUvsr2q3ytgVFVFfkYVBO4BaOgqKqJX7EfEj9s%2BzN2x9OveDp2%2Fsg2ERZHICgaTUhUVYQHxF%2By%2FUu%2B9rDIoMidu1qnCNkCa%2BIhkU0XpLWayJDQgPgREd9l6xV6BoYjLBYiKAYWhIRWER4Qf0XEN9l%2BizoslgRFxP5OTmC83Es7A96Dl1s69ZQL0xoUWTlkMHyPp%2BPpn6incv1Y0upiLywCJYKiNwuJrCKy8%2F8m7W%2FbZliMgmLpGoWiw3py6Qc479OT0ftUBUVWFdXUkwfFP7E%2FnesDLz2WlIbFJuJpgEhVcYigKBTXSviahIdEhsDf2%2FYv23pVkRXIaDF76bQTHdDLQuLY333J3%2Fslv7sWS4NitE7hU08%2F4nA6t6rQ%2FXgKeZy8fR%2FbwCAsDhEUxqac9FRVXZPIkMiOXwPCW%2F6bVhRLp508sHCc7mA%2FtSPo3gfeo%2BP5FJSHRVdVaFAsrSaq9z0fK3%2BOsDAEhZisS%2FiaRK5HaED8W5oHhVYT1RlP93EYFBH7OznmRh3BsT%2BTqr%2F%2FkgDnfTvOMVXF73gKCj8ppKsmUvU4%2Bt7nmgUhIQiKQ1VIaFDodFOGRIbDf2I%2FLEbVhO%2FUVUgQFMfxkanfnn1vCX9PqsDw94v3b5lRBz4KC71OaUlI%2BP2OGlVFgaDYOnFdQoPiP9K0ohhNOX2K8QL2khErDjt6D4BNcbv6GZVfjzp8D%2FHRbd0m3ssxD%2FJRWPyJ3fGj4TCawtX7ru63CovY%2Fi5hsUVQRMymnEbVxLc4DIn%2FF%2FtTT9WU09J1CTqVnncsufUweIz9n61%2BXr%2FnPzMK7btJi2Lrt3Go69Qf4%2Bm4eYjDgFgSEo%2BTpo%2Flv3%2FTCIodDYiqmtB1iQyJatrpP7F%2FtpOf5aTTTR%2FkMWejUTzxgNjEdvRXfF8PfN1WLWSbqgGE7ie%2B7X5H%2F81vY2f2Pn6Ip6D4YK0abFVBoxfy6SfN%2Br7xfB9UFQTF6GPDl0w5%2FR376xG%2BiK1TTt0ZGVVI%2BO1bpwdphsLewSxtNmrUTkE7h5Bt8k5fR6s%2BoNjELiw8NPQ%2B%2FPvV17fMgyK3%2Bfd9jP2%2F%2FagiH4VE1XzfyPfvYXt%2FNx8WNx0UC85y%2BhiHIaFrE9WZTnrdhC9ej9YkQrZ%2B%2B9Z5IPi%2FaaffjRj9tv6OhoXTMPdw0Pez%2Blp%2FX%2B9vdvuW6Xvt73t%2BzwOiCor8ed0v%2FshWP45c9w0NmAymvK%2BbddNBseUhoUGR1YR%2BNMfomom%2Fpfni9TGVRGX272ujB%2BWdfa2jxNxqAOjBr51B1Sl4UFQVRbVvaNP3VrePsXu%2Fs9NZEhjV12tXdcL%2B98mf%2BRBPf9s7a8oricfYD4fR%2F19RBcbzY99yVXGzQTE5yykPdv2gv1yb6EIiqwg%2Fw2lUSdx6B7GEjiargNDmHcHv4nv5cxowG2sRdUh4tZntk22rRVYdpY4Co%2Fr6FnSv2d%2BP%2FBt2HbYHhVcRVWBUA4h8nHx%2BNzsFdbNBsTUaMeZU0egKbA0LryJ0uik7iWzVKOgWO4alNCQ0IKqphNF%2FaKP%2FsU3%2BXFVZLAkKDwk9TfOzbbM9xGFg5P1XgaEdE%2Fb%2FLvp1xP7fLy0JCd1PRpWF7hMRNz4FdZNBseCaCV%2Bb0E%2BB1c9w0jObdOFaz%2FEmJI6zsW0VENnyQNdQ%2BGlbbd4xVFNQSqcJfarJw%2BGLbfXq%2B0%2FxdP%2F5u3nfuo0gLDqjv43%2B%2FTbx9Leu9hcNiWoQoRWnBkVus5q5ySmomwuKYgFbO4MlIaFNP%2BzPP5pDp5sIiWU0JLR5QOioUD9NVD9V1L%2FnncJoTnpUUXg1oWHwRdpX%2B%2FqLPEY2DYwIwuIY2WFXYZEnEHRVRVd1jqah8v6e35tbC4ubC4otD4lqpOhBMQoI7Rhy4Xq2JkEHcKgKCe1cZwGh%2F3lN3tbQ0KrCR486clS5j3hFkfuIhsRXa39F3fl8jv3XmJ1bPlbejiAsRrqwiNi9n5%2Bjrihy%2FxlVFvnzXm3q%2FnEzIRFxY0ExuWbCF7BH1YR%2FZHj1abCExHG6kPAqwv%2BHs%2B9N%2ByFtFBTd1FMVFPkea1BoOORp1D7dNZr7Tj4VxX7Sq8LCqz8Ni69RB4XvF6PKQvfLTUTc1BTUzQTFgo%2Fp0EqiCgoNjNHnN3k1QUjMLQkJryK0avhn0DQsqopiNPWkNCh0arILir%2FicLpLO57NoFVTUVVniB3%2F%2B%2BTfbRO7Y7qrSEdN17GqqkIrvptwM0Gx5SHhc8%2BzamJpSNxZC9nikIeFzytrFVEFxP9J0%2B%2Fnz2fHXU07jaYWIuoBRXZA3cCiCoqqevHH%2Bxi7zi8RFj3%2F%2B%2Bj7tYldWHyJ8YJ2FRRdJfj83t1KVXETQXHENRN54M9Cws9w8ummrCYSB3lNDzANCQ0KDQkNiAyG%2F9rWK4pqMXtUTXRBUa1T%2BHqWhlJVTSx5vKRz7oTFch7uj7F7vzIscv3od4zPjhsNKB639%2F08uLmFsLiJoNgaVRO6MKnTBz7ltGRdYlRN4FBVRXglkSO%2BH7FfKfzX2v%2FGflUxmnaqOm0f3efWR6ijsMh9x8%2BwqoKiqyYiDqtPDwvUPEh9CirXK6p9K1v13un75%2B%2Fd%2FfbrfJxVW31QLLxmIkcbsymnb9EvXlchwQE%2B5qW8zyXr2UxZRWQwZPOg8GpiNO%2Bc6wV58EccHvD%2BfuZ%2Bo%2BsVGRajEWkVTBH7jzXaZ3xLVTHmYaHvV77PWlXo4nU1%2FTR7D%2FOxNhGx%2BimoVQfFCddMdKfD6pXXGRKjs5wSB3VNDyivJnTKKYPCQ%2BJ%2Ftk3DwquJY9YlRiP8iMOguIvD9Yrf1jSUdJrLH8eDqGo6zeGdIfY9d9yx%2F%2FfL4z33MV2v0IpCt14VjtaYnkN8zWGx6qDYqg5yHw12ZznptJNXE9W6RDb0vJPOzjRHeNnRazWhIZEtp5%2B0mtBpBK8k9ED30b134nrbO%2B8Mihyd%2FilaFRKjqsX3H%2F169LxQu5OtVhV5zOsUVIaBB0Y1feiB4e%2FnKkMiYsVBcaZrJmYL2KNpp5At9vmBlR22H7xVSHRBUYWEjwZ1uilifqB3YfEQu%2FdeKyENh6py0fu6t%2Bbf0%2F1Jq1WqijENVv3b5bGfQeEL29X0k05BVVWp7r%2BbiFjtFNQqg%2BIM10xUIaGVRAZFdUCH3caOjtw9JHTK6Vfsr03oorVPPWVI5Omw3XTTMSERUb%2Bn%2BV5nCNzLbZ1Cq6Yp9Pc1FD7E%2Fv7pU5nZ%2BXkHiDF%2F73ytQsPCK4qlJyWUU1CxQqsMiq3RAVmtTXhIzKac9CwnppxOkwetVhM67eRrE9Uitk456RlOs3nlKLYV7Zirjl5Hkx4WHkT%2Bux%2BK5vtVtsfYPZ52SOxvNf9baT%2BQf2edglq6sF0FxsbaKquK1QXFK10zkZVHVhPViC9x8Pb8wKqCws908rAYrUscGxJL%2Bc9nJ6SBcR%2FWYdjtkJ%2F3cKiaVxf6WHlfGPO%2FVb4%2FWlk8xO60%2BG76ySsLn1rMyvL5fV9bWKwuKLb0IPb5yVOvmdCQyHZnDWN60OSBmgerTjtVp8RqUPhpsH7ldRUS%2BZjPz%2BGUg3g7CNEQGL33Hkj579WgRU%2Bs0GlNXwPTIMr709uo6d8n%2F4a%2BXvEQh1XFaApKqwofhGT1F3H8YOSirSoouGbi4m2sddNO1VXYfp3EaLqpmhaIiNMCIunvWmhEDB4vxoMW3R8%2FW%2FPAyA6JquI4%2BbfS4zP%2F%2Frn%2FZVjohwZ2FYVPP%2FlJC8%2Fvz5qqitUEBddMXDQ9WDwkuvWJ71F%2FhtPRIXHuA3az2WyKCkNHlE47qVFI5BRnFRhUFafxYNXAzhDOKaicivaAuPlrK1YTFFseEtVByTUT70M7bj24fBSn%2F69EhoIHxLuGRLKwuIvdXHWGhVcTOuWkIaGDl9zvct%2FL0esHuf8IAuJYo6oi34scsOQUqE9BVUFRnQn1vN9tvcq%2B99ZWERRcM3E1PCy8osiDMsMiQ6ILiNGB%2BqohkSZh8bD9MR3FelDkPvlP7IdFFYLZueVjERbLeFURsf9%2B%2BOmyXFthrj4ouGbi4vkBohWFTzvp1JOuQ%2FjHhb9rJeHycba74qiyyP3nV4wr3Oo1%2Fo7dfph%2Ft5yCyn2PwFjGj9tqrYJrKwpXHxRbHhI%2BF8w1E%2B9vY02DwiuKDAsPidEBqiO4Nw2Jgo72Myhyiu0%2B6lDU6TYPi1EYRhAQx%2FAKzAeVPgWlVcOSqsL3x71By7VXFVcdFFwzcTW0Y9OQyKYH5M%2Bi%2FZJtVUlkh%2FyuIVEscEccvt7f8bRfeljo1iuK0fSad37o6XuT%2FcUm9iuLh%2BDaigNXHRRbo2pCFwu5ZuL9aVj41JOO4EZhMRq9XUolERFlWOTrvYtdZ%2BJTG9X0xiwkNCxwHP2bZWfu6xU6gKn2S68scr%2F090mnIN9133yJqw2KSTWhZzotWcDmmonX4QeGdnAaFF2JXx2MwxL%2FEkhYRIxfcxUW3v7E4Wv26adEaCzjVVj2HdV6BddWbF1lUBQL2PeyrdYluGbifXlnqW0WFt3IOrdPD3JBB%2BA2LJ6%2FjPo1ezWl7U%2Fsv%2B5qjQKn0YrPZyO4tqJwlUGx5SHBNROXSQ%2BIanTt0zHeWWpHWY3WIvYf4xJVIVlNu1Wvf9TxaGO%2FPM2oquDaCnN1QcE1E1drVFX46HrURgfeJuKyqgmjz9Nfu4bl6DV7NbFXReFkXlVEHK5xPgTXVkTElQUF10xcLR9N5UHjFUXVYVadpbaLZWsVEYdh4ZXSrILy16%2F3y755Gj%2B%2BubaicFVBseUh4QvYXDNxGfxA0A5OR8faNCy60bR3ktdgI1t%2F7fo6RyFRBeS1vPZLlVWFD0C1T%2BHairiioOCaiVUYhYV3lB4go85yExGXPO2UsjOqnr8Hxui15%2BvX%2B8TL%2BRTU%2FfZrrq0QVxMUW6NqgmsmLtdepz74vneYs4BYg%2Br169%2BhCpXqb7AJ9tFz0L9hdua%2BXvEQh1XFTVxbcRVBwTUTq6IdXdcRDiuIK%2BWde26XNryeagpKz4J6jBu%2FtuLig4JrJlZrScc4Ongu%2BqBqVK9tFiDuWl%2F7pfMpKB2Q3vy1FRcfFFseElwzAeA1jKqKm7624qKDgmsmVu1u0kK27lrfl%2Bq1%2BT6uP1e9zmt97dfgLvariojDtVA9XfZmrq242KDgmonV8s5y1Kr1omt%2BT2aBMGt4O%2F5e3fy1FRcbFFvecfgCNtdMXL7R39U7wvumrbHTrF6%2F%2Fh260PCODOdzF%2Fudt74%2FN3ttxUUGBddMrNaoY9TA9jWjLjDu4goWAuOw0%2FG%2Fg%2B7fs8D0%2B8T5ZVjk7fvt1zd7bcVFBsVWdTBxzcT10IMtv65CQltWeVrtacU3CvWLOqgGPCw8ID7Ybf1eFZJ6n3gd%2BvfNzlz7oZu5tuLigoJrJlbJ39N8X7VD1JDQVgWGtos7qJLtyxGHIeGhUL1mDQt%2F%2FXq%2FOK%2Fct7RfyPfM1ytWf23FRQUF10ysmnZwPpr2cKhaNbrO%2B73Icn3Lg%2B0%2BDl%2F%2F6G9QhaTvs3g9OhDx9%2B9j3NC1FRcVFFseEl5JcM3EdakOtnx%2FfTT9ydpshH0wErtQs4D01z0a1Pg%2By777NnRQolVFvnerv7biYoKCayZWzQOi6jCzc%2FxsrasE7%2BNCzxjZ7s%2Bj1%2B0VxCgk9HX7fou34QOdiP33MYNi1ddWXERQcM3EaulBll%2F7%2B9uFRBUWH2N%2FJKbv5bsfUBExGvT4a9YKedR8Gmq0%2F0bxNc7L39OsKm7i2oqLCIqtavSlB1VXTcymnEajMg6ut6ODgW76RQcE2n5s%2F%2F339ud9FBZxAfO6zaDHq2MPCX2ts0qK%2Ffdt5YDH31sf7Kz22op3D4rJWU465aQLRrMpJ66ZuCx6oOkBphVjFxL5fR%2BN6YH1kI%2FzXgfWICT89Xr1lIMf3S4Ni5AtXlfuw3k7pz21sljttRXvHhRbo9GXHlBcM3HdRp2nVhQaDl%2BtafmeVYUfWM%2Fnob%2FjgaUd%2BL20arpJX6eepadh0a1RsA%2B%2FPf2bZ2eu%2FdUqr61416CYVBPegcwWsLlm4jLpSCy%2F9ve56jwz%2BL%2FHflBUpxc%2Bj7xi583CwiqJiN3%2BVu3L1WschYRWFBo6PtBhP34buS%2F7YKBar1jVtRXvFhRFma4HV7UuwTUT10%2BDWqdjvKLw6vFH7AeFh4XO6eYILOINwuLIkKhen77O6kQMKorLogMf3Zez39IpqJwq94C4umsr3i0otjwkZqOvaspptICtAeEVBd6ej8L04KqmGH%2FELiS%2Bxfig0pBIbxIWC0LCK6YqBEdTpxoUWlEQEpfB9%2BesKvL9XtW1Fe8SFMWUU3VwjUKCayauz2gU1nWm3%2BLpgPo79g%2Bq0bnnfgAdhEVExLkCY8HCdfWavCrW%2FXk04NGKohrssC%2B%2FPd%2BfI3ZBrmsVX2Il11a8eVAMDjDtNPTg6oJiVKr7nC4H1uXw977rVLsSfVZRRDzdf47K8sB%2BUWDYACficB%2F2%2FThfU4aED3T%2BFftrbFTG18X7lWqtIsNCg%2BLqrq1486DYGh1g1dqEh8Rsymk0p8uB9b58FHa%2F%2FdqrSD0PvRptdaW5vtcPcluriwgJjBN42FWhl69Fp9I0JP5lraoovDKu9uNTXwNeLvdn3x988LOKayveNCiKKScfhekBlgtBsymnrDxyBKcjMA6syzM7sLJzzYNLt9XBo%2FfrzcNCR2b5u0sONt%2BHvOU%2Bp%2BtrPtDxcPh37EJC9%2Blq0EM1cZl0P8p9OQc%2FWVms4tqKNw2KLd3ZfV7PR2GjBWxf%2BNOQqOZzObAujx9YH2N3YOlC4EPUB86oktD9Sn8vD%2BqsLpaU8x4Qua32Xw0Jn27SgPhP7EJCK4pRdcyg5%2FLpe5H7tPZruQ96VXE111a8WVBMqoluJFZVE99iPOXkIy89wPG%2BsrPW9yT3gcfYVZQPg6YHjd6ndtwf4unA07DIg%2BtBbkccViV%2B4Pk%2BWz1WVUnogrxONWVI5PbfMa8mGPRctm6fzoFJhoVWyrOFbR0o%2Bb6fj%2FlmU1BvEhTFAva9bKt1iWpel2sm1uF5J4%2FDTjcPrM%2BxX3JXVUTSAUfV9LTDDKS8Lx%2BZeQDp7SokRlOmuf%2FqmsQoJLKa0KDQtQn258s32qezf9MpqJxS94C46Gsr3iQotjwkqnK9qiaqaSfODLl%2BPnjIoPgUu4OhCgq%2FDw%2BKj9ZGpx3qQVcFUPKAyOeaTc9u8v1XqwkNCZ1%2B0mpCF7G76hiXSfdpHfxkH6dTqhkGOgVVBcXsBI6I8b57Nq8eFFwzgYKPwO63t%2FXAyqAYdeTVfpQH5Kd4%2BuiPT7E78PSgyxGePkZE%2FRgeFLmfjQY5fhqsLlz%2FO%2Farie5Mp9Ggh%2F35Mvk%2BHbE%2FiMmgyNNl%2F4plU1DVIEcHUpuIePUpqFcNCq6ZwIS%2FVzoKi9jvuKvSPgNCR%2FZ6UkR%2B9IeHRbcw7gd7PlZVuehj6ZRp7rPVmU4ZHr7WVk2hsj9fH3%2B%2Fcn%2FWtYoMCw2Ki7624lWDYstDQg%2FwWTUxm3LKg2pUTeBy5QhMR1%2FOK4nRgEMrCR14fI%2FDT539HYcL5F3V4vvt6PFGg5x%2F2bZba9OQYH%2B%2BPr5PV4ManYK6mmsrXi0ouGYCC%2BSBlbdzP9nEfmXhv%2BMDjioksvPuPlCwm%2FeNqENJq5euGvb9uJo%2BPWbQw%2F58HXyf9v1ZF7a%2FxpVcW%2FFqQbHlI0Cdr9OSPQ8eX7iuDiwNiWx31nBdfCSm1UU1OvOq1NcKsuP%2BHofTT7OqQunj3cf%2B4%2FlZTkv342rAo%2BsS1b7MPn199D3Lzlz7v9z3vKq4yGsrXiUouGYCR%2FCQiNgPCv25Kix8vcBDIlt10FXzvqp6rNz%2FRkGRi9l%2FWct9uAoJrYy9OmZfvj6%2BT%2Bd%2BpFVFhsXXuIJrK84eFFwzgRPMwsIHA1XnXXXcP2NcUegBlwfvkqDQUPIKRpvuu%2Fkz%2BTtaRWhV7CGB6%2FXcccfhfvsx9qegcurdA%2BJirq04e1BseUh4JTFaAKzKda8mRqMvDq7rNgoLf2%2B98%2FbpJ%2B24vYzXMn%2B2oO3B5I%2F1OQ7DIh%2F3i7UqIKrBTvVacd3uZKtVRe6vubB90ddWnDUouGYCL%2BRhcRe7Bbv8Wverrqrwg2x2oHlFUQVFNeDRgY9uNRx8LWLJYId9%2Bfrl%2Fpy3I%2Fb32wyKL3Hh11acLSi4ZgJnomGRC3X5tYfEXdQd%2BO942nfyoNODq6omllQUowrGA%2BOTNa8gRlUE%2B%2FJ6%2BXtbrVVkWGhQXMy1FWcLiq3ZwdVVE7MpJz%2FQqgMM66BhoarONfcHXT%2F4E0%2F7TR54GhA%2BEss1Ci%2FdIw735fvY7YceGNX2g2zvo953dR9mX14f35d1n9J9NvdNPwtqVlW8ybUVZwkKrpnAK9BRURcYOTX1ELt97SF2gfFQbB9j%2F%2BDSaSefKvCg0APctzqY0ab7re%2B%2FhMT6ZVjk7ayStbLIhe2v0U8%2FeWXhlXEeD8%2F78znC4ixBsaWjIz2gdO546bnmWU1oSGSrRmJYr2pEpiW272950GRgaDD4AVWOwoTva%2Fo4OhDyr7166KqIfBysn77P2ZlrP5n7qFcV735txYuDYrKAraW5rk1wzQSO4WHh38ttduSP8bTPeCh4QOiBFXF4QOl%2B5p2%2BVgpVGwVEFFusn%2B%2FD2k%2FmvphhcXHXVrw4KLb0QNBRl65L%2BJSTr02MrpmoyvfEgXY78r2eBUYGxabZVi1km%2FSg9qZhMKscqmBg3709zx13HPaXH2N%2FCir7y25h2wOjOjlDj5uTvSgoBhfXaUhkZ58vWqed%2Frbt6JoJDwk98HB7ZoHhoTEKBg%2BH0YHknXwVFqNQICBQ0f1Cqwpf2PZrK2aVxegsqE1EvKiqODkoJiGRc24%2B5fRXHAbEqJrQxcEqJDjgbtssMPLfltxOo4pCb1dhUIWJbv02bpfun7lPaN%2Fpp8vqtRU%2FB9tqCipDQ%2FfPkxe2Tw6KrTtrXk3MTof9O%2FqP6fBKInHQIY0CI%2F%2BtqxyOPWC6AKj%2BrfoaiDjch6q1iurailFQZNOQ8Oo54vh9PiJODIoFV2BrNdGd6eRnOXHNBE41CowMC%2F13Nzt4Zp1%2FtV%2Byr2LE98nRQFuvrajWKrqP%2BMjAyOnXDI6TpqBOCoot7byrtYlRNVGtS1Snw1JN4BS6f3iJv%2BTfO7Ofm%2F07kDIs8nZ26Hm2XgaFLmxXlUX1WWbVWVDajx4VEhEnBMUJ1UQ17aQL21wzgdfi%2B0y3BnGKl%2F4%2BoPvQKCx0Yftb7EJC%2F1OuqrI42%2BmyRwfF1pJqoroK%2B5t83U05VWeThGyBU7D%2F4JJkx639m54FlWGRH0eTVUWGgwaFVxYZLh%2FiKTByreKkquKooGiqiSoodG2iCou%2FYv9jOnxdIsMicZADWJvnUX4c9ql6bcWf2J%2FK%2FxlPfWkGhlcXuridFUre%2F9FVxVFBsbWkmvBTYkeVhE45aTXBAjaAWzKqKnI6Xz%2FkUtcnfsRTv6phkVNQn7a%2Fk33qyWsVi4NiUE3oixotYlft2LOcCAsAa%2BVVRW61qqj61qwqfmy%2F9qkoXdzWtYqj3c9%2BwNxZ85DwF%2BNhoZXE6GM6vIogJADcgmq2JvvYJf1rNVuTFy6XMzVWAAwdGxRJQyKD4mPMqwk9Fbb6mA4PIgC4BVpJ%2BEB8dKKQh4X3r9VJQrr2u7iPXRQUxcd1aOLli1jyArqznFjABnDLvO%2FrwkL72S4sqrNJ9%2FrZJVXFoqDY0rDwkMgXoIvY%2FiJm6xLV2gQA3BqfWfG%2B1gfl1WDc%2B9rZpQetaVAUi9iaSqOSyF9AtS5RPfkotgBwK0ZVRdXfjgbm3fRTuRY8qyqmQbF1SsKNppw%2Bx3jKiXAAgHmfO7oUoZvm10Xto2Zw2qBY8HEd3dlOXUjMyqDpEweAlVpaVXTT%2FdX0U3d2aWtJReGplq1Ktq9x%2BKSPfcKLnzwArFhVVXRTUEv73nIWp5t%2BWhIUqasoRvNl%2BkSraiJb3j8AoK4qtP%2BdzeZoePja8NGL2sOgOPJznTwkvkT9RKtEi2ILABhXFLM%2BONvn2B%2Boj840fXqwQVUxqyiq0me0oDKadvLFlCrNAAD7lg7WR1NQuvWKYhgWlVlQRIzTTE%2BJ7Uqf0doEYQEAc0urimrQrlP%2FGhZVSAz74TIoFl6JXSXZ0rmxKsUICwDYN6sqctC%2BtC%2BeVhTV9FNXUWhYLJ0b8ye25MkREADQ88H7aBlg1ifPFrTL%2Fng29eRhUVUTPjdWlTqzOTHCAgBqd8W2m%2BHxPrmaetI%2BeTpgPwiKYtrp3po%2FMQ%2BJKr2qBIuYPDkAwB4d%2BXdrFR4Y%2BfVHadqvt2Exqih8tL%2Bk1NHtbIU9ii0AYMxDoqsqPCCWVBTPYeHrFLM1Cn9S1eKJhw8TD1YAABavSURBVIWvTVQr7IQDACw3GryPqgrvn%2FX73QA%2B739PFxQR4xKnmhMbhUSbXACAxXQmZhQWH2McFicN4PeCYnBarD8Zn3rSrT8RT6xpcgEASnfFVvtn7Zt1MO%2F98qiiGIZFVVF4R66dvKdW92Q%2BSMvf1%2FsFAJzGB%2FIfYr%2BP9n5Z%2B%2BdRSOzRdYpu6mlUUVTTT5piXk1o2AwTCwCwiPah2rdq%2F%2BwD%2BlElUS0JHPTRo6Coqgovb6qw6Mqa6n4BAMtpX6q37635oP5D0aqQKC2tKPKJaHlTpZVWElVaAQDOo6oENCRGreqf9T4PPAfF4GPF9cE9qbTE8ScxSisCAwDOZ9ZXa59dBcRoML%2FXT1cVxSgwqqAYBUY%2BeG4BAOfTDew9MEYt72PaR1dB4UYPPKoiPCSqKmL6xAAAi1Vhof2wVxLeN3vw7OmCYmlKVWVNFRKEAwCcT9XHzloXFkOjoJg98KycISQA4H10QRHFVn%2Bv5EGhPzgKi1EwLAkJAgMAzs%2F7Xf%2B3JT831E09RYzDogqOWUgAAF5uSb9a9cVdiLR9dhUU%2FoNdQHQBsuTFAADOq%2BrDR%2F82%2Bt6e2WJ29b0qpbqAIDgA4IrNpp6Up9KSACAcAOD9zKqJRZYGhVcQo9vVvwEArtiS02PP7TXuEwDwSpZUFFXH3pUzBAEAvK%2BzzuosCQoAwA17SVCcZZEEAHDZXhIUAIAbQFAAAFrnDIqzLp4AAC7DOYMCALBCBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoEVQAABaBAUAoHXOoNhsGwBgRc4ZFACAFSIoAACtlwSFTjMx5QQAK%2FWSoAAA3IAlQVFVC101QXUBACsyCoqNbc%2FpNe4TAPBKllQUEfvB0d2u%2Fg0A8LbO2gcvDYqIw%2BkmD4fK2Z4oAOB9dEExWpvwcPDQqNYsZoECALhQVVDMOnr9%2BtG%2BXlppAABenw%2FqTzKbetoU22NC4uQnBgC4DLOgiKhDwgNDQ8N%2FDwDwdrzvnfXL077ag8Lv0EPisWheYVSVht4nAOB0r9GPtrNAs%2Bso8rYHQBUYo8oi7wMA8Hqqwb1%2FXd2emp315E3DYBQQHiqLnggA4GQ%2BuM9t1arfqb5%2BtnSNwkPgIXYBober0ND7AQCcR9fP%2BvdGgbGoX56dHusB4e1BthoYG9n6C8n7BQCch3f%2B2mePgmIUFgf983NQbDabLoGq6aYH2y6pKgAAr2MUBj6Ar%2Frntp9eMvUUsSwsqqpCnwShAQDnUQ3s9XYVDF11EbL12ycvZj8UbWlVQVgAwHl431oN5I%2BZ%2BSn759npsUtC4o9t%2FUk82n0CAF7O%2B2mvIrS%2F9tuj6qLULWbr1lNpFBL6RPSJt2kFAFjE%2B9AlIeED%2BWpA35qtUXjaLAmJKjCqtJo%2BOQBAqaoGZrM%2BXlGMqoqDvrmbeho9CQ8Lb0ufDADgeNWgu%2Bubq69nA%2Fm9M2H3gsJOkX3%2BdsxD4ve2jZ6IT0EBAE7XDeCr%2FnnpQL50zFlPo6D4PbhdpVbE%2FpMhOABgmaqSqPrnKiR%2B2%2FersIgY9MnHrlH4nJc%2BieoJjUocAgIAjuf96CwkfLanqiq8Xz7on2enx%2BbtqrzxkPgdEb9iHBTZ9H4BAMfxkKhmeap%2BOftmnaKqgufAQVDIOsWS1NInok9mSVWRCAwA6Plo3wfwXkn8ir5ffrS2x9erZ1NPEfPk%2BlW0Kr18PmyYXgCAAz6I1z45%2B2UfvHf98uL%2BeBYUo4rilCfVVRUAgJrPwIyqiVFffEx%2FXPbLs7Oe9LY%2BuSokfm7b0gSLYgsAOFQN2nUpwNckqj7ZlwTKiqK6TKIMisE6xaii0GD4GcufXM6LERYAUKsG7NkfV8sAP6Puh7UvriqK1mzqKeL4J%2FcjDp%2FkkpIHAHBoE4f9sFcTPljXfvhn9AP2aT88CwqvLEblTj7BH3H4JPMFUFUAwHJVNVHN6viA3UNi6YB92P8Og6KYfuqmnjwkfsQ4LPxJLko0ALhBVSXxGOOBurfsf2frxRERo49xmlYUaVRR%2FIn9kudHRHyXtvSJenICwC2rqolN9FP%2FXVBUszrTSiJ9nP1APN3JXRyWPppooyf6PSK%2BRsSXiPgcEZ%2Fi6TE%2FbNv9tumTzce6CwC4PT6bo%2F1u1fd6n6uDdF%2BjOHraKWISFJvNZnN3d5cdd0RdVXjpoxXF19gFRRUW9%2FEUCPoYEYQEgNvmIVHN5OgA3WdyNCyq2ZyNbJ8ecDDtFLGsolCjqsLnyL5HxD%2BxC4pZVZGL2hkcEVQVAG6PdtYeEtnn%2BnS%2FB8V3%2Bb5O%2FY%2FWJ84y9RQxryi0BNJKQsPic4yDQqsKpqAA3KLRlNNsBucf21brw1mJ%2BNrwJqKvJiIWBIVMP0Uc9%2BRzukmriVlQVFNQhAWAtTsmJH7FYRXxjzQPitEZp4tNg0LMqoqlQVGtU2R72D6Gno1FWABYs2NCopri%2F79tG1UUXTWxKDAWBUVTVWRC%2FY6n%2B8oX8j12odCFxKiqCPneJggLAOu0NCT07FKvILxlUOhlCdXZThER02mniIVBIbyquIs68T5FHxQZFl5VaBDcbR8jT58lLACsyabY6iBcr5fQkPBKwisKX5846ZRYtTgoJlXFfTw9oQ%2BxCwANi0%2BxHxKjU2S95RlRhAWANfGQyE5cz27y02AzJDwgfNpJ1ybaq7GXVBMRRwSF6NIvq4oMCm1eTfjUk1cUibAAsCajkOjWJUYh8d%2FYBcU%2FsVu%2FqKqJg7OdljoqKOwCPJ9%2Buo9dAnploVudcppVFImwALAGXUh0lxz4VNN%2FYxcSPu3kH9lRhsTSaiLiyKCIOAiLiMO1ivvYDwoPjCootKIYdf4ZFvnvhAWAa%2BKzMdWsjK9J%2FIhdtaABoU2ridEFdntVxDEhEXFCUAh90bpWoS80w8CnmrqQ8I5fX5CeNhtBWAC4DktDorqY7p%2FYD4b%2F3TaddvIznap1ib2wOMZJQTFZ2M5FaG1LQ6Kzif3fS1rdzO4DAN6SdsweENlnZlD4wrVXEf8b%2ByGxtJo4aQFbnRQUQqefInZB8Sd2geHBMKsktLP3FFZUFwAu2abYekj4dJNWElVAaEi8STUR8YKgaD5ZNsPiLp6eeIaBVxndlJOXZ%2Fois7LY2O9HUF0AeH%2BjKqKqJEYX03lI%2FM%2B25dd%2BppOfDvviBWx1clBExJIpKG33tq2qiFFAaPsUu7DI3x1VF3kbAF6bB0Rus1%2FcxC4gupDI6SYNCA0JrSZGU066iB0Rp4dExAuDQuQTyCmoiDokvKlRMGgy5vaj%2FLsGxih89GsAOKcuILQfqy6m8w%2F405AYBUV3Oqyf5bSJp4w4OSQizhAUkymoiMPOu%2BrMUxUQVfssP7OJw6ms%2B%2B339bEIDADntDQgsmVHPvoUWF%2B47kLCp5x8XULD4sVeHBQRB2HxGE8ddVYXo5B4%2FnXZauWg7WFw%2B6Nsdd0it3m%2F%2Bhz0D0doADiGd7yjgNB%2BTKuI0dlNo3UJX8Suppzyfqtq4kVTTuksQRER1XpFBoVWFp1RCucfumqf5Wf0s6O8ovCA8ipDvwcAqepkN8V21H%2F5mU2jkPApJ296BXaGRK5xnPVU2MrZgkLoE3uMZbpw0CR%2BKG7nBw8%2BxPyK72xaZYR8b4YwAdZjyTGf9GefR%2Bty22dDRusR1XSTTzmNLqqrPstpeCrsuUIi4sxBUaxXRDw9%2BSVrEp7GXj1oKuf2q3z%2Fc%2Bw%2BKmT0gYNVG6n%2B7Wx%2FeAAXy4%2FzYyqI0VSTXnHtH8uh1YQGhlYR1RlO3UeIn9VZgyKiDYuIpz%2Fa6EV0002%2FJ%2B1LPN33p%2B1WP1PKL%2FKbBYZPS1FFAOtX9UunBEQ11bQkJPxznLoP%2B9OQOKgkIuJsU07p7EERUYZFNQVV%2FdFz21UR%2Bsf%2Ftt1%2B3W7zP0mafZx5dU1HFFu%2FDWCduipC%2BzEPiQfZahXh6xEeEqOg8IDI%2F19i9vEcrxYSEa8UFBHDsNA%2F%2BvOPxmFQ%2BB%2FeA0LbXzEPi1lgLKkwAKyX9ktdBaGDWe2ncuajWo%2FQ%2F0%2FCQ8KbBoSuR%2FjZTeV002uERMQrBkVEGRYRu%2Bpi7wXKbZ92yjfCw%2BKnta%2Fb9iX2%2F%2FtVry5G01HdFeOEBbBem2brA9humkn7KK0kvkcdFLrNNqoi3qWSSK8aFBHTsHj%2BsTh8IzSt%2FU3wN%2BIvabOwqD7ynLAAbpNXEl1IdNNMo75pFBTetIIYTTW9S0hEvEFQRCwKi421KrH97IF8I77F%2FhvyVdrnOJyKqtYuZovdEQQFsEZVFTEKiapPqkLih2y%2FF%2B0f2ebPVAFRVRFvHhIRbxQUEW1YeIp7dVFNP3liazWh7Ys0%2FX%2B7P1rrpqIi9kOCwACun1cSue36oG6qyafDdfBaBcYPaRoQWkX8kcf3gHizkIh4w6CIKMNiE%2Fsd76iy8DMJPL2rasKDwqehqqmo6qyoiHlVQXgAl6vrTGchUU01VX1RNeWUi9g%2FBi3D4WfsVxAaEl5JRG7fKiQi3jgoInYvbvdpHxFRp%2BWoqtA3Sd%2BUDIavdjtDQqeg9OK8UViMpqAqBAVwuWZBkf%2Bu%2FZCuR8ymm6qTa34Mtlo9jALi3aea3JsHRVowFeVVRbbu7IIvTfscp1UVo6AgHIDr451sFRTHTjllP1QFxs%2Fi3%2FN3NSD0saqAeLeQiIi4e6fHfSYfJKhbnfrJ9YNs2bFnR69VggaCVxIaErpWMbowb7ROQUAA1087viUzGTlI1RmNavpJQ0Gb%2Fs6SgHjXqSb3bhVFaqaistqYvYG%2F46mzzzdIw6AKh%2Bp02dEFeV5NEBLAulQzGJvYddzZmWtF4dNPGhgeCL%2BK38v7y75sNM307gGR3r2iUIPqYlZheJWh1cao%2BfoEU0%2FAbfAOzztmHZRWU0%2FVFJR%2Frd%2FztYdZBXExVYS6qKCI2AuLiMOOWkMjO%2FXcZmfvp756iPh006iaqCqKsNsArpN2fFVFoaN9nX6qAsO%2Fp8GgAaH36eGwV0VEXE5IRFxgUKQjAkOrDK02PtptDxL%2FOb0fvX%2BmnYD10hG8B4WHhXf8Hh5eMXjlcHUBkS42KFIzHeWh4ZVGNUXlzQOmm3IiKID18aDQwPB1UZ%2BO8q81FLqpJQ%2BHTcRlBkS6%2BKCIKKuL3C6pNLzi6G57JUFIAOtXhYVXFqPg6Jrf114wyPaiQyLiSoIiNYGR21loVAHi%2Fz4KCcICWJ%2Bq864Cw0NjU9xeVDnI9uIDIl1VUCQLjIjDsNDbHhpV1TCqIqpwIDCA61d1fKOw6IJj9HNR3H52LQGRrjIo1KDKyNuj0PDmPxOyVYQEsB5LwkJvd2FQ%2FV5%2B%2FXTjijvbqw%2BK1FQZedsDYPQ93SYCAlgv7wS9Cqi2o3%2Fz21cdEGk1QaEWhIbfHv27IzCA9eg6v1HHPw2GiHWEg1plUKgiNCKWTysRDMDtGHWGo4pj942Vd6SrDwo3CA635GcArNOiTnHt4aBuLigqC8MDwI26pVCoEBQAgNb97AcAALft%2FwP3d2s8MQ%2Bd1AAAAABJRU5ErkJggg%3D%3D%22%2F%3E%3Cpath%20class%3D%22cls-4%22%20d%3D%22M387.61%2C129.29l-6.06-14.64a30.23%2C30.23%2C0%2C0%2C0-2.3-4.45l-52.45-84A30.27%2C30.27%2C0%2C0%2C0%2C301.13%2C12H115.7A30.29%2C30.29%2C0%2C0%2C0%2C90%2C26.23l-.09.15Q63.76%2C68.29%2C37.57%2C110.2a31.17%2C31.17%2C0%2C0%2C0-2.29%2C4.45l-6.06%2C14.64a30.29%2C30.29%2C0%2C0%2C0-2.31%2C11.58v416A62.13%2C62.13%2C0%2C0%2C0%2C89%2C619H327.79a62.12%2C62.12%2C0%2C0%2C0%2C62.12-62.12v-416A30.28%2C30.28%2C0%2C0%2C0%2C387.61%2C129.29ZM207.91%2C96a34%2C34%2C0%2C1%2C1%2C34-34A34%2C34%2C0%2C0%2C1%2C207.91%2C96Z%22%2F%3E%3Cpolygon%20class%3D%22cls-5%22%20points%3D%22137%2012%20122%2012%2027%20168%2039%20168%20137%2012%22%2F%3E%3Cpolygon%20class%3D%22cls-5%22%20points%3D%22181.11%2012%2086.11%20168%2098.11%20168%20196.11%2012%20181.11%2012%22%2F%3E%3Cpolygon%20class%3D%22cls-5%22%20points%3D%22151.11%2012%2056.11%20168%2068.11%20168%20166.11%2012%20151.11%2012%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M115.11%2C168h12l53.74-85.54a33.85%2C33.85%2C0%2C0%2C1-5.94-12.66Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M214.65%2C28.65%2C225.11%2C12h-15L199.75%2C29A34%2C34%2C0%2C0%2C1%2C208%2C28%2C34.63%2C34.63%2C0%2C0%2C1%2C214.65%2C28.65Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M145.11%2C168h12l45.5-72.43a33.6%2C33.6%2C0%2C0%2C1-11.07-3.82Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M235.9%2C42.58%2C255.11%2C12h-15L226.88%2C33.72A34.39%2C34.39%2C0%2C0%2C1%2C235.9%2C42.58Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M268.89%2C12%2C241.6%2C56.8a34%2C34%2C0%2C0%2C1-22.79%2C37.43L173.89%2C168h12l98-156Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M203.89%2C168h12L312.51%2C14.19A30.06%2C30.06%2C0%2C0%2C0%2C301.22%2C12h-2.33Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M245.89%2C168l85-135.34-4-6.43a30.35%2C30.35%2C0%2C0%2C0-3.74-4.81L233.89%2C168Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M275.89%2C168l70-111.39L338.7%2C45.15%2C263.89%2C168Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M304.89%2C168l55.43-88.24-6.93-11.11L292.89%2C168Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M333.89%2C168l40.89-65.1q-3.34-5.37-6.71-10.74L321.89%2C168Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M363.89%2C168l24-38.21c-.07-.16-.13-.34-.19-.5q-2.49-6-5-12L351.89%2C168Z%22%2F%3E%3Ccircle%20class%3D%22cls-6%22%20cx%3D%22208%22%20cy%3D%2262%22%20r%3D%2234%22%2F%3E%3Cimage%20class%3D%22cls-3%22%20width%3D%22416%22%20height%3D%22317%22%20transform%3D%22translate%280%20144%29%22%20xlink%3Ahref%3D%22data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAAaAAAAE9CAYAAABNzrbEAAAACXBIWXMAAAsSAAALEgHS3X78AAAPbklEQVR4Xu3d3XbbyLGA0aLssT1nkvd%2F0iTWj8VzQZVYaDZIyKJZntHea2GBQ1EylQt8qxpNZbff7wMAbu3u0gsA4FcQIABa3CRAuxeXXgfAx7G79j2gt4Zmf%2B03AMDfwtUCNAnPpRAt%2FmEhAvhY3h2gITy74Tw%2Brv%2FYfjiLEMAH8q4AlfjU8%2By5NEZnPz4nQgAfw08FaDL1zI4YzrPoPA%2FPiRDAB%2FH50gtGK1PPXRzDUx%2FP7gM9xzE2uzhGKO13u91OhAD%2B2d4UoCE%2B9bgbjhqiKsPzXI4IEQL4cDYHaCU%2BY3g%2BvRw1RPl9NT4%2Fyjm%2FLkIAH8imAF2Iz6dyfI55hCKW8fkREU8vX%2FsRR%2FWe0C5eIhThvhDAP83FAJ2Jzxie8cgI1QnnOQ7heXr52lMc1Y0JuygRiohx4wMAzd47GJwN0Ib4ZGz%2BmBz5moxITj%2BPcQjPQyzvEY2%2FSN2o8K5fEoCreb0ej4PBW4N0cQKK8%2FHJ2HyJiK8v5y8vz%2BUUlHLZ7TGO8anLc6O6Ndv0A9CnXqNn1%2B3FStXWEK0GaPJZn3rPJ%2BOT4cnjWywjlEtw%2BzhOPw%2Fl%2Bdkvsovjcl0GCIDbWbvunkQnTleqNm8gmwZo49Jbxufby%2FFnefw1jhNQBiWX3T7HMWYRxzdd%2F53cJVd%2FQQBuay044%2BPxGr1pA9m5JbgahHH6ySknw%2FN%2F5ZwRqhPQcxynn7w%2FtBa5pzgEaB%2FLXXEA3MZJUMo5j%2BeVx4vvOzcNnQRosvRWp59x6e1bHKLz18uRIcoA5T2gXH67j%2BXuuHrkdPUUpx9UFSCA25jFZzyeh2NXnq%2FnujR3Ym0CGuMwC1Cdfv6KiH%2FFMUJ5L%2BhTHP7xDND3WC7NzX52TkC1qAIEcDv1mrsWnfq5zrxm54pXRLmNsjYFvWUJrkYip58M0L8i4t8v57UA5fJb%2FYzQGLWHmAcoCRHAbezLeRadp3J%2BKs9Xr6tYswgtAjRsPsjzbPNBTkB1%2BS0j9FccA5QbDTJAX%2BIYoDE%2B93H8jJAAAfQ5F58MzmM5372cx59Rb%2BlsmoDGzQE5Ac3u%2F4xLcLkM92cs7wHlDricgOqRP%2B8hjr9Q%2FrI1QOIDcBv19kdej5%2FKkdfr2cdqxu9%2FvXaPU9Cle0D5g8eJZRagOgnVJbiIYyVzAqox%2Bx6H6SeX38YARTkD8GuN8ahLbhmf%2B5dj9rGaGq0apk0TUFqbgGZTUIYojz9jeQ%2FoOQ4Bygmo%2Foz8RdaW38QH4Ncar7Pj0lv9KzYPcRgc%2FhfLj9Tkdbt%2BX72On%2ByIew3Q5I99jrvU8sh41L%2BCUD%2BMmkedgPIXmAUs4%2FMYy90UY3yECODXW5t%2BanzyFkudfMZNCnVn3HQ79to9oHP3geq9m%2FGvIdQjA5Tb8n7EaYByHXE2%2FbzunggAbiGvt3kdzpDk5zi%2Fx%2FFWSsanbk54jOOwMrs3tLgPtHUJbnYfqMZkdnyN45vIX6R%2BTw1PjY%2FlN4DbGlebcgio008GqG4wy9fUv3ST1%2FYcXH7EyhQ0Bmg3OdcIjctxdSIao5T3e8ZK5odNx73j7v0A3N65%2Bz81QBmf%2BvGanHruy5GDx3QCqi5NQHmuy3Dj54LWjhqgLN%2B4PljDU6efCAEC%2BNVm8akTUN18UOOTG8se4rAZoe5wHpffaoAWU9DaPaDxcf1BNUI1RuN0lIHKNxKxLGvGqN7zqZOPAAHcVo1PDdB9nMbnW6zHZ5x%2BplPQuQko7c4c49LcLEx1m17EMjbjOSZnAG5jLUBjfL7H8f%2BEtP6BgbpSdjY%2BEduW4Op%2Fn4vQGKQ6LY1T0OyIch4fA%2FDrzQI0xic3mtXw1Mln0%2FJbxLYJKOK0ZOemolmM6huaTTrCA9CvBih3r8XLf%2BcmsxqdceVrLT5TawEag7P2tXOPZzGqP%2B%2FcUpsIAdxeDdCuPFc3mI33%2Bi9FZzVEWyagSz9w9vhcjGbfFyE6AN0yQDU%2BP2K5vDZOOps2HMxsCdBbzeITk8cRy%2BhsftMAXF2Gp65OzaIznmdDxtp54T0BOjfNjNZee%2Bn7ALi9WVi2hKa6eH1%2FT4DeavamAeiVE89ueHwuPPmad7mL63n3mwHg5sbh4GbX8msGKGLbG9%2FyGgB%2BX1eZhK4dIAD%2BnraGZOvrLhIgALa6WnwiBAiAJgIEQAsBAqCFAAHQQoAAaCFAALQQIABaCBAALQQIgBYCBEALAQKghQAB0EKAAGghQAC0ECAAWggQAC0ECIAWAgRACwECoIUAAdBCgABoIUAAtBAgAFoIEAAtBAiAFgIEQAsBAqCFAAHQQoAAaCFAALQQIABaCBAALQQIgBYCBEALAQKghQAB0EKAAGghQAC0ECAAWggQAC0ECIAWAgRACwECoIUAAdBCgABoIUAAtBAgAFoIEAAtBAiAFgIEQAsBAqCFAAHQQoAAaCFAALQQIABaCBAALQQIgBYCBEALAQKghQAB0EKAAGghQAC0ECAAWggQAC0ECIAWAgRACwECoIUAAdBCgABoIUAAtBAgAFoIEAAtBAiAFgIEQAsBAqCFAAHQQoAAaCFAALQQIABaCBAALQQIgBYCBEALAQKghQAB0EKAAGghQAC0ECAAWggQAC0ECIAWAgRACwECoIUAAdBCgABoIUAAtBAgAFoIEAAtBAiAFgIEQAsBAqCFAAHQQoAAaCFAALQQIABaCBAALQQIgBYCBEALAQKghQAB0EKAAGghQAC0ECAAWggQAC0ECIAWAgRACwECoIUAAdBCgABoIUAAtBAgAFoIEAAtBAiAFgIEQAsBAqCFAAHQQoAAaCFAALQQIABaCBAALQQIgBYCBEALAQKghQAB0EKAAGghQAC0ECAAWggQAC0ECIAWAgRACwECoIUAAdBCgABoIUAAtBAgAFoIEAAtBAiAFgIEQAsBAqCFAAHQQoAAaCFAALQQIABaCBAALQQIgBYCBEALAQKghQAB0EKAAGghQAC0ECAAWggQAC0ECIAWAgRACwECoIUAAdBCgABoIUAAtBAgAFoIEAAtBAiAFgIEQAsBAqCFAAHQQoAAaCFAALQQIABaCBAALQQIgBYCBEALAQKghQAB0EKAAGghQAC0ECAAWggQAC0ECIAWAgRACwECoIUAAdBCgABoIUAAtBAgAFoIEAAtBAiAFgIEQAsBAqCFAAHQQoAAaCFAALQQIABaCBAALQQIgBYCBEALAQKghQAB0EKAAGghQAC0ECAAWggQAC0ECIAWAgRACwECoIUAAdBCgABoIUAAtBAgAFoIEAAtBAiAFgIEQAsBAqCFAAHQQoAAaCFAALQQIABaCBAALQQIgBYCBEALAQKgxbUDtL%2F0AgCIuG6AtsZn6%2BsA%2BL1c9fr9ngDVN3LVNwXAzW29jm993UXvCdBb7eP4xutjAHq1XI8%2FX3rBBuMktHbsymvqYwB%2BD1uHg6usgG0J0OyH7yfnLQcAv7%2FZtfvq1%2FC1AM0Ck%2BfxeJ6cxyMnnt3LcfVfBIA328XS7Fo%2FPj%2B%2Bdnx87rmFLRNQGt%2FY8%2FB4dvyI06W38RcG4HZm1%2BD63GzQGGM0ezwzC9ercwFaK1qNzo%2FheBqOGp%2B7ECCA30G9Du%2BGc8RyyKjDxqUonQ3OaMsENEYnw1MDlMF5LEfusNu%2FvEaAAHqthWe8Nuc1P6%2F147EWqCjn%2BrOmZgGqL57FJ8NTo%2FNQjvs4xuc5Dv%2FGXQgQQLdx2slrcr0%2B5336DFAe5yJ0bjpatWUJbozPGJ77l%2BN7RPwRy%2Fj8EQIE8LuYTT13sbxG19WrvOaPt1vWonRuGjoJ0pZdcDVAdfLJied7zOPzGMsAzca8mPw3AL9GDdDdcHwqj%2FN1%2B1jeXtkSo5%2BegPax%2FIdrgNbi8yXm8fkSh58%2F%2B6WS%2BADczjj5fFo58nqdy3CPk6NuODsXobWJ6OIS3Gz6yWW3nHoyMhHH%2BGSYaoDG6Ud8AG4nr7nj1PN5cuR1uwao3ut%2FLOdxKto8Ca1tQshvGO%2F9ZPnuI%2BJ%2FcXyTEcc3%2BS0ivsYhTlnTuq4oPAC3NVt6q%2FH54%2BX4EssIRSwHi%2Fs4DiEZoNnyXI3QqtcA7ff7%2FW63q3EYl9%2FqBFQLGXEM1EMcwlSnnwyQDQgAtzWuOo1LbzU89cgBYhfH63sOHhmiPGaT0Ooy3H6%2Ff43SuU0Is%2Fs%2F%2Bfmeej8nv%2F4Yx%2FiMu9%2Fc%2FwHoMy6%2F5fST8fk6HPUavo9lgPKoE9EYodmOuBNrS3B58%2Bn55XEGKEOSk09dH7yP0%2FFtnH5EB%2BC2ZstveZ3OiedbOTJCGaCIZYD%2BG8cA1QhdmoJOvGUbdoamTj516e0%2Bljex6uQjPgC3V%2BMzBqhOP98i4s84XMu%2FxeF6nstwEctbLP%2BJZYRmAar7B9JJhBYBWrkPVKeg%2Bnx%2BLT%2FvkwGq267r0psAAdzOufs%2FGaCcduqGgodYbiSLOFz%2FxwDVCNXvzwno7P2fiMsTUD6uFavP%2FYjDG3yM5f5x8QHoNQZodv8nA1R3smWEvsTxOl4D9N84RqhuSKifDfq5e0BlCspvWovPGKC7OI3P%2BD8AALdVb4PUAH2J4%2BRSP8eTEZpNQN%2FjOAXVzQiXNiFsvwc0LMXVCaguvWWAZtFZu%2B8jQgC3ldfdcQIap5V6Xc8A5SaEfC4DtHYPaHUH3Lj8FrG%2BBJf2cXjz9V7Q7LnZZgPxAei3FqDZvZpLAZptxa7TT52Azk4%2FEWcCNFmKe%2F1SLEOU64Nr8REegD6zANVIRJxG6DGW27AzQPUPUM92wG2efiIuTED5TRdCFLEtOEIE0CMHhLs43R5dr837OMQm7%2F%2FcxTJKOQW96%2FM%2F6dISXERMp6E6BUXM4yI4AL%2BHDFANw2yAyADlzub8Wt2cMP5R0rqJ4SQ%2Ba9NPxMYARZxMQxHLss1CdLZ8ANxEvWVSn3sqj1MGKJffduW5jND4R0h%2FKj4RbwhQGn%2Fg5IOrAPw%2BanzGj9XsypFfz9DUqak%2Bn5PQUzlWd7%2Bd8%2BYAjS4VDoAeZ1asalTqa8aP14zP10koz2N4Nk0%2FEVcIEAC%2Fp5WNZBmUiONS3Bil%2Bpds8vn6OaG67LZ519tIgAD%2B4SZ%2FXCDPdUku%2F3v8SzY1TmOI8vnX6WdrfCIECOAjqXHI%2BNSlswxQxGmAaoROwhPLn73J7g2xAuBvrExBu%2BGY%2FSm1NEZm7di89JZMQAAf0zgN1fDMdjdPo5Pnt8YnwgQE8KEMH50Zo1O%2FVu0n59d4%2FEx8IgQI4MOZRKie6%2FM1ENPHPxufCAEC%2BLBWQrRmEYv3hCcJEMAHN4TorGuEJwkQABGxHqJrRqcSIABa3AUANBAgAFoIEAAtBAiAFv8P9sEkURhp9SMAAAAASUVORK5CYII%3D%22%2F%3E%3Cpolygon%20points%3D%22400.03%20428.05%20390.03%20442.05%20390.03%20428.05%2015.03%20428.05%2015.03%20167.05%2027.03%20156.05%2027.03%20167.05%20400.03%20167.05%20400.03%20428.05%22%2F%3E%3Ctext%20class%3D%22cls-7%22%20transform%3D%22translate%2832.56%20277.52%29%20scale%280.73%201%29%22%3EPROMOCIONES%3Ctspan%20x%3D%22-1.82%22%20y%3D%2292.29%22%3EY%20DESCUENTOS%3C%2Ftspan%3E%3C%2Ftext%3E%3Ctext%20class%3D%22cls-8%22%20transform%3D%22translate%2846%20513.79%29%20scale%280.97%201%29%22%3EINC%3Ctspan%20class%3D%22cls-9%22%20x%3D%2273.43%22%20y%3D%220%22%3EL%3C%2Ftspan%3E%3Ctspan%20x%3D%2296.94%22%20y%3D%220%22%3EUIDOS%20POR%3C%2Ftspan%3E%3Ctspan%20class%3D%22cls-10%22%3E%3Ctspan%20x%3D%2220.46%22%20y%3D%2248%22%3ETIEMPO%20LIMI%3C%2Ftspan%3E%3Ctspan%20class%3D%22cls-11%22%20x%3D%22226.96%22%20y%3D%2248%22%3ET%3C%2Ftspan%3E%3Ctspan%20x%3D%22244.05%22%20y%3D%2248%22%3EADO%3C%2Ftspan%3E%3C%2Ftspan%3E%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E";
//---------------

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43em) {

}

/* Small devices (portrait tablets and large phones, 688px and up) */
@media only screen and (min-width: 43em) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {
    #sortBtn{
        width: 45px;
        height: 45px;

        .mat-icon{
            font-size: 35px;
            height: 17.5px;
            width: 35px;
        }
    }

    #vehiclesList{
        .vehiclesFeatures{
            padding: 0 0 8% 0;

            .vehicleImg{
                padding-top: 15px;
            }

            mat-card-content{    
                .vehicleName{
                    padding-top: 5px;
        
                    .brand{
                        padding-bottom: 5px;
                        font-size: 15pt;
                    }
                    .model{
                        padding-bottom: 20px;
                        font-size: 20pt;
                    }
                }
            
                .vehiclePrice{
                    font-size: 13pt;
                    padding-bottom: 15px;
        
                    span{
                        font-size: 20pt;
                    }
                }
            }  
            
            mat-card-actions{
                button{
                    font-size: 13pt;
                }
            }
        }
    }

    #navigator{
        margin-top: 10px;
    
        #navCenter{
            width: 140px;
            height: 36px;
            
            #navLeft{
                border-top: 18px solid transparent;
                border-bottom: 18px solid transparent; 
                border-right: 26px solid #CA181F; 
            }
    
            #navSpace{
                .circle{
                    top: 12px;
                    width: 10px;
                    height: 10px;
                }
    
                .circle:nth-child(1){
                    margin-left: 40px;
                }
                .circle:nth-child(2){
                    margin-left: 65px;
                }
                .circle:nth-child(3){
                    margin-left: 90px;
                }
            }
    
            #navRight{
                border-top: 18px solid transparent;
                border-bottom: 18px solid transparent;
                border-left: 26px solid #CA181F;
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 119em) {
    #sortBtn{
        width: 55px;
        height: 55px;

        .mat-icon{
            font-size: 45px;
            height: 22.5px;
            width: 45px;
        }
    }

    #vehiclesList{
        .vehiclesFeatures{
            padding: 0 0 7% 0;

            .vehicleImg{
                padding-top: 30px;
            }

            mat-card-content{    
                .vehicleName{
                    padding-top: 10px;
        
                    .brand{
                        padding-bottom: 15px;
                        font-size: 20pt;
                    }
                    .model{
                        padding-bottom: 30px;
                        font-size: 25pt;
                    }
                }
            
                .vehiclePrice{
                    font-size: 18pt;
                    padding-bottom: 25px;
        
                    span{
                        font-size: 25pt;
                    }
                }
            }    

            mat-card-actions{
                button{
                    font-size: 15pt;
                }
            }
        }
    }

    #navigator{
        margin-top: 25px;
    
        #navCenter{
            width: 200px;
            height: 50px;
            
            #navLeft{
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent; 
                border-right: 40px solid #CA181F; 
            }
    
            #navSpace{
                .circle{
                    top: 19px;
                    width: 12px;
                    height: 12px;
                }
    
                .circle:nth-child(1){
                    margin-left: 65px;
                }
                .circle:nth-child(2){
                    margin-left: 95px;
                }
                .circle:nth-child(3){
                    margin-left: 125px;
                }
            }
    
            #navRight{
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent;
                border-left: 40px solid #CA181F;
            }
        }
    }
}

//------Animations---------
//rotate animation
@keyframes rotate {
    0% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

//----------------------------------------------------------------

#sortBtn{
    position: absolute;
    top: -70px;
    right: 0px;
    z-index: 2;
    cursor: pointer;
    outline: none;
}

#vehiclesList{
    width: 100%;
    height: 100%;
    overflow: hidden;

    img{
        width: 100%;
        height: auto;
    }

    .vehiclesFeatures{
        position: relative;
        display: inline-block;
        margin-right: 0%;
        width: 100%;
        background: white;
        border-radius: 25px;
        text-align: center;
        font-family: "palanquin", "arial", sans-serif;
        box-shadow: none;

        .offerContainer{
            width: 0px;
            height: 0px;
            color: white;
        }

        .vehicleOffer{
            position: absolute;
            color: #EFEFEF;
            right: -18px;
            top: 10px;
            width: 25%;
            height: 35%;
            cursor: pointer;
            transform: rotate(-15deg);
            transform-origin: 50% 0px;
            background: url("data:image/svg+xml, #{$offer}") left center/100% 100% no-repeat !important;
        }

        .vehicleOffer:hover{
            animation: rotate .5s alternate infinite ease-in-out;
        }

        .vehicleImg{
            width: 75%;
            cursor: pointer;
            margin: 0px auto;
        }

        mat-card-content{
            padding: 0px;
            margin: 0px;

            .vehicleName{    
                .brand{
                    display: block;
                }
                .model{
                    display: block;
                    color: #CA181F;
                    font-weight: bold;
                }
            }
        
            .vehiclePrice{ 
                span{
                    font-weight: bold;
                }
                .moneySimbol{
                    font-family: 'ubuntu', 'arial', sans-serif;
                }
            }
        }

        mat-card-actions{
            padding: 0px;

            button{
                color: #CA181F;
                font-family: 'palanquin', 'arial', sans-serif;
                font-weight: bold;
                letter-spacing: 1px;;
                border-radius: 50px;
                border: 3px solid #CA181F;
                width: 50%;
                height: 7%;
        
                .bg-gradient{
                    background: rgb(202,24,31);
                    border: 0px solid;
                    border-radius: 50px;
                    z-index: 0;
                    display:block;
                    top:0;
                    left:0;
                    position:absolute;
                    width:100%;
                    height: 100%;
                    opacity: 0;
                    transition: opacity 0.5s;
                }
    
                span{
                    z-index: 5;
                    position: relative;
                    vertical-align: inherit;
                }
    
                &:hover{
                    color: white !important;
        
                    .bg-gradient{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

#navigator{
    position: absolute;
    left: 50%;

    #navCenter{
        position: relative;
        left: -50%;
        
        #navLeft{
            position: absolute;
            cursor: pointer;
            left: 0px;
            width: 0; 
            height: 0; 
        }

        #navSpace{
            .circle{
                display: inline-block;
                border-radius: 25px;
                position: absolute;
                background: #CA181F;
            }
        }

        #navRight{
            position: absolute;
            cursor: pointer;
            right: 0px;
            width: 0;
            height: 0; 
        }
    }
}