<button mat-icon-button matTooltip="Ordenar vehículos" matTooltipPosition="before" [matMenuTriggerFor]="menu" id="sortBtn">
    <mat-icon>sort</mat-icon>
</button>
<mat-menu #menu="matMenu" xPosition="before">
<button mat-menu-item>
    <mat-icon>local_offer</mat-icon>
    <span>Más relevantes</span>
</button>
<button mat-menu-item (click)="sortListByPrice('lowest')">
    <mat-icon>trending_down</mat-icon>
    <span>Menor precio</span>
</button>
<button mat-menu-item (click)="sortListByPrice('highest')">
    <mat-icon>trending_up</mat-icon>
    <span>Mayor precio</span>
</button>
</mat-menu>

<div id="vehiclesList" class="owl-carousel">
    <mat-card class="vehiclesFeatures">
        <div class="vehicleImg" (click)="showMore()">
            <img src="assets/images/tempo.png">
        </div>
        <mat-card-content>
            <div class="vehicleName">
                <span class="brand">Suzuki</span>
                <span class="model">Alto 100</span>
             </div>
             <div class="vehiclePrice">
                DESDE&nbsp;$<span class="price">7000</span>
             </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button (click)="isRegistered()">
                <div class="bg-gradient"></div>
                <span>COTIZAR</span>
            </button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="vehiclesFeatures">
        <div class="vehicleImg">
            <img src="assets/images/tempo.png">
        </div>
        <mat-card-content>
            <div class="vehicleName">
                <span class="brand">Suzuki</span>
                <span class="model">Alto 200</span>
             </div>
             <div class="vehiclePrice">
                DESDE&nbsp;$<span class="price">5000</span>
             </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button>
                <div class="bg-gradient"></div>
                <span>COTIZAR</span>
            </button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="vehiclesFeatures">
        <div class="vehicleImg">
            <img src="assets/images/tempo.png">
        </div>
        <mat-card-content>
            <div class="vehicleName">
                <span class="brand">Suzuki</span>
                <span class="model">Alto 300</span>
             </div>
             <div class="vehiclePrice">
                DESDE&nbsp;$<span class="price">8000</span>
             </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button>
                <div class="bg-gradient"></div>
                <span>COTIZAR</span>
            </button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="vehiclesFeatures">
        <div class="vehicleImg">
            <img src="assets/images/tempo.png">
        </div>
        <mat-card-content>
            <div class="vehicleName">
                <span class="brand">Suzuki</span>
                <span class="model">Alto 400</span>
             </div>
             <div class="vehiclePrice">
                DESDE&nbsp;$<span class="price">15000</span>
             </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button>
                <div class="bg-gradient"></div>
                <span>COTIZAR</span>
            </button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="vehiclesFeatures">
        <div class="vehicleImg">
            <img src="assets/images/tempo.png">
        </div>
        <mat-card-content>
            <div class="vehicleName">
                <span class="brand">Suzuki</span>
                <span class="model">Alto 500</span>
             </div>
             <div class="vehiclePrice">
                DESDE&nbsp;$<span class="price">10000</span>
             </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button>
                <div class="bg-gradient"></div>
                <span>COTIZAR</span>
            </button>
        </mat-card-actions>
    </mat-card>
</div>

<div id="navigator">
    <div id="navCenter">
        <div *ngIf="displayLeft" id="navLeft" (click)="navLeft()"></div>
        <div id="navSpace"><div class="circle"></div><div class="circle"></div><div class="circle"></div></div>
        <div *ngIf="displayRight" id="navRight" (click)="navRight()"></div>
    </div>
</div>
