/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43em) {

}

/* Small devices (portrait tablets and large phones, 688px and up) */
@media only screen and (min-width: 43em) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {
    #workshopBooking{
        width: 81%;
        padding: 8% 11% 8% 8%;

        .booking{
            .subtitle{
                font-size: 24px;
                padding-bottom: 75px;
            }
        }
    }
    
}

/* Extra large devices (large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 119em) {
    #workshopBooking{
        width: 79%;
        padding: 9% 12% 9% 9%;

        .booking{
            .subtitle{
                font-size: 35px;
                padding-bottom: 95px;
            }

            .buttons{
                mat-checkbox{
                    font-size: 17px;
                }

                button{
                    font-size: 15px;
                }
            }
        }
    }

}

//----------------------------------------------------------------

#workshopBooking{
    height: 100%;
    overflow: hidden;

    img{
        width: 100%;
        height: auto;
    }

    .booking{
        .subtitle{
            font-family: "palanquin", "arial", sans-serif;
            color: #CA181F;
        }

        mat-form-field{
            font-family: "palanquin", "arial", sans-serif;
            font-size: 20px;
            line-height: 1.5;
            padding-right: 3px;
            width: 22.5%;

            ::ng-deep .mat-form-field-flex {
                border-radius: 0px;
                padding: 0em .75em .75em .75em;
                background-color: white;
            }

            ::ng-deep .mat-form-field-underline {
                &::before{
                    background-color: transparent;
                }
            }

            .itemTitle{
                position: absolute;
                top: -135%;
                font-size: 25px;
                width: 100%;
                padding: 0px auto;
                text-align: center;
            }
        }

        mat-form-field:nth-child(2){
            ::ng-deep .mat-form-field-flex {
                border-radius: 25px 0 0 25px;
            }

            ::ng-deep .mat-form-field-underline {
                right: 0px;
                width: 94%;
            }
        }

        mat-form-field:nth-child(3){
            width: 9%;

            ::ng-deep .mat-select-arrow-wrapper{
                transform: none;
            }
        }

        mat-form-field:nth-child(6){
            ::ng-deep .mat-form-field-flex {
                border-radius: 0 25px 25px 0;
            }

            ::ng-deep .mat-form-field-underline {
                width: 94%;
            }
        }

        .buttons{
            mat-checkbox{
                font-family: 'palanquin', 'arial', sans-serif;
                float: right;
                padding-right: 30px;
                padding-top: 8px;

                a{
                    color: #CA181F;
                    font-weight: bolder;
                }
            }
            
            button{
                font-family: 'palanquin', 'arial', sans-serif;
                font-weight: bold;
                float: right;
                letter-spacing: 1px;;
                border-radius: 50px;
                width: 10%;
                height: 7%;
    
                span{
                    z-index: 5;
                    position: relative;
                    vertical-align: inherit;
                }
            }
        }
    }
}