<div id="workshopBooking">
    <form class="booking">
        <div class="subtitle">Reserva tu cita en nuestro taller</div>
        <mat-form-field appearance="fill">
          <span class="itemTitle">Fecha de ingreso</span>
          <input matInput [matDatepicker]="dp3" placeholder="Selecciona una fecha" disabled>
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <span class="itemTitle">Hora</span>
          <mat-select required>
            <mat-option value="option">8:00 am</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <span class="itemTitle">Número de placa</span>
          <input matInput placeholder="Ingresa el número" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <span class="itemTitle">Servicio a solicitar</span>
          <input matInput placeholder="Seleccione los servicios" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <span class="itemTitle">Promoción</span>
          <input matInput placeholder="Ingrese el código" required>
        </mat-form-field>
        <div class="buttons">
          <button mat-raised-button color="primary">
            <span>ENVIAR</span>
          </button>
          <mat-checkbox color="primary" labelPosition="before" checked=true>Incluir lavado del vehículo <a>GRATIS</a></mat-checkbox>
        </div>
    </form>
</div>
