<div *ngIf="data.info" class="closeBtn" mat-dialog-close (click)="closeDialog()"></div>
<h1 mat-dialog-title [class.no-record]="!records" [class.notify]="notificationSection">{{data.tittle}}&nbsp;</h1>
<div mat-dialog-content [ngSwitch]="data.format" [class.stepper]="data.format == 'stepper'" [class.accordion3]="data.format == 'accordion3'">
  <div *ngSwitchCase="'simple'">
    <p *ngIf="!data.info else info" [class.notify]="notificationSection">{{data.content}}</p>
    <ng-template #info>
      <div mat-dialog-content [ngSwitch]="data.description">
        <div class="km" *ngSwitchCase="'kilometraje'">
          <div class="kmImage">
            <div class="offerImage1"></div>
            <div class="infoImage"></div>
          </div>
          <div class="odometer">
            <div class="digit"><div class="digit-container digit-tenthousand">0 9 8 7 6 5 4 3 2 1 0</div></div>
            <div class="digit"><div class="digit-container digit-thousand">0 9 8 7 6 5 4 3 2 1 0</div></div>
            <div class="digit"><div class="digit-container digit-hundred">0 9 8 7 6 5 4 3 2 1 0</div></div>
            <div class="digit"><div class="digit-container digit-ten">0 9 8 7 6 5 4 3 2 1 0</div></div>
            <div class="digit"><div class="digit-container digit-one">0 9 8 7 6 5 4 3 2 1 0</div></div>
          </div>
        </div>
        <div class="points" *ngSwitchCase="'motorpuntos'">
          <div class="pointsImage">
            <div class="offerImage1"></div>
            <div class="offerImage2"></div>
            <div class="infoImage1 shake"></div>
            <div class="infoImage2 shake"></div>
          </div>
        </div>
        <div class="price" *ngSwitchCase="'precio'">
          <div class="priceImage">
            <div #slide1 class="steps fade">
              <div class="image step1Image"></div>
              <span><mat-icon>looks_one</mat-icon>  El asesor te detallará las versiones y colores disponibles del vehículo de tu elección</span>
            </div>
            <div #slide2 class="steps fade">
              <span class="rightSide"><mat-icon>looks_two</mat-icon>  Si ya estas decidido, procede a separar tu vehículo con un solo click</span>
              <div class="image step2Image"></div>
            </div>
            <div #slide3 class="steps fade">
              <div class="image step3Image"></div>
              <span><mat-icon>looks_3</mat-icon>  Realiza la transferencia o depósito, envianos una foto del voucher para verificarlo y listo</span>
            </div>
          </div>
        </div>
      </div>
      <p [className]="'infoText index'+i" *ngFor="let content of data.content; let i = index">{{data.content[i]}}</p>
    </ng-template>
  </div>
  <div *ngSwitchCase="'accordion1'">
    <mat-accordion [multi]="true" #accordion="matAccordion" *ngIf="records else norecords">
      <mat-expansion-panel *ngFor="let record of records; let first = first; let last = last; let i = index" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="accordion1">
            {{record.area}}
          </mat-panel-title>
          <mat-panel-description>
            <span>{{record.description}}</span>
            <mat-icon [className]="record.status ? 'done' : 'undone'">{{record.status? 'check_circle_outline' : 'schedule'}}</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p><b>Descripción:</b>&nbsp;&nbsp;{{record.description}}</p>
        <p><b>Fecha y hora:</b>&nbsp;&nbsp;{{record.date.length > 1 ? recordDates[i] : 'En proceso'}}</p>
        <div class="panelBtns">
          <button *ngIf="!first" mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">{{last ? 'Fin' : 'Siguiente'}}</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <ng-template #norecords>
      <div class="noRecordsImage"></div>
      <p class="infoText index2">Nada que ver por aquí</p>
    </ng-template>
  </div>
  <div *ngSwitchCase="'accordion2'">
    <mat-accordion [multi]="true" #accordion="matAccordion" *ngIf="records else norecords">
      <mat-expansion-panel *ngFor="let record of records; let first = first; let last = last; let i = index" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="accordion2">
            {{record.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p><b>Correo electrónico:</b>&nbsp;&nbsp;{{record.email}}</p>
        <p><b>Celular:</b>&nbsp;&nbsp;{{record.phone}}</p>
      </mat-expansion-panel>
    </mat-accordion>
    <ng-template #norecords>
      <div class="noRecordsImage"></div>
      <p class="infoText index2">Nada que ver por aquí</p>
    </ng-template>
  </div>
  <div class="dialogStepper" *ngSwitchCase="'stepper'">
    <div class='firstClass'>
      <div class='secondClass'>
        <mat-vertical-stepper #stepper [linear]="isLinear" #stepper [selectedIndex]="data.content.length-1" (animationDone)="setMatStepsAsInteracted()">
          <ng-template matStepperIcon="edit" let-index="index">
            <mat-icon>{{index +1 == 1 ? 'attach_money' : index +1 == 2 ? 'topic' : index +1 == 3 ? 'vpn_key' : ''}}</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="pay">
            <mat-icon>{{stepStatus1}}</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="docs">
            <mat-icon>{{stepStatus2}}</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="last">
            <mat-icon>{{stepStatus3}}</mat-icon>
          </ng-template>
          <mat-step [stepControl]="firstFormGroup" completed="false" state="pay">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Verificación de pago</ng-template>
              <p><b>Descripción:</b>&nbsp;&nbsp;{{data.content[0].description}}</p>
              <p><b>Nro. Operación:</b>&nbsp;&nbsp;{{data.content[0].detail}}</p>
              <p><b>Fecha y hora:</b>&nbsp;&nbsp;{{data.content[0].date.length > 1 ? statusDates[0] : 'En proceso'}}</p>
              <input style="display: none;" matInput formControlName="firstCtrl" required>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup" completed="false" state="docs">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Matriculación del vehículo</ng-template>
              <p><b>Descripción:</b>&nbsp;&nbsp;{{data.content[1].description}}</p>
              <p><b>Nro. Placa:</b>&nbsp;&nbsp;{{data.content[1].detail}}</p>
              <p><b>Fecha y hora:</b>&nbsp;&nbsp;{{data.content[1].date.length > 1 ? statusDates[1] : 'En proceso'}}</p>
              <input style="display: none;" matInput formControlName="secondCtrl" required>
            </form>
          </mat-step>
          <mat-step completed="false" state="last">
            <ng-template matStepLabel>Listo para entrega</ng-template>
            <p>Puede acercarse al concesionar a recoger su vehículo</p>
            <p><b>Fecha y hora:</b>&nbsp;&nbsp;{{statusDates[2]}}</p>
            <br>
            <p class="thanks">¡MUCHAS GRACIAS POR SU PREFERENCIA!</p>
          </mat-step>
        </mat-vertical-stepper>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'accordion3'">
    <div class="payview1" *ngIf="!currentPayView">
      <p class="payDetail1">Transfiere o deposite a una de nuestras cuentas</p>
      <p class="payDetail2">  PEN S/{{records[0]}}.00 ó USD ${{records[0]}}.00</p>
      <mat-accordion #accordion="matAccordion">
        <mat-expansion-panel *ngFor="let transaction of transactions; let first = first; let last = last; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title class="accordion3">
              <div [className]="'bank-'+i"></div>
            </mat-panel-title>
            <mat-panel-description>
              <span>{{transaction.bankName}}</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><b>Seleccione una moneda:</b>&nbsp;&nbsp;
            <mat-select class="currency" value="Soles">
              <mat-option [value]="currency" *ngFor="let currency of transaction.currencies; let j = index" (click)="changeCurrency(j)">{{currency}}</mat-option>
            </mat-select>
          </p>
          <p><b>N° de cuenta corriente:</b>&nbsp;&nbsp;{{transaction.accountNumber[currencyType]}}</p>
          <p><b>CCI:</b>&nbsp;&nbsp;{{transaction.cci[currencyType]}}</p>
          <p><b>RUC:</b>&nbsp;&nbsp;{{ruc}}</p>
          <p><b>Nombre de la cuenta:</b>&nbsp;&nbsp;{{razon}}</p>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="payAdvice">
        <h4><b>Importante</b></h4>
        <div id="payAdvices" class="owl-carousel owl-theme">
          <div class="item"><p>Las operaciones inmediatas demoran entre 15 - 45 minutos</p></div>
          <div class="item"><p>Las operaciones interbancarias diferidas pueden demorar hasta 24 horas</p></div>
          <div class="item"><p>Las operaciones interbancarias diferidas pueden demorar hasta 24 horas</p></div>
          <div class="item"><p>Las operaciones interbancarias diferidas pueden demorar hasta 24 horas</p></div>
        </div>
      </div>
    </div>
    <div class="payview2" *ngIf="currentPayView">
      <p>La segunda vista</p>
    </div>
  </div>
</div>
<div mat-dialog-actions *ngIf="!data.info">
  <button mat-raised-button color="primary" *ngIf="!notificationSection" (click)="restoreChanges()" cdkFocusInitial>{{data.format === 'simple' ? 'SI' : data.format === 'accordion1' ? 'REVISAR' : data.format === 'accordion3' ? 'YA TRANSFERÍ' : 'CONTACTAR'}}</button>
  <button mat-stroked-button color="primary" *ngIf="!notificationSection" (click)="closeDialog()">{{data.format === 'simple' ? 'NO' : 'CERRAR'}}</button>
  <button mat-raised-button color="primary" *ngIf="notificationSection" (click)="closeDialog()">ENTIENDO</button>
</div>
