<div *ngIf="data.info" class="closeBtn" mat-dialog-close></div>
<h1 [class.no-record]="!records" mat-dialog-title>{{data.tittle}}&nbsp;</h1>
<div mat-dialog-content [ngSwitch]="data.format">
  <div *ngSwitchCase="'simple'">
    <p *ngIf="!data.info else info">{{data.content}}</p>
    <ng-template #info>
      <div mat-dialog-content [ngSwitch]="data.description">
        <div class="km" *ngSwitchCase="'kilometraje'">
          <div class="kmImage">
            <div class="offerImage1"></div>
            <div class="infoImage"></div>
          </div>
          <div class="odometer">
            <div class="digit"><div class="digit-container digit-tenthousand">0 9 8 7 6 5 4 3 2 1 0</div></div>
            <div class="digit"><div class="digit-container digit-thousand">0 9 8 7 6 5 4 3 2 1 0</div></div>
            <div class="digit"><div class="digit-container digit-hundred">0 9 8 7 6 5 4 3 2 1 0</div></div>
            <div class="digit"><div class="digit-container digit-ten">0 9 8 7 6 5 4 3 2 1 0</div></div>
            <div class="digit"><div class="digit-container digit-one">0 9 8 7 6 5 4 3 2 1 0</div></div>
          </div>
        </div>
        <div class="points" *ngSwitchCase="'motorpuntos'">
          <div class="pointsImage">
            <div class="offerImage1"></div>
            <div class="offerImage2"></div>
            <div class="infoImage1 shake"></div>
            <div class="infoImage2 shake"></div>
          </div>
        </div>
      </div>
      <p [className]="'infoText index'+i" *ngFor="let content of data.content; let i = index">{{data.content[i]}}</p>
    </ng-template>
  </div>
  <div *ngSwitchCase="'accordion'">
    <mat-accordion [multi]="true" #accordion="matAccordion" *ngIf="records else norecords">
      <mat-expansion-panel *ngFor="let record of records; let first = first; let last = last; let i = index" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{record.area}}
          </mat-panel-title>
          <mat-panel-description>
            <span>{{record.description}}</span>
            <mat-icon [className]="record.status ? 'done' : 'undone'">{{record.status? 'check_circle_outline' : 'schedule'}}</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p><b>Descripción:</b>&nbsp;&nbsp;{{record.description}}</p>
        <p><b>Fecha y hora:</b>&nbsp;&nbsp;{{record.date.length > 1 ? recordDates[i] : 'En proceso'}}</p>
        <div class="panelBtns">
          <button *ngIf="!first" mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">{{last ? 'Fin' : 'Siguiente'}}</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <ng-template #norecords>
      <div class="noRecordsImage"></div>
      <p class="infoText index2">Nada que ver por aquí</p>
    </ng-template>
  </div>
</div>
<div mat-dialog-actions *ngIf="!data.info">
  <button mat-raised-button color="primary" (click)="restoreChanges()" cdkFocusInitial>{{data.format === 'simple' ? 'SI' : 'REVISAR'}}</button>
  <button mat-stroked-button color="primary" (click)="closeDialog()">{{data.format === 'simple' ? 'NO' : 'SALIR'}}</button>
</div>
