<h1 mat-dialog-title>{{data.tittle}}</h1>
<div mat-dialog-content [ngSwitch]="data.format">
  <div *ngSwitchCase="'simple'">
    <p>{{data.content}}</p>
  </div>
  <div *ngSwitchCase="'accordion'">
    <mat-accordion >
      <mat-expansion-panel *ngFor="let record of records; let first = first; let last = last; let i = index" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{record.area}}
          </mat-panel-title>
          <mat-panel-description>
            <span>{{record.description}}</span>
            <mat-icon [className]="record.status ? 'done' : 'undone'">{{record.status? 'check_circle_outline' : 'schedule'}}</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p><b>Descripción:</b>&nbsp;&nbsp;{{record.description}}</p>
        <p><b>Fecha y hora:</b>&nbsp;&nbsp;{{record.date.length > 1 ? recordDates[i] : 'En proceso'}}</p>
        <div class="panelBtns">
          <button *ngIf="!first" mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">{{last ? 'Fin' : 'Siguiente'}}</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="restoreChanges()" cdkFocusInitial>{{data.format === 'simple' ? 'SI' : 'REVISAR'}}</button>
  <button mat-stroked-button color="primary" mat-dialog-close>{{data.format === 'simple' ? 'NO' : 'SALIR'}}</button>
</div>
