/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43em) {

}

/* Small devices (portrait tablets and large phones, 688px and up) */
@media only screen and (min-width: 43em) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {

}

/* Extra large devices (large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 119em) {

}

//---------------------------------------------------

.mat-dialog-title{
  text-align: center;
}

.mat-dialog-content{
  text-align: center;

  mat-expansion-panel{
    box-shadow: none;
    border-bottom: 1px solid #EFEFEF;

    mat-panel-title{
      width: 80px;
      flex-grow: unset;
    }

    mat-panel-description{
      margin-right: 0px;

      span{
        width: 85%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
      }

      mat-icon{
        position: absolute;
        right: 0px;
        margin-left: 16px;

        &.done{
          color: #1eb980;
        }

        &.undone{
          color: #d32f2f;
        }
      }
    }

    p{
      text-align: left;
    }

    .panelBtns{
      text-align: right;
    }
  }
}

.mat-dialog-actions{
  justify-content: center;

  button{
    &:nth-child(2){
      margin-left: 30px;
    }
  }
}
