//-----SVG-------
$close:"%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%3E%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22%2F%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E";
$close_hover: "%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%3E%3Cpath%20fill%3D%27%23CA181F%27%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22%2F%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E";
//---------------

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43em) {

}

/* Small devices (portrait tablets and large phones, 688px and up) */
@media only screen and (min-width: 43em) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {

}

/* Extra large devices (large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 119em) {

}

//---------------------------------------------------

.closeBtn{
  position: relative;
  float: right;
  width: 45px;
  height: 45px;
  z-index: 2;
  cursor: pointer;
  outline: none;
  background: url("data:image/svg+xml, #{$close}") left center/100% 100% no-repeat !important;

  &:hover{
      background: url("data:image/svg+xml, #{$close_hover}") left center/100% 100% no-repeat !important;
  }
}

.mat-dialog-title{
  text-align: center;

  &.no-record{
    display: inline-block;
    line-height: 45px;
    margin-right: 15px;
  }
}

.mat-dialog-content{
  text-align: center;

  mat-expansion-panel{
    box-shadow: none;
    border-bottom: 1px solid #EFEFEF;

    mat-panel-title{
      width: 80px;
      flex-grow: unset;
    }

    mat-panel-description{
      margin-right: 0px;

      span{
        width: 85%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
      }

      mat-icon{
        position: absolute;
        right: 0px;
        margin-left: 16px;

        &.done{
          color: #1eb980;
        }

        &.undone{
          color: #d32f2f;
        }
      }
    }

    p{
      text-align: left;
    }

    .panelBtns{
      text-align: right;
    }
  }
}

.mat-dialog-actions{
  justify-content: center;

  button{
    &:nth-child(2){
      margin-left: 30px;
    }
  }
}
