<div id="mainScreen">
    <div @slideUpDown *ngIf="displayTop" id="topCurve"></div>

    <app-filter @slideInOut *ngIf="displayFilter" class="filter" [enableFilter]="displayRegisterFromSection"></app-filter>

    <div @slideInOut *ngIf="displayStack" id="image-stack">
        <div @fadeInOut *ngIf="displayCar" id="car">
            <img src="assets/images/car.png">
        </div>

        <div *ngIf="displayCarShadow" class="carShadow"></div>

        <div id="hand">
           <img src="assets/images/key.png">
        </div>
    </div>

    <div @fadeInOut *ngIf="displayTitle" id="title">
        <p>El auto de tus sueños</p>
        <p>Al alcance de tus manos</p>
    </div>

    <div @fadeInOut *ngIf="displayList">
        <form *ngIf="!displayRegisterFromSection" id="searchBar" name="filterForm" novalidate>
            <mat-form-field floatLabel="never">
                <input matInput #searchValue placeholder="Buscar por marca, modelo, etc">
                <button mat-button *ngIf="searchValue.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue.value=''">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-icon *ngIf="!searchValue.value" matSuffix>search</mat-icon>
            </mat-form-field>
        </form>
    </div>

    <div @fadeInOut *ngIf="displayList">
        <app-list @fadeInOut *ngIf="!displayRegisterFromSection" class="content-wrapper-list" (displayMore)="showMore($event)" (verifyClient)="isClientRegistered($event)"></app-list>
    </div>

    <app-register @fadeInOut *ngIf="displayRegisterFromSection" class="content-wrapper-register" (showList)="showList($event)"></app-register>

</div>

