<div id="mainScreen">
    <div id="topCurve"></div>

    <app-filter [enableFilter]="displayRegisterFromSection"></app-filter>

    <div id="image-stack">
        <div id="car">
            <img src="assets/images/car.png">
        </div>

        <div class="carShadow"></div>

        <div id="hand">
           <img src="assets/images/key.png">
        </div>
    </div>

    <div id="title">
        <p>El auto de tus sueños</p>
        <p>Al alcance de tus manos</p>
    </div>

    <form *ngIf="!displayRegisterFromSection" id="searchBar" name="filterForm" novalidate>
        <mat-form-field floatLabel="never">
            <input matInput placeholder="Buscar por marca, modelo, etc" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}">
            <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
              <mat-icon>close</mat-icon>
            </button>
            <mat-icon *ngIf="!searchValue" matSuffix>search</mat-icon>
        </mat-form-field>
    </form>

    <app-list *ngIf="!displayRegisterFromSection" class="content-wrapper-list" (displayMore)="showMore($event)" (verifyClient)="isClientRegistered($event)"></app-list>

    <app-register *ngIf="displayRegisterFromSection" class="content-wrapper-register" (showList)="showList($event)"></app-register>

</div>

