<div id="mainScreen">
    <div id="topCurve" [@slideUpDown]="'down'"></div>

    <app-filter class="filter" [@slideInOut]="'in'" [enableFilter]="displayRegisterFromSection"></app-filter>

    <div id="image-stack" [@slideInOut]="'in'">
        <div id="car">
            <img src="assets/images/car.png">
        </div>

        <div class="carShadow"></div>

        <div id="hand">
           <img src="assets/images/key.png">
        </div>
    </div>

    <div id="title">
        <p>El auto de tus sueños</p>
        <p>Al alcance de tus manos</p>
    </div>

    <form *ngIf="!displayRegisterFromSection" id="searchBar" name="filterForm" novalidate>
        <mat-form-field floatLabel="never">
            <input matInput #searchValue placeholder="Buscar por marca, modelo, etc">
            <button mat-button *ngIf="searchValue.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue.value=''">
              <mat-icon>close</mat-icon>
            </button>
            <mat-icon *ngIf="!searchValue.value" matSuffix>search</mat-icon>
        </mat-form-field>
    </form>

    <app-list *ngIf="!displayRegisterFromSection" class="content-wrapper-list" (displayMore)="showMore($event)" (verifyClient)="isClientRegistered($event)"></app-list>

    <app-register *ngIf="displayRegisterFromSection" class="content-wrapper-register" (showList)="showList($event)"></app-register>

</div>

