//-----SVG-------
$top:"%3Csvg%20id%3D%22Capa_1%22%20data-name%3D%22Capa%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%202040%20429.15%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Aurl%28%23Degradado_sin_nombre%29%3B%7D.cls-2%7Bfill%3Aurl%28%23Degradado_sin_nombre-2%29%3B%7D%3C%2Fstyle%3E%3ClinearGradient%20id%3D%22Degradado_sin_nombre%22%20x1%3D%2260.47%22%20y1%3D%22829.57%22%20x2%3D%2260.47%22%20y2%3D%22828.82%22%20gradientTransform%3D%22matrix%282040%2C%200%2C%200%2C%20-577.16%2C%20-122340.01%2C%20478791.97%29%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%234d4d4d%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23ca181f%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient%20id%3D%22Degradado_sin_nombre-2%22%20x1%3D%221402.22%22%20y1%3D%22734.44%22%20x2%3D%221402.22%22%20y2%3D%22734.44%22%20gradientTransform%3D%22matrix%281%2C%200%2C%200%2C%201%2C%200%2C%200%29%22%20xlink%3Ahref%3D%22%23Degradado_sin_nombre%22%2F%3E%3C%2Fdefs%3E%3Cpath%20id%3D%22Trazado_1%22%20data-name%3D%22Trazado%201%22%20class%3D%22cls-1%22%20d%3D%22M2040%2C327.33c-78.29-21.83-194.27-44.31-332-32-142.26%2C12.73-218.76%2C54.62-341.33%2C88.89-199.37%2C55.75-362.19%2C47-510.23%2C39.11C482.15%2C403.3%2C177.07%2C246.88%2C0%2C135.33V0H2040Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M1402.22%2C734.44%22%2F%3E%3C%2Fsvg%3E";
$login:"%3Csvg%20id%3D%22Capa_1%22%20data-name%3D%22Capa%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20546.93%20557.93%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M0%2C285V269c.77-4.17%2C1.43-8.36%2C2.34-12.49%2C5.25-23.65%2C10.12-47.32%2C20.21-69.66%2C9.48-21%2C19.93-41.33%2C33.64-59.89%2C1-1.31%2C2.05-2.53%2C3.08-3.8l1%2C.76q-5.19%2C9.17-10.37%2C18.33c6.7-7.81%2C12.72-16%2C18.68-24.15%2C1.54-2.12%2C2.89-4.38%2C4.33-6.57l2.81-2.85c6.8-6.8%2C13.65-13.56%2C20.38-20.42C116%2C68%2C136.62%2C48.79%2C162%2C35.5a29.57%2C29.57%2C0%2C0%2C0%2C3.72-2.76L165.4%2C31l-24.17-1.11c5.71-4.31%2C11.58-8.62%2C18.15-10.6a331.06%2C331.06%2C0%2C0%2C1%2C41.09-10c17.35-2.88%2C34.95-4.18%2C52.42-6.32C259%2C2.19%2C264.94%2C1%2C271%2C0h7c2%2C.55%2C4%2C1.11%2C6%2C1.63l64.07%2C16.81c1.12.29%2C2.62%2C1.14%2C3.33.71%2C4.87-2.93%2C8.35.73%2C12.22%2C2.34%2C5.07%2C2.1%2C10%2C4.48%2C15.09%2C6.56%2C19.19%2C7.87%2C37.43%2C17.34%2C53.47%2C30.7%2C6.77%2C5.64%2C13.52%2C11.35%2C20.65%2C16.52%2C29.74%2C21.57%2C50.38%2C50.49%2C67%2C82.64%2C2.79%2C5.41%2C4.4%2C11.43%2C6.55%2C17.16l-1.35.84c-42.77-89.79-116-140.16-211-164.58%2C4.46%2C7.8%2C12.4%2C12.9%2C18.36%2C12l-7.39-3.81.45-1.27c5.72%2C2%2C12.81%2C2.46%2C16.86%2C6.22%2C5.9%2C5.49%2C13%2C6.78%2C19.71%2C8.47%2C6.37%2C1.6%2C12.88%2C1.56%2C17.57%2C7.16%2C1.05%2C1.25%2C3.16%2C1.7%2C4.84%2C2.33%2C4.79%2C1.79%2C9.87%2C3%2C14.34%2C5.38%2C3.13%2C1.66%2C5%2C5.63%2C8.18%2C7.25%2C11.55%2C6%2C21.94%2C13.49%2C32%2C21.6%2C11.61%2C9.32%2C23.44%2C18%2C33.33%2C29.61%2C19.06%2C22.44%2C37.23%2C45.22%2C48.37%2C72.71%2C15.35%2C37.88%2C26.62%2C76.71%2C25.31%2C118.2%2C0%2C1.57.66%2C3.17%2C1%2C4.75v12a8.55%2C8.55%2C0%2C0%2C0-.86%2C2.24c-1.93%2C19.5-3.91%2C39-9.84%2C57.83-2.55%2C8.07-4.1%2C16.51-7.29%2C24.31-3%2C7.31-4.24%2C15.08-9.21%2C22-11%2C15.21-20.37%2C31.52-30.63%2C47.25a41.81%2C41.81%2C0%2C0%2C1-8.43%2C9.81c-20.5%2C16.45-41.76%2C31.68-65.64%2C43.11-21.24%2C10.18-43%2C18.71-65.94%2C24-8.47%2C2-17.1%2C3.25-25.66%2C4.85l-.22-1.08%2C22.54-6.61-.06-1.38c-54.67%2C13.51-107.92%2C7.75-160.15-12l-.35%2C1.73%2C11.25%2C6.45-.65%2C1.82L178.71%2C533c2.73%2C2.85%2C4.95%2C5%2C7%2C7.34%2C2.87%2C3.31%2C5.61%2C6.74%2C8.37%2C10.14%2C2%2C2.45%2C3.95%2C4.94%2C5.91%2C7.41h-1c-8.34-3-17.47-3.63-25-9-3.76-2.71-8-4.74-11.86-7.31-13.41-8.93-27.28-17.29-39.95-27.17-10.94-8.54-20.74-18.62-30.58-28.48-7-7-14.24-14.18-19.66-22.4-9.31-14.13-17.29-29.14-25.83-43.77-.84-1.44-1.55-4-2.55-4.11-5.41-.68-5.08-5.35-6.39-8.66-5.36-13.53-10.47-27.16-15.67-40.75%2C1%2C17.33%2C9%2C32.37%2C16.32%2C47.34%2C7.38%2C15.18%2C17.13%2C29.2%2C25.84%2C43.73l-1.05.74A56.2%2C56.2%2C0%2C0%2C1%2C59%2C453.68a305.22%2C305.22%2C0%2C0%2C1-39-78.22c-3.39-10.4-7.61-20.67-9.65-31.34C8%2C332.44%2C8.61%2C320.24%2C6.65%2C308.48c-1.92-11.46.19-22.85-1-34.35-1-9.4%2C2.32-19.27%2C4-28.89.71-4.2%2C2-8.3%2C3.06-12.45%2C1.52-5.57%2C3-11.15%2C4.6-16.7%2C1.86-6.35%2C3.85-12.67%2C5.78-19l-1.19-.37c-2.78%2C8.47-5.77%2C16.87-8.21%2C25.44-1%2C3.36-.69%2C7.09-1%2C10.65-1.56%2C3.4-3.89%2C6.67-4.56%2C10.24C5.78%2C255.39%2C4.05%2C267.86%2C2%2C280.26%2C1.69%2C281.89.67%2C283.4%2C0%2C285ZM395.93%2C524.9c12.21-3.64%2C23.31-9.53%2C33.81-16.65A68.25%2C68.25%2C0%2C0%2C0%2C419.1%2C513c-7.7%2C4-15.39%2C8-23.08%2C12.06l-27.27%2C9.17.78%2C2Zm45.52-105.28c-.24-4.87-.15-9.35-.74-13.74C432.74%2C346%2C383.65%2C303.12%2C323%2C303.1q-49.74%2C0-99.48%2C0a97.73%2C97.73%2C0%2C0%2C0-16.42%2C1.09c-50.62%2C8.85-83.38%2C37.93-97.69%2C87.34a78.68%2C78.68%2C0%2C0%2C0-3.2%2C28.05Zm-167.75-315c-50.44%2C0-91.61%2C41.22-91.56%2C91.63s41.22%2C91.65%2C91.58%2C91.65a91.64%2C91.64%2C0%2C1%2C0%2C0-183.28ZM464.32%2C431.64l-1.67-1.4c-1.79%2C2.36-3.65%2C4.67-5.35%2C7.09-1.5%2C2.14-2.46%2C4.78-4.3%2C6.54-5.73%2C5.52-11.76%2C10.72-17.65%2C16.07-.17.15-.12.54-.25%2C1.22l3.35-1.5c.31.47.63.93.94%2C1.39-5.21%2C3.88-10.14%2C8.25-15.71%2C11.53-8%2C4.69-15.58%2C9.66-21.25%2C17.28a139.13%2C139.13%2C0%2C0%2C0%2C39.35-23.47C452.65%2C457.31%2C457.51%2C443.7%2C464.32%2C431.64Zm-389%2C20c-.43-5.76-10.36-22-15.16-25.42C62.58%2C436.61%2C70%2C443.55%2C75.33%2C451.63ZM54.69%2C429.1c4%2C10%2C9.54%2C18.76%2C18.83%2C24.49Zm-8-30.48-1.49.46q4.05%2C9.3%2C8.12%2C18.59l1.77-.77ZM437.07%2C503.1l.85%2C1.38%2C17.74-11-1.1-1.74ZM25.27%2C188.19l1.36.63L37%2C166.66l-1.3-.59Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M72.93%2C111.5l-5.44%2C5-.44-.26%2C8.23-11.77.46%2C4.23Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M308.11%2C4.22c22.94-5.55%2C117.57%2C35%2C135.41%2C57.83C402.94%2C32.14%2C358%2C12.4%2C308.11%2C4.22Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M508.66%2C128.52q8.83%2C15%2C17.65%2C30l-1.55.93-17.71-29.78Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M542.88%2C216.5l3.43%2C16.88-1.62.34q-1.74-8.44-3.47-16.88Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M300.05%2C548.6l14.35-1.39.16.9-14.19%2C2.49C300.26%2C549.94%2C300.15%2C549.27%2C300.05%2C548.6Z%22%2F%3E%3C%2Fsvg%3E";
$login_hover:"%3Csvg%20id%3D%22Capa_1%22%20data-name%3D%22Capa%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20546.93%20557.93%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M271%2C0h7c2%2C.55%2C4%2C1.11%2C6%2C1.63l64.07%2C16.81c1.12.29%2C2.62%2C1.14%2C3.33.71%2C4.87-2.93%2C8.35.73%2C12.22%2C2.34%2C5.07%2C2.1%2C10%2C4.48%2C15.09%2C6.56%2C19.19%2C7.87%2C37.43%2C17.34%2C53.47%2C30.7%2C6.77%2C5.64%2C13.52%2C11.35%2C20.65%2C16.52%2C29.74%2C21.57%2C50.38%2C50.49%2C67%2C82.64%2C2.79%2C5.41%2C4.4%2C11.43%2C6.55%2C17.16l-1.35.84c-42.77-89.79-116-140.16-211-164.58%2C4.46%2C7.8%2C12.4%2C12.9%2C18.36%2C12l-7.39-3.81.45-1.27c5.72%2C2%2C12.81%2C2.46%2C16.86%2C6.22%2C5.9%2C5.49%2C13%2C6.78%2C19.71%2C8.47%2C6.37%2C1.6%2C12.88%2C1.56%2C17.57%2C7.16%2C1.05%2C1.25%2C3.16%2C1.7%2C4.84%2C2.33%2C4.79%2C1.79%2C9.87%2C3%2C14.34%2C5.38%2C3.13%2C1.66%2C5%2C5.63%2C8.18%2C7.25%2C11.55%2C6%2C21.94%2C13.49%2C32%2C21.6%2C11.61%2C9.32%2C23.44%2C18%2C33.33%2C29.61%2C19.06%2C22.44%2C37.23%2C45.22%2C48.37%2C72.71%2C15.35%2C37.88%2C26.62%2C76.71%2C25.31%2C118.2%2C0%2C1.57.66%2C3.17%2C1%2C4.75v12a8.55%2C8.55%2C0%2C0%2C0-.86%2C2.24c-1.93%2C19.5-3.91%2C39-9.84%2C57.83-2.55%2C8.07-4.1%2C16.51-7.29%2C24.31-3%2C7.31-4.24%2C15.08-9.21%2C22-11%2C15.21-20.37%2C31.52-30.63%2C47.25a41.81%2C41.81%2C0%2C0%2C1-8.43%2C9.81c-20.5%2C16.45-41.76%2C31.68-65.64%2C43.11-21.24%2C10.18-43%2C18.71-65.94%2C24-8.47%2C2-17.1%2C3.25-25.66%2C4.85l-.22-1.08%2C22.54-6.61-.06-1.38c-54.67%2C13.51-107.92%2C7.75-160.15-12l-.35%2C1.73%2C11.25%2C6.45-.65%2C1.82L178.71%2C533c2.73%2C2.85%2C4.95%2C5%2C7%2C7.34%2C2.87%2C3.31%2C5.61%2C6.74%2C8.37%2C10.14%2C2%2C2.45%2C3.95%2C4.94%2C5.91%2C7.41h-1c-8.34-3-17.47-3.63-25-9-3.76-2.71-8-4.74-11.86-7.31-13.41-8.93-27.28-17.29-39.95-27.17-10.94-8.54-20.74-18.62-30.58-28.48-7-7-14.24-14.18-19.66-22.4-9.31-14.13-17.29-29.14-25.83-43.77-.84-1.44-1.55-4-2.55-4.11-5.41-.68-5.08-5.35-6.39-8.66-5.36-13.53-10.47-27.16-15.67-40.75%2C1%2C17.33%2C9%2C32.37%2C16.32%2C47.34%2C7.38%2C15.18%2C17.13%2C29.2%2C25.84%2C43.73l-1.05.74A56.2%2C56.2%2C0%2C0%2C1%2C59%2C453.68a305.22%2C305.22%2C0%2C0%2C1-39-78.22c-3.39-10.4-7.61-20.67-9.65-31.34C8%2C332.44%2C8.61%2C320.24%2C6.65%2C308.48c-1.92-11.46.19-22.85-1-34.35-1-9.4%2C2.32-19.27%2C4-28.89.71-4.2%2C2-8.3%2C3.06-12.45%2C1.52-5.57%2C3-11.15%2C4.6-16.7%2C1.86-6.35%2C3.85-12.67%2C5.78-19l-1.19-.37c-2.78%2C8.47-5.77%2C16.87-8.21%2C25.44-1%2C3.36-.69%2C7.09-1%2C10.65-1.56%2C3.4-3.89%2C6.67-4.56%2C10.24C5.78%2C255.39%2C4.05%2C267.86%2C2%2C280.26c-.28%2C1.63-1.3%2C3.14-2%2C4.7V269c.77-4.17%2C1.43-8.36%2C2.34-12.49%2C5.25-23.65%2C10.12-47.32%2C20.21-69.66%2C9.48-21%2C19.93-41.33%2C33.64-59.89%2C1-1.31%2C2.05-2.53%2C3.08-3.8l1%2C.76q-5.19%2C9.17-10.37%2C18.33c6.7-7.81%2C12.72-16%2C18.68-24.15%2C1.54-2.12%2C2.89-4.38%2C4.33-6.57l2.81-2.85c6.8-6.8%2C13.65-13.56%2C20.38-20.42C116%2C68%2C136.62%2C48.79%2C162%2C35.5a29.57%2C29.57%2C0%2C0%2C0%2C3.72-2.76L165.4%2C31l-24.17-1.11c5.71-4.31%2C11.58-8.62%2C18.15-10.6a331.06%2C331.06%2C0%2C0%2C1%2C41.09-10c17.35-2.88%2C34.95-4.18%2C52.42-6.32C259%2C2.19%2C264.94%2C1%2C271%2C0Zm125%2C524.9c12.21-3.64%2C23.31-9.53%2C33.81-16.65A68.25%2C68.25%2C0%2C0%2C0%2C419.1%2C513c-7.7%2C4-15.39%2C8-23.08%2C12.06l-27.27%2C9.17.78%2C2Zm-122.28-1c130.06%2C1.07%2C245-105.62%2C245-244.63C518.6%2C140.52%2C406.68%2C36.13%2C278%2C33.85c-134.74-2.39-249.59%2C105.51-249.62%2C245S142.25%2C524.87%2C273.65%2C523.93ZM75.5%2C451.52c-1.71-10.27-9.66-16.89-14.69-25.26C62.49%2C436.54%2C69.93%2C443.44%2C75.5%2C451.52ZM54.71%2C429.09c3.87%2C10.2%2C9.7%2C18.76%2C18.88%2C24.62ZM46.57%2C398.5l-1.43.76%2C8.19%2C18.3L55%2C416.8Q50.8%2C407.65%2C46.57%2C398.5Zm409.15%2C95-1.09-1.75L437%2C503.12l.83%2C1.36ZM37.09%2C166.64l-1.37-.57q-5.24%2C11.06-10.45%2C22.12l1.33.61Q31.85%2C177.71%2C37.09%2C166.64Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M72.93%2C111.5l-5.44%2C5-.44-.26%2C8.23-11.77.46%2C4.23Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M308.17%2C4C336.56%2C1%2C424.69%2C38.93%2C443.57%2C62%2C403%2C32.17%2C358%2C12.38%2C308.17%2C4Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M508.66%2C128.52q8.82%2C15%2C17.65%2C30l-1.55.93-17.71-29.78Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M542.92%2C216.53l3.36%2C16.7-1.56.32-3.54-16.71Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M300%2C548.61l14.43-1.41.17.85-14.19%2C2.58Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M106%2C419.51c.33-25%2C7.34-47.37%2C21.62-67.21%2C19.76-27.46%2C46.79-43.24%2C80.16-48.17a113.06%2C113.06%2C0%2C0%2C1%2C15.94-1q50-.12%2C100%2C0c57.35%2C0%2C105.41%2C39.73%2C116%2C96%2C1.24%2C6.6%2C1.39%2C13.42%2C2.07%2C20.44Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M365.42%2C196.55a91.65%2C91.65%2C0%2C0%2C1-92.32%2C91.31c-50.31-.31-91.24-41.84-91-92.27a91.64%2C91.64%2C0%2C0%2C1%2C183.28%2C1Z%22%2F%3E%3C%2Fsvg%3E";
//---------------

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43em) {

}

/* Small devices (portrait tablets and large phones, 688px and up) */
@media only screen and (min-width: 43em) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {
    #mainScreen {
        #topCurve{
            width: 112%;
            height: 40%;
        }

        #image-stack{
            width: 21%;
        }

        #title{
            left: 47%;
            top: 25px;
            font-size: 25pt;

            p:nth-child(2){
                font-size: 44pt;
            }
        }

        #searchBar{
            left: 47%;
            ::ng-deep .mat-form-field-flex {
                padding: 4px 15px;
                font-size: 11pt;
            }
        }

        .login{
            top: 25px;
            right: 25px;
    
            .no-profile{
                width: 50px;
                height: 50px;
            }
        }
        
        .pulse {
            top: 26px;
            right: 26px;
            width: 47px;
            height: 47px;
        }

        #list-form-wrapper{
            top: 46%;
            height: 44%;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 119em) {
    #mainScreen {
        #topCurve{
            width: 100%;
            height: 41.4%;
        }

        #image-stack{
            width: 25%;
        }

        #title{
            left: 50%;
            top: 35px;
            font-size: 45pt;

            p:nth-child(2){
                font-size: 64pt;
            }
        }

        #searchBar{
            left: 50%;
            ::ng-deep .mat-form-field-flex {
                padding: 6px 20px;
                font-size: 14pt;
            }
        }

        .login{
            top: 35px;
            right: 35px;
    
            .no-profile{
                width: 70px;
                height: 70px;
            }
        }

        .pulse {
            top: 37px;
            right: 37px;
            width: 65px;
            height: 65px;
        }

        #list-form-wrapper{
            top: 50%;
            height: 40%;
        }
    }
}

//------Animations---------
//Pulse animation
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    70% {
        -moz-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

//------Animations---------

//Float animation
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-25px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes float-shadow {
	0% {
        opacity: 0.4;
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	}
	50% {
        opacity: 0;
		box-shadow: 0 20px 15px 0px rgba(0,0,0,0.2);
	}
	100% {
        opacity: 0.4;
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	}
}

//-------------------------

#mainScreen{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #EFEFEF;

    img{
        width: 100%;
        height: auto;
    }

    #topCurve{
        position: fixed;
        z-index: 0;
        top: 0px;
        left: 0px;
        background: url("data:image/svg+xml, #{$top}") left center/100% 100% no-repeat !important;
    }

    #image-stack{
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        position: absolute;
        top: 0px;
        left: 25%;
        z-index: 1;

        #car{
            grid-column: 8/4;
            grid-row: 1;
            z-index: 4;
            padding-top: 40%;
            animation: float 5s ease-in-out infinite;
        }

        .carShadow{
            content: "";
            position: absolute;
            z-index: 3;
            top: 34%;
            left: 36%;
            border-radius: 15px;
            transform: rotate(32deg) skewX(-25deg);
            width: 35%;
            height: 14%;
            background: black;
            animation: float-shadow 5s ease-in-out infinite;
        }

        #hand{
            grid-column: 1/10;
            grid-row: 1;
            z-index: 2;
            padding-top: 0%;
        }
    }

    #title{
        position: absolute;
        font-family: "ubuntu", "arial", sans-serif;
        color: white;
        line-height: normal;

        p:nth-child(2){
            font-weight: bold;
        }
    }

    #searchBar{
        position: absolute;
        top: 26%;
        color: #AFAFAF;
        width: 20%;

        ::ng-deep .mat-form-field-flex {
            background-color: white;
            align-items: center;
            border-radius: 30px;
        }

        ::ng-deep .mat-form-field-infix {
            border-top: none;

            label{
                color: #AFAFAF;
            }
        }

        ::ng-deep .mat-form-field-underline {
            height: 0px;

            .mat-form-field-ripple{
                height: 0px;
            }
        }

        mat-form-field {
            width: 100%;

            input{
                font-family: 'palanquin', 'arial', sans-serif;
                color: #AFAFAF;
                font-size: 15pt;
            }
        }
    }

    .login{
        color: white;
        font-family: 'palanquin', 'arial', sans-serif;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        position: absolute;
        z-index: 1;
        display: flex;
        transition: all 0.5s;

        .no-profile{
            background: url("data:image/svg+xml, #{$login}") left center/100% 100% no-repeat !important;
            transition: all 0.5s;
        }

        &:hover{
            .no-profile{
                background: url("data:image/svg+xml, #{$login_hover}") left center/100% 100% no-repeat !important;
            }
        }
    }
    
    .pulse {
        position: absolute;
        display: block;
        border-radius: 50%;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
        -webkit-animation: pulse 2s infinite;
        animation: pulse 2s infinite;
    }

    .pulse:hover {
        animation: none;
    }

    #list-form-wrapper{
        position: absolute;
        left: 29%;
        width: 60%;
    }

    .component-wrapper{
        position: fixed;
        top: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}