<div id="mainScreen">
    <div id="topCurve"></div>

    <app-filter [disableFilter]="disableFilter"></app-filter>

    <div id="image-stack">
        <div id="car">
            <img src="assets/images/car.png">
        </div>

        <div class="carShadow"></div>

        <div id="hand">
           <img src="assets/images/key.png">
        </div>
    </div>

    <div id="title">
        <p>El auto de tus sueños</p>
        <p>Al alcance de tus manos</p>
    </div>

    <form *ngIf="displaySearch" id="searchBar" name="filterForm" novalidate>
        <mat-form-field floatLabel="never">
            <input matInput placeholder="Buscar por marca, modelo, etc">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </form>

    <span *ngIf="!displayProfile" class="pulse"></span>
    <div class="login" (click)="showLogin()">
        <div *ngIf="!displayProfile" id="noLogin" class="no-profile"></div>
        <div *ngIf="displayProfile" [matMenuTriggerFor]="menu" id="Login" class="profile"></div>
        <div *ngIf="displayProfile" [matMenuTriggerFor]="menu" class="profileFrame"><div class="profileContent"></div></div>
    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Perfil</span>
        </button>
        <button mat-menu-item>
          <mat-icon>directions_car</mat-icon>
          <span>Vehículos</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>home_repair_service</mat-icon>
          <span>Taller</span>
        </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>Salir</span>
        </button>
    </mat-menu>

    <app-list *ngIf="displayList" class="content-wrapper-list" (displayMore)="showMore($event)" (verifyClient)="isClientRegistered($event)"></app-list>

    <app-register *ngIf="displayRegister" class="content-wrapper-register" (showList)="showList($event)" (disableFilter)="disableFilterMethod($event)"></app-register>

    <app-login *ngIf="displayLogin" class="component-wrapper" (displayLogin)="hideLogin($event)" (displayRegister)="showRegister($event)" (disableFilter)="disableFilterMethod($event)" [noRegisteredClient]="noRegisteredClient"></app-login>

    <app-more *ngIf="displayMore" class="component-wrapper" (displayMore)="showMore($event)"></app-more>

</div>

