<div id="mainScreen">
    <div id="topCurve"></div>

    <app-filter></app-filter>

    <div id="image-stack">
        <div id="car">
            <img src="assets/images/car.png">
        </div>

        <div class="carShadow"></div>

        <div id="hand">
           <img src="assets/images/key.png">
        </div>
    </div>

    <div id="title">
        <p>El auto de tus sueños</p>
        <p>Al alcance de tus manos</p>
    </div>

    <form id="searchBar" name="filterForm" novalidate>
        <mat-form-field floatLabel="never">
            <input matInput placeholder="Buscar por marca, modelo, etc">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </form>

    <span class="pulse"></span>
    <div class="login" (click)="showLogin()">
        <div class="no-profile"></div>
    </div>

    <app-list id="list-form-wrapper" (displayMore)="showMore($event)"></app-list>

    <app-login *ngIf="displayLogin" class="component-wrapper" (displayLogin)="hideLogin($event)"></app-login>

    <app-more *ngIf="displayMore" class="component-wrapper" (displayMore)="showMore($event)"></app-more>

</div>

