<app-toolbar @fadeIn *ngIf="displayToolbar" id="toolbar" (displayLoginFromToolbar)="showLogin($event)" (homeBtn)="goToMain($event)" [displayProfile]="showProfileStatus" [changeTopLinksClass]="changeTopLinksClassStatus" [changeLoginClass]="changeLoginClassStatus"></app-toolbar>

<app-side-scroll @fadeIn *ngIf="displaySideScroll" id="sideScroll" (slideStatus)="changeActivePane($event)" [activeSection]="activePane" (awaitAnimation)="awaitAnimation($event)"></app-side-scroll>

<div class="parent"> 
    <div class="children">
        <router-outlet class="appChild" (activate)="onActivate($event)"></router-outlet>
    </div>      
</div>

<div @fadeOut *ngIf="displayLogin || displayMore || displaySuccess" class="blackScreen">
    <app-login *ngIf="displayLogin" class="component-wrapper" (displayLogin)="hideLogin($event)" (displayProfile)="showProfile($event)" (displayRegister)="showRegister($event)" (changeToolbarClassFromLogin)="changeTopLinksClass($event)" (displaySuccess)="toggleSuccess($event)" [noRegisteredClient]="noRegisteredClient"></app-login>
    
    <app-more *ngIf="displayMore" class="component-wrapper" (displayMore)="showMore($event)" (verifyClientFromMore)="showLogin($event)"></app-more>

    <app-success *ngIf="displaySuccess" class="component-wrapper" (displaySuccess)="toggleSuccess($event)" [changeSuccessContent]="changeSuccessContent"></app-success>
</div>