<div class="cdk-overlay-backdrop mat-overlay-transparent-backdrop cdk-overlay-backdrop-showing" (click)="closePicker()"></div>
<div class="cdk-overlay-connected-position-bounding-box">
  <div id="colorPicker" class="color-picker cdk-overlay-pane" [ngStyle]="{'top.px': topPosition, 'left.px': position.left}">
    <div class="opened">
      <div class="title">
        <p>SELECCIONE UN COLOR</p>
      </div>

      <div class="line"></div>

      <div class="colors">
        <div #colorsPalette (mouseover)="changeColorName(paint)" (mouseout)='changeColorName("")' (click)="changeColor(paint)" *ngFor="let paint of colorHex; let i = index" class="circle" [ngStyle]="{'background': paint}">
          <div class="selectedColor_wrapper" *ngIf="i === colorIndex">
            <div class="selectedColor_check_circle">
              <svg version="1.1" role="presentation" width="12" height="12" viewBox="0 0 1792 1792" class="check"><path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" class="vue-swatches__check__path"></path></svg>
            </div>
          </div>
        </div>
      </div>

      <div class="hex-code">
        <p>{{ colorName }}</p>
      </div>
    </div>

  </div>
</div>
