<div class="color-picker">
  <div *ngIf="show" class="opened">
    <div class="title">
      <p>SELECCIONE UN COLOR</p>
    </div>

    <div class="colors">
      <div (click)="changeColor(paint)" *ngFor="let paint of colorHex" class="circle"
           [ngStyle]="{'background': paint}"></div>
    </div>

    <div class="hex-code">
      <p>{{ colorName }}</p>
    </div>
  </div>
  
  <div class="summary-info" (click)="toggleColors()">
    <div class="info">
      <p class="style">{{ heading }}</p>
      <p class="style-value">{{ colorName }}</p>
    </div>

    <div class="circle" [ngStyle]="{'background': color}"></div>
  </div>
</div>
