//-----SVG-------
$logoMini:"%3Csvg%20id%3D%22Capa_1%22%20data-name%3D%22Capa%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201910.87%201821.94%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23ca181f%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M189%2C1814q.06-76.14%2C0-152.27c0-.85.37-4-1.56-6-1.67-1.71-4.33-1.82-6.29-1.65l-40.69-.24a23.58%2C23.58%2C0%2C0%2C0-16.1%2C8.92l-29.65%2C48-29.71-48A23.53%2C23.53%2C0%2C0%2C0%2C49%2C1653.88l-40.68.24c-2-.17-4.62-.06-6.29%2C1.65-1.93%2C2-1.56%2C5.11-1.56%2C6q0%2C76.1%2C0%2C152.23c0%2C.87-.38%2C4.09%2C1.59%2C6.06%2C1.66%2C1.67%2C4.28%2C1.76%2C6.19%2C1.59l39.48.1c2.06.31%2C5.43.47%2C7.47-1.55%2C2.26-2.25%2C1.77-6.06%2C1.64-7.25-.78-7.26-.47-32.35.44-68.67l37.52%2C52.35%2C37.47-52.35c.91%2C36.32%2C1.22%2C61.41.44%2C68.67-.13%2C1.19-.62%2C5%2C1.64%2C7.25%2C2%2C2%2C5.41%2C1.86%2C7.47%2C1.55l39.48-.1c1.91.17%2C4.53.08%2C6.19-1.59C189.39%2C1818.12%2C189%2C1814.87%2C189%2C1814Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1298.39%2C1749.12l-.54%2C65.65a6.74%2C6.74%2C0%2C0%2C1-1.8%2C5.11%2C6.92%2C6.92%2C0%2C0%2C1-5.4%2C2l-41-.2a7.12%2C7.12%2C0%2C0%2C1-5.83-2.1%2C6.94%2C6.94%2C0%2C0%2C1-1.72-5V1662.17a7.43%2C7.43%2C0%2C0%2C1%2C2.39-6.31%2C7.29%2C7.29%2C0%2C0%2C1%2C5.68-1.57l34.5-.07a18.85%2C18.85%2C0%2C0%2C1%2C16%2C7.56l52.52%2C62.34.2-61.54a6.75%2C6.75%2C0%2C0%2C1%2C8-8.24h40.51a7.25%2C7.25%2C0%2C0%2C1%2C7.57%2C6.91%2C7.66%2C7.66%2C0%2C0%2C1%2C0%2C.83v152.27a7.05%2C7.05%2C0%2C0%2C1-1.45%2C5.18%2C7.35%2C7.35%2C0%2C0%2C1-6.32%2C2.36c-13.85%2C0-24.83-.16-32-.21a20.43%2C20.43%2C0%2C0%2C1-9.17-1.89%2C20%2C20%2C0%2C0%2C1-6.88-5.63C1349.05%2C1808.49%2C1327.71%2C1783.53%2C1298.39%2C1749.12Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M866.94%2C1766.76l37.23%2C54.81c-27.15.2-47.19.19-54.59.35a17.28%2C17.28%2C0%2C0%2C1-8.73-1.85%2C16.33%2C16.33%2C0%2C0%2C1-6.56-6.44l-25-37.18-12-.17-.33%2C36a9.27%2C9.27%2C0%2C0%2C1-1.74%2C5.91c-2.91%2C3.9-7.9%2C3.65-8.29%2C3.62h-37a9.51%2C9.51%2C0%2C0%2C1-7.32-3.15%2C9.14%2C9.14%2C0%2C0%2C1-2.14-5.84V1662.54a7.43%2C7.43%2C0%2C0%2C1%2C1.43-5.85%2C7.22%2C7.22%2C0%2C0%2C1%2C7-2.46c12.41-.17%2C32.06-.38%2C57-.47h0s31.88%2C0%2C47%2C3c19.42%2C3.91%2C45.82%2C26.94%2C46.25%2C56.89C899.58%2C1746.48%2C868.59%2C1765.76%2C866.94%2C1766.76Zm-70-39.46c0%2C1.31.12%2C3.69%2C1.76%2C5.16a6.3%2C6.3%2C0%2C0%2C0%2C4.57%2C1.26c8.78-.49%2C17.62-.6%2C26.32-1.77%2C8.13-1.08%2C12.22-7%2C11.93-15.22-.27-7.87-4.73-13.11-12.89-13.91-8.59-.83-17.26-.89-25.89-1.26a5.79%2C5.79%2C0%2C0%2C0-4.19%2C1.21%2C6.06%2C6.06%2C0%2C0%2C0-1.6%2C4.59c-.07%2C1.76-.25%2C11.12-.05%2C19.94Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1873.64%2C1766.76l37.23%2C54.81c-27.15.2-47.19.19-54.59.35a17.29%2C17.29%2C0%2C0%2C1-8.74-1.85%2C16.46%2C16.46%2C0%2C0%2C1-6.56-6.44l-25-37.18-12-.17-.33%2C36a9.33%2C9.33%2C0%2C0%2C1-1.74%2C5.91c-2.91%2C3.9-7.9%2C3.65-8.29%2C3.62h-37a9.53%2C9.53%2C0%2C0%2C1-7.33-3.15%2C9.18%2C9.18%2C0%2C0%2C1-2.13-5.84V1662.54a7.43%2C7.43%2C0%2C0%2C1%2C1.43-5.85%2C7.22%2C7.22%2C0%2C0%2C1%2C7-2.46c12.41-.17%2C32.06-.38%2C57-.47h0s31.89%2C0%2C47%2C3c19.41%2C3.91%2C45.82%2C26.94%2C46.24%2C56.89C1906.27%2C1746.48%2C1875.29%2C1765.76%2C1873.64%2C1766.76Zm-70-39.46c0%2C1.31.12%2C3.69%2C1.76%2C5.16a6.32%2C6.32%2C0%2C0%2C0%2C4.56%2C1.26c8.79-.49%2C17.63-.6%2C26.33-1.77%2C8.12-1.08%2C12.22-7%2C11.93-15.22-.27-7.87-4.73-13.11-12.9-13.91-8.58-.83-17.25-.89-25.88-1.26a5.75%2C5.75%2C0%2C0%2C0-4.19%2C1.21%2C6%2C6%2C0%2C0%2C0-1.6%2C4.59c-.07%2C1.76-.26%2C11.12-.05%2C19.94Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M288.87%2C1653.88a84%2C84%2C0%2C1%2C0%2C84%2C84%2C84%2C84%2C0%2C0%2C0-84-84Zm0%2C118.14A34.11%2C34.11%2C0%2C1%2C1%2C323%2C1737.91h0A34.11%2C34.11%2C0%2C0%2C1%2C288.87%2C1772Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M634.39%2C1653.88a84%2C84%2C0%2C1%2C0%2C84%2C84%2C84%2C84%2C0%2C0%2C0-84-84Zm0%2C118.14a34.11%2C34.11%2C0%2C1%2C1%2C34.11-34.11h0A34.11%2C34.11%2C0%2C0%2C1%2C634.39%2C1772Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1083.21%2C1664.27a9.24%2C9.24%2C0%2C0%2C1%2C2.09-6.81%2C9.48%2C9.48%2C0%2C0%2C1%2C7.62-3.13h124.52a8.73%2C8.73%2C0%2C0%2C1%2C7%2C2.24%2C9%2C9%2C0%2C0%2C1%2C2.42%2C7.82c0%2C12.08%2C0%2C21.43.17%2C27.44%2C0%2C1.33.16%2C4.19-1.7%2C6.4s-5.13%2C2.75-6.83%2C2.83l-73.4.08a7%2C7%2C0%2C0%2C0-5.1%2C2.15%2C7.51%2C7.51%2C0%2C0%2C0-1.57%2C5.06c-.07%2C1.63-.2%2C4.42%2C1.81%2C6.52a7.29%2C7.29%2C0%2C0%2C0%2C4.44%2C2.08l68.56.16a5.87%2C5.87%2C0%2C0%2C1%2C4.87%2C1.23%2C6%2C6%2C0%2C0%2C1%2C1.82%2C5.28l.11%2C28c.16%2C1.57.06%2C3.53-1.18%2C4.81-1.49%2C1.52-3.92%2C1.35-4.65%2C1.3-4.75-.26-31.83-.11-69.3.16a6.68%2C6.68%2C0%2C0%2C0-4.44%2C1.84c-1.64%2C1.67-1.66%2C3.85-1.67%2C6.64%2C0%2C3.06%2C0%2C6%2C2.12%2C7.87a6.74%2C6.74%2C0%2C0%2C0%2C4.41%2C1.42l75-.13a8%2C8%2C0%2C0%2C1%2C5.14%2C2.07%2C8.35%2C8.35%2C0%2C0%2C1%2C2.51%2C6.6v28.91a8.47%2C8.47%2C0%2C0%2C1-1.74%2C5.82%2C8.84%2C8.84%2C0%2C0%2C1-7.21%2C3l-129-.09a5.79%2C5.79%2C0%2C0%2C1-6.49-7.75Q1083.39%2C1739.17%2C1083.21%2C1664.27Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1588.54%2C1664.27a9.25%2C9.25%2C0%2C0%2C1%2C2.1-6.81%2C9.48%2C9.48%2C0%2C0%2C1%2C7.62-3.13h124.51a8.74%2C8.74%2C0%2C0%2C1%2C7%2C2.24%2C9%2C9%2C0%2C0%2C1%2C2.41%2C7.82c0%2C12.08%2C0%2C21.43.17%2C27.44%2C0%2C1.33.17%2C4.19-1.69%2C6.4s-5.14%2C2.75-6.84%2C2.83l-73.43.06a7%2C7%2C0%2C0%2C0-5.1%2C2.15%2C7.51%2C7.51%2C0%2C0%2C0-1.57%2C5.06c-.07%2C1.63-.2%2C4.42%2C1.82%2C6.52a7.24%2C7.24%2C0%2C0%2C0%2C4.44%2C2.08l68.55.16a5.89%2C5.89%2C0%2C0%2C1%2C4.88%2C1.23%2C6%2C6%2C0%2C0%2C1%2C1.81%2C5.28l.11%2C28c.16%2C1.57.07%2C3.53-1.18%2C4.81-1.49%2C1.52-3.92%2C1.35-4.65%2C1.3-4.74-.26-31.83-.11-69.29.16a6.68%2C6.68%2C0%2C0%2C0-4.44%2C1.84c-1.65%2C1.67-1.66%2C3.85-1.68%2C6.64%2C0%2C3.06%2C0%2C6%2C2.12%2C7.87a6.77%2C6.77%2C0%2C0%2C0%2C4.42%2C1.42l75-.13a8%2C8%2C0%2C0%2C1%2C5.14%2C2.07%2C8.39%2C8.39%2C0%2C0%2C1%2C2.5%2C6.6v28.91a8.42%2C8.42%2C0%2C0%2C1-1.73%2C5.82%2C8.87%2C8.87%2C0%2C0%2C1-7.21%2C3l-129-.09a5.79%2C5.79%2C0%2C0%2C1-6.49-7.75Q1588.68%2C1739.16%2C1588.54%2C1664.27Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1021.6%2C1750.61c-5.88%2C12.89-18.06%2C21.29-31.07%2C21.41-17.54.15-34.11-14.75-34.11-34.11s16.69-34.1%2C34.11-34.11c12.76%2C0%2C24.8%2C7.84%2C31.07%2C20.14l43.45-24.77c-1.15-2-27.52-45.45-74.52-45.29-42.42.14-84%2C35.75-84%2C84s41.48%2C83.9%2C84%2C84c30.49.1%2C59.36-18.09%2C75.38-46.86Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M533.27%2C1654.24c1.63-.21%2C5-.39%2C7%2C1.67s1.7%2C5%2C1.7%2C7.17v31.46c0%2C6.1-2.06%2C8-8.16%2C7.9q-15.75-.15-31.46-.15c-2.3%2C0-5.34%2C0-7.44%2C2s-2.23%2C5.38-2.12%2C7.13l.26%2C99.85c.26%2C2.1.46%2C6.2-2.07%2C8.68-2.35%2C2.31-5.85%2C2-8.85%2C1.9-11.82-.19-23.65-.16-35.48%2C0-2.82%2C0-6.37.47-8.69-1.83s-2.2-6.29-1.93-8.37l.15-98.87c.27-2%2C.54-6.1-2-8.61-2-2-4.88-2-8.52-1.92-10.31.27-20.63%2C0-31%2C.29-1.33%2C0-4%2C.09-5.78-1.65s-1.79-4.58-1.8-5.88q-.12-16.71%2C0-33.44c0-1.3-.21-4%2C1.55-5.8s4.61-1.7%2C6.05-1.55Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1567.74%2C1654.24c1.63-.21%2C5-.39%2C7%2C1.67s1.69%2C5%2C1.7%2C7.17v31.46c0%2C6.1-2.06%2C8-8.16%2C7.9q-15.73-.15-31.46-.15c-2.29%2C0-5.34%2C0-7.44%2C2s-2.23%2C5.38-2.12%2C7.13l.26%2C99.85c.26%2C2.1.46%2C6.2-2.07%2C8.68-2.35%2C2.31-5.85%2C2-8.85%2C1.9-11.82-.19-23.65-.16-35.48%2C0-2.82%2C0-6.37.47-8.68-1.83s-2.21-6.29-1.94-8.37q.06-49.44.16-98.87c.26-2%2C.53-6.1-2-8.61-2-2-4.88-2-8.52-1.92-10.31.27-20.63%2C0-31%2C.29-1.32%2C0-4%2C.09-5.78-1.65s-1.79-4.58-1.8-5.88c-.07-11.14-.09-22.29%2C0-33.44%2C0-1.3-.21-4%2C1.55-5.8s4.61-1.7%2C6-1.55Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1858%2C1245.47a451.45%2C451.45%2C0%2C0%2C0-29.54-42.56%2C469.31%2C469.31%2C0%2C0%2C0-134.23-116.29%2C370.67%2C370.67%2C0%2C0%2C1-38.71-42.08c-48-60.79-60.07-109.3-114-208.6-13.06-23.82-29.34-42.28-49.78-54.47A131.34%2C131.34%2C0%2C0%2C0%2C1431.08%2C764c-282.88-16.44-473.57-16.87-473.57-16.87-118.39-.28-227%2C3.53-444.15%2C11.15-16.43.56-55.18%2C2.43-93.61%2C26.05q-42.48%2C26.16-68.85%2C78.41c-34.06%2C67.06-70.43%2C133-107.55%2C198.51a96.46%2C96.46%2C0%2C0%2C1-36%2C34.82c-59.83%2C32.91-109.7%2C75.44-144.64%2C134.79A196.61%2C196.61%2C0%2C0%2C1%2C48.05%2C1249c-9.64-34.14-19.85-63.16-26-93.06C-38.5%2C855.32%2C25%2C583.44%2C219.49%2C346%2C357.61%2C177.32%2C537.11%2C69.89%2C750.15%2C24.07c297.21-63.92%2C567.74-.44%2C805.08%2C189.3%2C192.56%2C153.93%2C305.43%2C356.25%2C343.66%2C599.5%2C21.72%2C138.33%2C15.37%2C275.14-31.2%2C408.54C1865.38%2C1227.8%2C1862.45%2C1234.31%2C1858%2C1245.47Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M352.73%2C1064.15c-7.66%2C1-38.23%2C4.33-47.09-10.64-6.39-10.8%2C1.75-25.37%2C12.79-45.74%2C27-49.94%2C54.31-99.77%2C81.23-149.75a105.74%2C105.74%2C0%2C0%2C1%2C33.15-38%2C108%2C108%2C0%2C0%2C1%2C52.41-17.59c248-21.12%2C437-18.74%2C437-18.74%2C158.81%2C2%2C273.31%2C7.75%2C502%2C19.22a95.29%2C95.29%2C0%2C0%2C1%2C84.45%2C53.32c27.59%2C51.14%2C56%2C101.84%2C83.77%2C152.89a184.82%2C184.82%2C0%2C0%2C1%2C11.91%2C27.08c2.58%2C7.31%2C2.5%2C13.3-.28%2C17.71-2%2C3.09-5.35%2C5.44-15%2C7.74a106.35%2C106.35%2C0%2C0%2C1-33.55%2C2.42Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1210.42%2C1385.42c3.21-.4%2C27.79-3%2C45.85%2C15.13a55.84%2C55.84%2C0%2C0%2C1%2C15.29%2C38.31%2C55%2C55%2C0%2C0%2C1-9%2C33.39%2C57.57%2C57.57%2C0%2C0%2C1-42.41%2C22.59l-532-.28c-3.53-.28-29.46-2.9-42.8-24.37a52.62%2C52.62%2C0%2C0%2C1-7.26-31.09c.4-6.23.83-24.86%2C15.64-39.27a55.2%2C55.2%2C0%2C0%2C1%2C42.56-14.41Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M314.22%2C1304.35c-.4-5-4.37-47.64-41.57-71.19a95.33%2C95.33%2C0%2C0%2C0-58.52-12.42c-48.79%2C5.91-83.38%2C52.76-77.74%2C104.41%2C2.82%2C26.84%2C4.25%2C53.88%2C5.44%2C80.84.52%2C11%2C5.2%2C16.39%2C15.6%2C19.21%2C38.2%2C10.29%2C76.15%2C21.48%2C114.39%2C31.76%2C11.91%2C3.22%2C21.63%2C2.74%2C30-3%2C11.4-7.75%2C13.54-22.87%2C14.06-29Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1596.48%2C1304.35c.36-5%2C4.33-47.64%2C41.57-71.19a95.27%2C95.27%2C0%2C0%2C1%2C58.48-12.42c48.8%2C5.91%2C83.38%2C52.76%2C77.78%2C104.41-2.86%2C26.84-4.25%2C53.88-5.48%2C80.84-.48%2C11-5.16%2C16.39-15.56%2C19.21-38.2%2C10.29-76.15%2C21.48-114.39%2C31.76-11.91%2C3.22-21.67%2C2.74-30.05-3-11.4-7.75-13.5-22.87-14-29Z%22%2F%3E%3C%2Fsvg%3E";
$logoMini_white:"%0A%3Csvg%20id%3D%22Capa_1%22%20data-name%3D%22Capa%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201910.87%201821.94%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23ffffff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M189%2C1814q.06-76.14%2C0-152.27c0-.85.37-4-1.56-6-1.67-1.71-4.33-1.82-6.29-1.65l-40.69-.24a23.58%2C23.58%2C0%2C0%2C0-16.1%2C8.92l-29.65%2C48-29.71-48A23.53%2C23.53%2C0%2C0%2C0%2C49%2C1653.88l-40.68.24c-2-.17-4.62-.06-6.29%2C1.65-1.93%2C2-1.56%2C5.11-1.56%2C6q0%2C76.1%2C0%2C152.23c0%2C.87-.38%2C4.09%2C1.59%2C6.06%2C1.66%2C1.67%2C4.28%2C1.76%2C6.19%2C1.59l39.48.1c2.06.31%2C5.43.47%2C7.47-1.55%2C2.26-2.25%2C1.77-6.06%2C1.64-7.25-.78-7.26-.47-32.35.44-68.67l37.52%2C52.35%2C37.47-52.35c.91%2C36.32%2C1.22%2C61.41.44%2C68.67-.13%2C1.19-.62%2C5%2C1.64%2C7.25%2C2%2C2%2C5.41%2C1.86%2C7.47%2C1.55l39.48-.1c1.91.17%2C4.53.08%2C6.19-1.59C189.39%2C1818.12%2C189%2C1814.87%2C189%2C1814Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1298.39%2C1749.12l-.54%2C65.65a6.74%2C6.74%2C0%2C0%2C1-1.8%2C5.11%2C6.92%2C6.92%2C0%2C0%2C1-5.4%2C2l-41-.2a7.12%2C7.12%2C0%2C0%2C1-5.83-2.1%2C6.94%2C6.94%2C0%2C0%2C1-1.72-5V1662.17a7.43%2C7.43%2C0%2C0%2C1%2C2.39-6.31%2C7.29%2C7.29%2C0%2C0%2C1%2C5.68-1.57l34.5-.07a18.85%2C18.85%2C0%2C0%2C1%2C16%2C7.56l52.52%2C62.34.2-61.54a6.75%2C6.75%2C0%2C0%2C1%2C8-8.24h40.51a7.25%2C7.25%2C0%2C0%2C1%2C7.57%2C6.91%2C7.66%2C7.66%2C0%2C0%2C1%2C0%2C.83v152.27a7.05%2C7.05%2C0%2C0%2C1-1.45%2C5.18%2C7.35%2C7.35%2C0%2C0%2C1-6.32%2C2.36c-13.85%2C0-24.83-.16-32-.21a20.43%2C20.43%2C0%2C0%2C1-9.17-1.89%2C20%2C20%2C0%2C0%2C1-6.88-5.63C1349.05%2C1808.49%2C1327.71%2C1783.53%2C1298.39%2C1749.12Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M866.94%2C1766.76l37.23%2C54.81c-27.15.2-47.19.19-54.59.35a17.28%2C17.28%2C0%2C0%2C1-8.73-1.85%2C16.33%2C16.33%2C0%2C0%2C1-6.56-6.44l-25-37.18-12-.17-.33%2C36a9.27%2C9.27%2C0%2C0%2C1-1.74%2C5.91c-2.91%2C3.9-7.9%2C3.65-8.29%2C3.62h-37a9.51%2C9.51%2C0%2C0%2C1-7.32-3.15%2C9.14%2C9.14%2C0%2C0%2C1-2.14-5.84V1662.54a7.43%2C7.43%2C0%2C0%2C1%2C1.43-5.85%2C7.22%2C7.22%2C0%2C0%2C1%2C7-2.46c12.41-.17%2C32.06-.38%2C57-.47h0s31.88%2C0%2C47%2C3c19.42%2C3.91%2C45.82%2C26.94%2C46.25%2C56.89C899.58%2C1746.48%2C868.59%2C1765.76%2C866.94%2C1766.76Zm-70-39.46c0%2C1.31.12%2C3.69%2C1.76%2C5.16a6.3%2C6.3%2C0%2C0%2C0%2C4.57%2C1.26c8.78-.49%2C17.62-.6%2C26.32-1.77%2C8.13-1.08%2C12.22-7%2C11.93-15.22-.27-7.87-4.73-13.11-12.89-13.91-8.59-.83-17.26-.89-25.89-1.26a5.79%2C5.79%2C0%2C0%2C0-4.19%2C1.21%2C6.06%2C6.06%2C0%2C0%2C0-1.6%2C4.59c-.07%2C1.76-.25%2C11.12-.05%2C19.94Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1873.64%2C1766.76l37.23%2C54.81c-27.15.2-47.19.19-54.59.35a17.29%2C17.29%2C0%2C0%2C1-8.74-1.85%2C16.46%2C16.46%2C0%2C0%2C1-6.56-6.44l-25-37.18-12-.17-.33%2C36a9.33%2C9.33%2C0%2C0%2C1-1.74%2C5.91c-2.91%2C3.9-7.9%2C3.65-8.29%2C3.62h-37a9.53%2C9.53%2C0%2C0%2C1-7.33-3.15%2C9.18%2C9.18%2C0%2C0%2C1-2.13-5.84V1662.54a7.43%2C7.43%2C0%2C0%2C1%2C1.43-5.85%2C7.22%2C7.22%2C0%2C0%2C1%2C7-2.46c12.41-.17%2C32.06-.38%2C57-.47h0s31.89%2C0%2C47%2C3c19.41%2C3.91%2C45.82%2C26.94%2C46.24%2C56.89C1906.27%2C1746.48%2C1875.29%2C1765.76%2C1873.64%2C1766.76Zm-70-39.46c0%2C1.31.12%2C3.69%2C1.76%2C5.16a6.32%2C6.32%2C0%2C0%2C0%2C4.56%2C1.26c8.79-.49%2C17.63-.6%2C26.33-1.77%2C8.12-1.08%2C12.22-7%2C11.93-15.22-.27-7.87-4.73-13.11-12.9-13.91-8.58-.83-17.25-.89-25.88-1.26a5.75%2C5.75%2C0%2C0%2C0-4.19%2C1.21%2C6%2C6%2C0%2C0%2C0-1.6%2C4.59c-.07%2C1.76-.26%2C11.12-.05%2C19.94Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M288.87%2C1653.88a84%2C84%2C0%2C1%2C0%2C84%2C84%2C84%2C84%2C0%2C0%2C0-84-84Zm0%2C118.14A34.11%2C34.11%2C0%2C1%2C1%2C323%2C1737.91h0A34.11%2C34.11%2C0%2C0%2C1%2C288.87%2C1772Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M634.39%2C1653.88a84%2C84%2C0%2C1%2C0%2C84%2C84%2C84%2C84%2C0%2C0%2C0-84-84Zm0%2C118.14a34.11%2C34.11%2C0%2C1%2C1%2C34.11-34.11h0A34.11%2C34.11%2C0%2C0%2C1%2C634.39%2C1772Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1083.21%2C1664.27a9.24%2C9.24%2C0%2C0%2C1%2C2.09-6.81%2C9.48%2C9.48%2C0%2C0%2C1%2C7.62-3.13h124.52a8.73%2C8.73%2C0%2C0%2C1%2C7%2C2.24%2C9%2C9%2C0%2C0%2C1%2C2.42%2C7.82c0%2C12.08%2C0%2C21.43.17%2C27.44%2C0%2C1.33.16%2C4.19-1.7%2C6.4s-5.13%2C2.75-6.83%2C2.83l-73.4.08a7%2C7%2C0%2C0%2C0-5.1%2C2.15%2C7.51%2C7.51%2C0%2C0%2C0-1.57%2C5.06c-.07%2C1.63-.2%2C4.42%2C1.81%2C6.52a7.29%2C7.29%2C0%2C0%2C0%2C4.44%2C2.08l68.56.16a5.87%2C5.87%2C0%2C0%2C1%2C4.87%2C1.23%2C6%2C6%2C0%2C0%2C1%2C1.82%2C5.28l.11%2C28c.16%2C1.57.06%2C3.53-1.18%2C4.81-1.49%2C1.52-3.92%2C1.35-4.65%2C1.3-4.75-.26-31.83-.11-69.3.16a6.68%2C6.68%2C0%2C0%2C0-4.44%2C1.84c-1.64%2C1.67-1.66%2C3.85-1.67%2C6.64%2C0%2C3.06%2C0%2C6%2C2.12%2C7.87a6.74%2C6.74%2C0%2C0%2C0%2C4.41%2C1.42l75-.13a8%2C8%2C0%2C0%2C1%2C5.14%2C2.07%2C8.35%2C8.35%2C0%2C0%2C1%2C2.51%2C6.6v28.91a8.47%2C8.47%2C0%2C0%2C1-1.74%2C5.82%2C8.84%2C8.84%2C0%2C0%2C1-7.21%2C3l-129-.09a5.79%2C5.79%2C0%2C0%2C1-6.49-7.75Q1083.39%2C1739.17%2C1083.21%2C1664.27Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1588.54%2C1664.27a9.25%2C9.25%2C0%2C0%2C1%2C2.1-6.81%2C9.48%2C9.48%2C0%2C0%2C1%2C7.62-3.13h124.51a8.74%2C8.74%2C0%2C0%2C1%2C7%2C2.24%2C9%2C9%2C0%2C0%2C1%2C2.41%2C7.82c0%2C12.08%2C0%2C21.43.17%2C27.44%2C0%2C1.33.17%2C4.19-1.69%2C6.4s-5.14%2C2.75-6.84%2C2.83l-73.43.06a7%2C7%2C0%2C0%2C0-5.1%2C2.15%2C7.51%2C7.51%2C0%2C0%2C0-1.57%2C5.06c-.07%2C1.63-.2%2C4.42%2C1.82%2C6.52a7.24%2C7.24%2C0%2C0%2C0%2C4.44%2C2.08l68.55.16a5.89%2C5.89%2C0%2C0%2C1%2C4.88%2C1.23%2C6%2C6%2C0%2C0%2C1%2C1.81%2C5.28l.11%2C28c.16%2C1.57.07%2C3.53-1.18%2C4.81-1.49%2C1.52-3.92%2C1.35-4.65%2C1.3-4.74-.26-31.83-.11-69.29.16a6.68%2C6.68%2C0%2C0%2C0-4.44%2C1.84c-1.65%2C1.67-1.66%2C3.85-1.68%2C6.64%2C0%2C3.06%2C0%2C6%2C2.12%2C7.87a6.77%2C6.77%2C0%2C0%2C0%2C4.42%2C1.42l75-.13a8%2C8%2C0%2C0%2C1%2C5.14%2C2.07%2C8.39%2C8.39%2C0%2C0%2C1%2C2.5%2C6.6v28.91a8.42%2C8.42%2C0%2C0%2C1-1.73%2C5.82%2C8.87%2C8.87%2C0%2C0%2C1-7.21%2C3l-129-.09a5.79%2C5.79%2C0%2C0%2C1-6.49-7.75Q1588.68%2C1739.16%2C1588.54%2C1664.27Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1021.6%2C1750.61c-5.88%2C12.89-18.06%2C21.29-31.07%2C21.41-17.54.15-34.11-14.75-34.11-34.11s16.69-34.1%2C34.11-34.11c12.76%2C0%2C24.8%2C7.84%2C31.07%2C20.14l43.45-24.77c-1.15-2-27.52-45.45-74.52-45.29-42.42.14-84%2C35.75-84%2C84s41.48%2C83.9%2C84%2C84c30.49.1%2C59.36-18.09%2C75.38-46.86Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M533.27%2C1654.24c1.63-.21%2C5-.39%2C7%2C1.67s1.7%2C5%2C1.7%2C7.17v31.46c0%2C6.1-2.06%2C8-8.16%2C7.9q-15.75-.15-31.46-.15c-2.3%2C0-5.34%2C0-7.44%2C2s-2.23%2C5.38-2.12%2C7.13l.26%2C99.85c.26%2C2.1.46%2C6.2-2.07%2C8.68-2.35%2C2.31-5.85%2C2-8.85%2C1.9-11.82-.19-23.65-.16-35.48%2C0-2.82%2C0-6.37.47-8.69-1.83s-2.2-6.29-1.93-8.37l.15-98.87c.27-2%2C.54-6.1-2-8.61-2-2-4.88-2-8.52-1.92-10.31.27-20.63%2C0-31%2C.29-1.33%2C0-4%2C.09-5.78-1.65s-1.79-4.58-1.8-5.88q-.12-16.71%2C0-33.44c0-1.3-.21-4%2C1.55-5.8s4.61-1.7%2C6.05-1.55Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1567.74%2C1654.24c1.63-.21%2C5-.39%2C7%2C1.67s1.69%2C5%2C1.7%2C7.17v31.46c0%2C6.1-2.06%2C8-8.16%2C7.9q-15.73-.15-31.46-.15c-2.29%2C0-5.34%2C0-7.44%2C2s-2.23%2C5.38-2.12%2C7.13l.26%2C99.85c.26%2C2.1.46%2C6.2-2.07%2C8.68-2.35%2C2.31-5.85%2C2-8.85%2C1.9-11.82-.19-23.65-.16-35.48%2C0-2.82%2C0-6.37.47-8.68-1.83s-2.21-6.29-1.94-8.37q.06-49.44.16-98.87c.26-2%2C.53-6.1-2-8.61-2-2-4.88-2-8.52-1.92-10.31.27-20.63%2C0-31%2C.29-1.32%2C0-4%2C.09-5.78-1.65s-1.79-4.58-1.8-5.88c-.07-11.14-.09-22.29%2C0-33.44%2C0-1.3-.21-4%2C1.55-5.8s4.61-1.7%2C6-1.55Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1858%2C1245.47a451.45%2C451.45%2C0%2C0%2C0-29.54-42.56%2C469.31%2C469.31%2C0%2C0%2C0-134.23-116.29%2C370.67%2C370.67%2C0%2C0%2C1-38.71-42.08c-48-60.79-60.07-109.3-114-208.6-13.06-23.82-29.34-42.28-49.78-54.47A131.34%2C131.34%2C0%2C0%2C0%2C1431.08%2C764c-282.88-16.44-473.57-16.87-473.57-16.87-118.39-.28-227%2C3.53-444.15%2C11.15-16.43.56-55.18%2C2.43-93.61%2C26.05q-42.48%2C26.16-68.85%2C78.41c-34.06%2C67.06-70.43%2C133-107.55%2C198.51a96.46%2C96.46%2C0%2C0%2C1-36%2C34.82c-59.83%2C32.91-109.7%2C75.44-144.64%2C134.79A196.61%2C196.61%2C0%2C0%2C1%2C48.05%2C1249c-9.64-34.14-19.85-63.16-26-93.06C-38.5%2C855.32%2C25%2C583.44%2C219.49%2C346%2C357.61%2C177.32%2C537.11%2C69.89%2C750.15%2C24.07c297.21-63.92%2C567.74-.44%2C805.08%2C189.3%2C192.56%2C153.93%2C305.43%2C356.25%2C343.66%2C599.5%2C21.72%2C138.33%2C15.37%2C275.14-31.2%2C408.54C1865.38%2C1227.8%2C1862.45%2C1234.31%2C1858%2C1245.47Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M352.73%2C1064.15c-7.66%2C1-38.23%2C4.33-47.09-10.64-6.39-10.8%2C1.75-25.37%2C12.79-45.74%2C27-49.94%2C54.31-99.77%2C81.23-149.75a105.74%2C105.74%2C0%2C0%2C1%2C33.15-38%2C108%2C108%2C0%2C0%2C1%2C52.41-17.59c248-21.12%2C437-18.74%2C437-18.74%2C158.81%2C2%2C273.31%2C7.75%2C502%2C19.22a95.29%2C95.29%2C0%2C0%2C1%2C84.45%2C53.32c27.59%2C51.14%2C56%2C101.84%2C83.77%2C152.89a184.82%2C184.82%2C0%2C0%2C1%2C11.91%2C27.08c2.58%2C7.31%2C2.5%2C13.3-.28%2C17.71-2%2C3.09-5.35%2C5.44-15%2C7.74a106.35%2C106.35%2C0%2C0%2C1-33.55%2C2.42Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1210.42%2C1385.42c3.21-.4%2C27.79-3%2C45.85%2C15.13a55.84%2C55.84%2C0%2C0%2C1%2C15.29%2C38.31%2C55%2C55%2C0%2C0%2C1-9%2C33.39%2C57.57%2C57.57%2C0%2C0%2C1-42.41%2C22.59l-532-.28c-3.53-.28-29.46-2.9-42.8-24.37a52.62%2C52.62%2C0%2C0%2C1-7.26-31.09c.4-6.23.83-24.86%2C15.64-39.27a55.2%2C55.2%2C0%2C0%2C1%2C42.56-14.41Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M314.22%2C1304.35c-.4-5-4.37-47.64-41.57-71.19a95.33%2C95.33%2C0%2C0%2C0-58.52-12.42c-48.79%2C5.91-83.38%2C52.76-77.74%2C104.41%2C2.82%2C26.84%2C4.25%2C53.88%2C5.44%2C80.84.52%2C11%2C5.2%2C16.39%2C15.6%2C19.21%2C38.2%2C10.29%2C76.15%2C21.48%2C114.39%2C31.76%2C11.91%2C3.22%2C21.63%2C2.74%2C30-3%2C11.4-7.75%2C13.54-22.87%2C14.06-29Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1596.48%2C1304.35c.36-5%2C4.33-47.64%2C41.57-71.19a95.27%2C95.27%2C0%2C0%2C1%2C58.48-12.42c48.8%2C5.91%2C83.38%2C52.76%2C77.78%2C104.41-2.86%2C26.84-4.25%2C53.88-5.48%2C80.84-.48%2C11-5.16%2C16.39-15.56%2C19.21-38.2%2C10.29-76.15%2C21.48-114.39%2C31.76-11.91%2C3.22-21.67%2C2.74-30.05-3-11.4-7.75-13.5-22.87-14-29Z%22%2F%3E%3C%2Fsvg%3E";
//---------------

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43em) {

}

/* Small devices (portrait tablets and large phones, 688px and up) */
@media only screen and (min-width: 43em) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {
    #sidebarFilter{
        width: 25%;
        -webkit-box-shadow: 5px 0px 24px -5px rgba(0,0,0,0.7);
        -moz-box-shadow: 5px 0px 24px -5px rgba(0,0,0,0.7);
        box-shadow: 5px 0px 24px -5px rgba(0,0,0,0.7);

        #top{
            height: 60px;
            padding-top: 20px;
            padding-left: 30px;

            #logoHome{
                margin-right: 20px;
            }

            .line{
                margin-right: 20px;
                width: 80px;
            }

            #about{
                font-size: 13pt;
                line-height: 60px;
            }
        }

        #filter{
            padding: 25px 30px 30px;

            #fltrTitle{
                font-size: 20pt;
            }

            .line{
                left: -30px;

                &:nth-child(2){
                    padding-top: 15px;
                }
            }

            #filterForm{    
                .fltrSubtitle{
                    font-size: 18pt;
                    padding: 15px 0px;
                }

                mat-expansion-panel{
                    mat-panel-description{
                        font-size: 9pt;
                        padding: 15px 0px;
                    }
                }

                #brands{
                    mat-list-option{
                        margin-right: 19px;
                        margin-bottom: 5px;
        
                        &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12){
                            margin-bottom: 5px;
                        }
                    }
    
                    .brand{
                        width: 50px;
                    }
                }

                #types{
                    mat-list-option{
                        margin-right: 3px;
                        margin-bottom: 15px;
    
                        &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12){
                            margin-bottom: 5px;
                        }
                    }
    
                    .type{
                        font-size: 10pt;
                        width: 60px;
                    }
                }
            }

            .wrapper{        
                .submit-button{
                    font-size: 13pt;
                }
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 119em) {
    #sidebarFilter{
        width: 25%;
        -webkit-box-shadow: 5px 0px 34px -5px rgba(0,0,0,0.7);
        -moz-box-shadow: 5px 0px 34px -5px rgba(0,0,0,0.7);
        box-shadow: 5px 0px 34px -5px rgba(0,0,0,0.7);

        #top{
            height: 100px;
            padding-top: 35px;
            padding-left: 35px;

            #logoHome{
                margin-right: 40px;
            }

            .line{
                margin-right: 40px;
                width: 120px;
            }

            #about{
                font-size: 14pt;
                line-height: 100px;
            }
        }

        #filter{
            padding: 30px 35px 35px;

            #fltrTitle{
                font-size: 25pt;
            }

            .line{
                left: -35px;
    
                &:nth-child(2){
                    padding-top: 20px;
                }
            }

            #filterForm{    
                .fltrSubtitle{
                    font-size: 18pt;
                    padding: 30px 0px;
                }

                mat-expansion-panel{
                    mat-panel-description{
                        font-size: 13pt;
                        padding: 30px 0px;
                    }
                }

                #brands{
                    mat-list-option{
                        margin-right: 27px;
                        margin-bottom: 30px;
    
                        &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12){
                            margin-bottom: 15px;
                        }
                    }
    
                    .brand{
                        width: 70px;
                    }
                }

                #types{
                    mat-list-option{
                        margin-right: 5px;
                        margin-bottom: 30px;
    
                        &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12){
                            margin-bottom: 15px;
                        }
                    }
    
                    .type{
                        font-size: 12pt;
                        width: 90px;
                    }
                }
            }

            .wrapper{        
                .submit-button{
                    font-size: 13pt;
                }
            }
        }
    }
}

/*--------------------*/
#sidebarFilter{
    position: relative;
    z-index: 1;
    top: 0px;
    left: 0px;
    height: 100%;
    background: white;

    #blakScreen{
        position: absolute;
        z-index: 2;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0, 0, 0.7);
    }

    #top{
        position: relative;
        z-index: 3;
        display: inline-flex;
        width: 100%;

        #logoHome{
            position: relative;
            outline: none;
            z-index: 0;
            width: 20%;
            height: 100%;
            cursor: pointer;
            background: url("data:image/svg+xml, #{$logoMini}") left center/100% 100% no-repeat !important;
        }

        .line{
            position: relative;
            top: 50%;
            height: 1px;
            border-bottom: 2px solid black;
        }

        #about{
            font-family: "palanquin", "arial", sans-serif;
            position: relative;
            cursor: pointer;

            &:hover{
                color: #CA181F;
            }
        }

        &.active{
            #logoHome{
                background: url("data:image/svg+xml, #{$logoMini_white}") left center/100% 100% no-repeat !important;
            }
            .line{
                border-bottom: 2px solid white;
            }
            #about{
                color: white;
            }
        }
    }

    #filter{
        position: relative;
        width: 85%;
        height: 80%;

        #fltrTitle{
            font-family: "palanquin", "arial", sans-serif;
            font-weight: bold;
            color: #CA181F;
        }

        .line{
            position: relative;
            width: 117.6%;
            padding-top: 0px;
            height: 1px;
            border-bottom: 1px solid #C6CCD6;
        }

        #filterForm{
            position: relative;

            .fltrSubtitle{
                font-family: "palanquin", "arial", sans-serif;
                font-weight: bold;
                position: relative;
                display: inline-flex;
            }

            mat-expansion-panel{
                margin: 0px !important;
                box-shadow: none;

                mat-expansion-panel-header{
                    padding: 0 2px;
                }

                mat-expansion-panel-header:hover{
                    background: white !important;
                }

                ::ng-deep.mat-expansion-panel-body{
                    padding: 0px !important;
                }
            }
    
            #brands{
                position: relative;

                ::ng-deep.mat-pseudo-checkbox{
                    display: none !important;
                }

                mat-list-option{
                    width: 20%;
                    position: relative;
                    display: inline-block;

                    &:nth-child(4), &:nth-child(8), &:nth-child(12){
                        margin-right: 0px;
                    }
                }

                mat-list-option[aria-selected="true"] {
                    background: white;

                    & .brand>svg{
                        fill: #CA181F;
                    }
                }

                mat-list-option[aria-selected="false"] {
                    background: white;
                }
            }

            #types{
                position: relative;

                ::ng-deep.mat-pseudo-checkbox{
                    display: none !important;
                }

                mat-list-option{
                    width: 24%;
                    position: relative;
                    display: inline-block;

                    &:nth-child(4), &:nth-child(8), &:nth-child(12){
                        margin-right: 0px;
                    }
                }

                mat-list-option[aria-selected="true"] {
                    background: white;

                    & .type>svg .cls-1{
                        fill: #ff9494;
                    }

                    & .type>svg .cls-2{
                        fill: #9f0003;
                    }

                    & .type>svg .cls-3{
                        fill: #9f0003;
                    }

                    & .type{
                        font-weight: bold;
                    }
                }

                mat-list-option[aria-selected="false"] {
                    background: white;
                }

                .type{
                    text-align: center;
                    color: #616161;
                }
            }
        }

        .wrapper{
            position: absolute;
            bottom: 3%;
            left: 50%;
            width: 100%;

            .submit-button{
                position: relative;
                display: block;
                left: -50%;
                font-family: "palanquin", "arial", sans-serif;
                width: 50%;
                height: 7%;
                margin: 20px auto;
                border-radius: 50px;
            }
        }
    }
}