<div id="clientPromotions">
  <div class="topFilter">
    <mat-form-field class="dropdownFilter" appearance="outline">
      <mat-label>Seleccione un servicio</mat-label>
      <mat-select value="default" (selectionChange)="filterMethod($event.value)">
        <mat-option value="default">Todos</mat-option>
        <mat-option value="Mantenimiento">Mantenimiento</mat-option>
        <mat-option value="Reparacion">Reparación</mat-option>
        <mat-option value="Escaneo">Escaneo</mat-option>
        <mat-option value="PlanchadoPintura">Planchado y pintura</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-card class="profileCard" *ngFor="let workshop of clientVehiclesWorkshop; let i = index">
      <mat-card-header>
        <mat-card-title>{{workshop.service}}</mat-card-title>
        <button mat-icon-button aria-label="Mostrar cámara">
          <mat-icon>videocam</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <p class="vehicleName">
          {{workshop.vehicle}}
        </p>
        <p class="lastUpdate">
          Actualizado {{updatedDates[i]}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="showMore" (click)="showWorkshopStatus(i)">
          <span>SEGUIMIENTO</span>
        </button>
      </mat-card-actions>
  </mat-card>
</div>
