<div id="clientWorkshop" *ngIf="!showDetailsStatus">
  <div class="topFilter">
    <mat-form-field class="dropdownFilter" appearance="outline">
      <mat-label>Seleccione un servicio</mat-label>
      <mat-select value="default" (selectionChange)="filterMethod($event.value)">
        <mat-option value="default">Todos</mat-option>
        <mat-option value="Mantenimiento">Mantenimiento</mat-option>
        <mat-option value="Reparación">Reparación</mat-option>
        <mat-option value="Escaneo">Escaneo</mat-option>
        <mat-option value="Planchado y pintura">Planchado y pintura</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-card class="profileCard" *ngFor="let workshop of clientVehiclesWorkshop; let i = index">
      <mat-card-header>
        <mat-card-title>{{workshop.service}}</mat-card-title>
        <button mat-icon-button aria-label="Mostrar cámara">
          <mat-icon>videocam</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <p class="vehicleName">
          {{workshop.vehicle}}
        </p>
        <p class="lastUpdate">
          Actualizado {{updatedDates[i]}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="showMore" (click)="showWorkshopStatus(i)">
          <span>SEGUIMIENTO</span>
        </button>
      </mat-card-actions>
  </mat-card>
</div>

<div id="vehicleWorkshop" *ngIf="showDetailsStatus">
  <div class="sideStatusBar">
    <div class='firstClass'>
      <div class='secondClass'>
        <mat-vertical-stepper #stepper [selectedIndex]="selectedStep">
          <mat-step *ngFor="let steps of servicesSteps[detailsIndex].stepsDetails; let i = index" [completed]="clientVehiclesWorkshop[vehicleWorkshopIndex].details[i].status">
            <ng-template matStepperIcon="edit" let-index="index">
              <mat-icon>{{index ? stepStatus[index] : stepStatus[index]}}</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="number" let-index="index">
              <mat-icon>{{index ? stepStatus[index] : ''}}</mat-icon>
            </ng-template>
            <ng-template matStepLabel>{{steps.title}}</ng-template>
          </mat-step>
        </mat-vertical-stepper>
      </div>
    </div>
  </div>

  <div class="statusContent">
    <div class="backBtn" (click)="backToServices()">
      <mat-icon>keyboard_arrow_left</mat-icon>
      <span>Volver a selección de servicio</span>
    </div>

    <mat-card class="statusCard">
      <mat-card-header>
        <mat-card-title>Paso 1 - Ingreso</mat-card-title>
      </mat-card-header>
      <mat-card-content class="stepContent">
        <p>Estado de la carrocería e inventario de objetos personales.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
