<div id="topFilter" *ngIf="!showDetailsStatus">
  <mat-form-field class="dropdownFilter" appearance="outline">
    <mat-label>Seleccione un servicio</mat-label>
    <mat-select value="default" (selectionChange)="filterMethod($event.value)">
      <mat-option value="default">Todos</mat-option>
      <mat-option value="Mantenimiento">Mantenimiento</mat-option>
      <mat-option value="Reparación">Reparación</mat-option>
      <mat-option value="Escaneo">Escaneo</mat-option>
      <mat-option value="Planchado y pintura">Planchado y pintura</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div id="clientWorkshop" *ngIf="!showDetailsStatus">
  <mat-card class="profileCard" *ngFor="let workshop of clientVehiclesWorkshop; let i = index">
      <mat-card-header>
        <mat-card-title>{{workshop.service}}</mat-card-title>
        <button mat-icon-button aria-label="Mostrar cámara">
          <mat-icon>videocam</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <p class="vehicleName">
          {{workshop.vehicle}}
        </p>
        <p class="lastUpdate">
          Actualizado {{updatedDates[i]}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="showMore" (click)="showWorkshopStatus(i)">
          <span>SEGUIMIENTO</span>
        </button>
      </mat-card-actions>
  </mat-card>
</div>

<div id="vehicleWorkshop" *ngIf="showDetailsStatus">
  <div class="sideStatusBar">
    <div class='stepIconColor-0'>
      <div class='stepIconColor-1'>
        <div class='stepIconColor-2'>
          <div class='stepIconColor-3'>
            <div class='stepIconColor-4'>
              <mat-vertical-stepper #stepper [selectedIndex]="selectedStep" linear (selectionChange)="showServiceDetails($event)">
                <mat-step *ngFor="let steps of servicesSteps[detailsIndex].stepsDetails; let i = index" [completed]="clientVehiclesWorkshop[vehicleWorkshopIndex].details[i].status">
                  <ng-template matStepperIcon="edit" let-index="index">
                    <mat-icon>{{index ? stepStatus[index] : stepStatus[index]}}</mat-icon>
                  </ng-template>
                  <ng-template matStepperIcon="number" let-index="index">
                    <mat-icon>{{index ? stepStatus[index] : stepStatus[index]}}</mat-icon>
                  </ng-template>
                  <ng-template matStepLabel>
                    <p>{{steps.title}}</p>
                  </ng-template>
                </mat-step>
              </mat-vertical-stepper>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="statusContent">
    <div class="backBtn" (click)="backToServices()">
      <mat-icon>keyboard_arrow_left</mat-icon>
      <span>Volver a selección de servicio</span>
    </div>

    <mat-card class="statusCard">
      <mat-card-header>
        <mat-card-title>{{stepTitle}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="stepContent">
        <p>{{stepContent}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
