/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43em) {

}

/* Small devices (portrait tablets and large phones, 688px and up) */
@media only screen and (min-width: 43em) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {

}

/* Extra large devices (large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 119em) {
}

//---------------------------------------------------

img{
  width: 100%;
  height: auto;
}

.closeBtn{
  transform: scale(2);
  position: absolute;
  top: 0%;
  left: 47%;
  z-index: 2;
  cursor: pointer;
  color: white;
}

mat-dialog-content{
  width: 450px;
  margin: 0 0 11% 0 !important;
  padding: 0px !important;
  overflow: visible;

  .promsCarousel{
    position: relative;
    width: 100%;
    padding-top: 100%;

    .promotionImage{
      position: absolute;
      width: 110.6%;
      top: -5.2%;
      left: -5.3%;
    }
  }
}
