/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43em) {

}

/* Small devices (portrait tablets and large phones, 688px and up) */
@media only screen and (min-width: 43em) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {
  .closeBtn{
    top: 2%;

    .closeIcon{
      height: 75px !important;
      width: 75px !important;
      font-size: 75px !important;
      line-height: 75px !important;

      ::ng-deep .mat-icon{
        height: 75px !important;
        width: 75px !important;
        font-size: 75px !important;
        line-height: 75px !important;
      }
    }
  }

  #navigator{
    margin-top: 10px;
    top: 44%;

    #navCenter{
        width: 550px;
        height: 36px;

        #navLeft,
        #navRight{
          display: block;
          width: 40px;
          height: 40px;
          border-top: 5px solid white;
          border-left: 5px solid white;
        }

        #navRight{
        transform: rotate(135deg);
        }

        #navLeft{
        transform: rotate(-45deg);
        }
    }
  }

  mat-dialog-content{
    width: 400px;

    .promsCarousel{
      height: 400px;
    }
  }

}

/* Extra large devices (large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 119em) {
  .closeBtn{
    top: 5%;

    .closeIcon{
      height: 96px !important;
      width: 96px !important;
      font-size: 96px !important;
      line-height: 76px !important;

      ::ng-deep .mat-icon{
        height: 96px !important;
        width: 96px !important;
        font-size: 96px !important;
        line-height: 96px !important;
      }
    }
  }

  #navigator{
    margin-top: 1%;
    top: 45%;

    #navCenter{
        width: 825px;
        height: 50px;

        #navLeft,
        #navRight{
          display: block;
          width: 60px;
          height: 60px;
          border-top: 5px solid white;
          border-left: 5px solid white;
        }

        #navRight{
        transform: rotate(135deg);
        }

        #navLeft{
        transform: rotate(-45deg);
        }
    }
  }

  mat-dialog-content{
    width: 600px;

    .promsCarousel{
      height: 600px;
    }
  }
}

//---------------------------------------------------

img{
  width: 100%;
  height: auto;
}

.closeBtn{
  position: absolute;
  left: 50%;
  z-index: 2;

  .closeIcon{
    position: relative;
    left: -50%;
    cursor: pointer;
    color: white;
  }
}

#navigator{
  position: absolute;
  left: 50%;

  #navCenter{
      position: relative;
      left: -50%;

      #navLeft,
      #navRight{
        cursor: pointer;
      }

      #navLeft{
        float: left;
      }

      #navRight{
        float: right;
      }
  }
}


mat-dialog-content{
  overflow: unset;

  .promsCarousel{
    position: relative;
    width: 100%;
  }
}
