<div class="closeBtn">
  <button mat-icon-button aria-label="Editar información"  class="closeIcon" mat-dialog-close>
    <mat-icon>highlight_off</mat-icon>
  </button>
</div>
<div id="navigator">
  <div id="navCenter">
      <div *ngIf="displayLeft" id="navLeft" (click)="navLeft()"></div>
      <div *ngIf="displayRight" id="navRight" (click)="navRight()"></div>
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <div id="promsList" class="owl-carousel">
    <div class="promsCarousel">
      <img src={{data.image}}>
    </div>
  </div>
</mat-dialog-content>
