<div id="clientProfile">
    <mat-card class="profileCard">
        <mat-card-header>
          <mat-card-title>Información General</mat-card-title>
          <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Documento de Identidad</mat-label>
                <input matInput #doc placeholder="Documento de identidad" value="12345678" readonly>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Género</mat-label>
                <input matInput #gender placeholder="Género" value="Masculino" readonly>
            </mat-form-field>
            <mat-form-field class="calendar">
                <mat-label>Cumpleaños</mat-label>
                <input matInput [formControl]="date" [matDatepicker]="dp" placeholder="Cumpleaños" readonly>
                <mat-datepicker-toggle matSuffix [for]="dp" disabled></mat-datepicker-toggle>
                <mat-datepicker #dp disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="points">
              <mat-label>Puntos acumulados</mat-label>
              <input matInput #points placeholder="Motor Puntos" value="50" readonly>
          </mat-form-field>
        </mat-card-content>
    </mat-card>

    <mat-card class="profileCard">
        <mat-card-header>
          <mat-card-title>Contacto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Dirección</mat-label>
                <input matInput #surname placeholder="Documento de identidad" value="12345678" readonly>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Teléfono</mat-label>
                <input matInput #surname placeholder="Documento de identidad" value="Masculino" readonly>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Correo electrónico</mat-label>
                <input matInput #surname placeholder="Documento de identidad" value="12345678" readonly>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</div>
