<div id="clientProfile">
    <mat-card class="profileCard">
        <mat-card-header>
          <mat-card-title>Información General</mat-card-title>
          <button mat-icon-button id="saveInfoIconBtn" aria-label="Guardar información" *ngIf="displaySaveBtnForInfo" [class.save]="displaySaveBtnForInfo" (click)="saveEditedInfoFields()">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-icon-button aria-label="Editar información" (click)="enableInfoEditing()">
            <mat-icon>{{formInfoButton}}</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="InfoFormGroup">
            <mat-form-field>
              <mat-label>Documento de Identidad</mat-label>
              <input matInput #doc placeholder="Documento de identidad" value="12345678" readonly>
            </mat-form-field>
            <mat-form-field class="gender">
              <mat-label>Género</mat-label>
              <mat-select formControlName="genderFormControl" [class.readonly]="selectInfoReadonly">
                <mat-option value="default" style="display: none;">Seleccione</mat-option>
                <mat-option value="Masculino">Masculino</mat-option>
                <mat-option value="Femenino">Femenino</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="calendar">
                <mat-label>Cumpleaños</mat-label>
                <input matInput formControlName="birthdayFormControl" [matDatepicker]="dp" placeholder="Cumpleaños" readonly>
                <mat-datepicker-toggle matSuffix [for]="dp" [disabled]="!enableEditingForInfo"></mat-datepicker-toggle>
                <mat-datepicker #dp disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="points">
              <mat-icon aria-label="Más información sobre motorpuntos">help_outline</mat-icon>
              <mat-label>Puntos acumulados</mat-label>
              <input matInput #points placeholder="Motor Puntos" value="10" readonly>
            </mat-form-field>
          </form>
        </mat-card-content>
    </mat-card>

    <mat-card class="profileCard">
        <mat-card-header>
          <mat-card-title>Contacto</mat-card-title>
          <button mat-icon-button id="saveContactIconBtn" aria-label="Guardar información" *ngIf="displaySaveBtnForContact" [class.save]="displaySaveBtnForContact" (click)="saveEditedContactFields()" [disabled]="!contactFormGroup.valid">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-icon-button aria-label="Editar información" (click)="enableContactEditing()">
            <mat-icon>{{formContactButton}}</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="contactFormGroup">
            <mat-form-field floatLabel="always">
                <mat-label>Dirección</mat-label>
                <input matInput #address formControlName="addressFormControl" placeholder="Ingrese su dirección" [readonly]="selectContactReadonly">
                <mat-error *ngIf="contactFormGroup.get('addressFormControl').hasError('required')">
                  Campo obligatorio
                </mat-error>
            </mat-form-field>
            <mat-form-field class="address">
              <mat-label>Departamento</mat-label>
              <mat-select formControlName="stateFormControl" [class.readonly]="selectContactReadonly" (selectionChange)="changeState($event.value)">
                <mat-option value="default" style="display: none;">-</mat-option>
                <mat-option *ngFor="let state of states" [value]="state.departamento">{{state.nombre}}</mat-option>
              </mat-select>
              <mat-error *ngIf="contactFormGroup.get('stateFormControl').hasError('required')">
                Obligatorio
              </mat-error>
            </mat-form-field>
            <mat-form-field class="address">
              <mat-label>Provincia</mat-label>
              <mat-select formControlName="countyFormControl" [class.readonly]="selectContactReadonly" (selectionChange)="changeDistrict($event.value)">
                <mat-option value="default" style="display: none;">-</mat-option>
                <mat-option *ngFor="let county of counties" [value]="county.provincia">{{county.nombre}}</mat-option>
              </mat-select>
              <mat-error *ngIf="contactFormGroup.get('countyFormControl').hasError('required')">
                Obligatorio
              </mat-error>
            </mat-form-field>
            <mat-form-field class="address">
              <mat-label>Distrito</mat-label>
              <mat-select formControlName="districtFormControl" [class.readonly]="selectContactReadonly">
                <mat-option value="default" style="display: none;">-</mat-option>
                <mat-option *ngFor="let district of districts" [value]="district.distrito">{{district.nombre}}</mat-option>
              </mat-select>
              <mat-error *ngIf="contactFormGroup.get('districtFormControl').hasError('required')">
                Obligatorio
              </mat-error>
            </mat-form-field>
            <mat-form-field floatLabel="always">
                <mat-label>Teléfono</mat-label>
                <input matInput #cellphone type="tel" (keypress)="onlyNumber($event)" maxlength="9" formControlName="phoneFormControl" placeholder="Número de celular" [readonly]="selectContactReadonly">
                <mat-error *ngIf="contactFormGroup.get('phoneFormControl').hasError('min') && !contactFormGroup.get('phoneFormControl').hasError('required')">
                  Debe tener 9 dígitos
                </mat-error>
                <mat-error *ngIf="contactFormGroup.get('phoneFormControl').hasError('required')">
                  Campo obligatorio
                </mat-error>
            </mat-form-field>
            <mat-form-field floatLabel="always">
                <mat-label>Correo electrónico</mat-label>
                <input matInput type="email" formControlName="emailFormControl" placeholder="Ingrese su correo electrónico" [readonly]="selectContactReadonly">
                <mat-error *ngIf="contactFormGroup.get('emailFormControl').hasError('email') && !contactFormGroup.get('emailFormControl').hasError('required')">
                  Ingrese un correo electrónico válido
                </mat-error>
                <mat-error *ngIf="contactFormGroup.get('emailFormControl').hasError('required')">
                  Campo obligatorio
                </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
    </mat-card>

    <mat-card class="profileCard">
      <mat-card-header>
        <mat-card-title>Cambiar Contraseña</mat-card-title>
        <button id="updatePass" mat-icon-button aria-label="Guardar nueva contraseña" (click)="saveEditedContactFields()" [disabled]="password.value && newpassword.value && repeatpassword.value ? !passwordFormGroup.valid : true">
          <mat-icon>save</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="passwordFormGroup">
          <mat-password-strength [password]="password.value"> </mat-password-strength>
          <mat-form-field floatLabel="always">
            <mat-label>Contraseña actual</mat-label>
            <input matInput [type]="hide1 ? 'password' : 'text'" #password formControlName="passwordFormControl" placeholder="Ingrese su contraseña actual">
            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide1">
              <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <mat-label>Nueva contraseña</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'" #newpassword formControlName="newPasswordFormControl" placeholder="Ingrese su nueva contraseña">
            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <mat-label>Repetir contraseña</mat-label>
            <input matInput [type]="hide3 ? 'password' : 'text'" #repeatpassword formControlName="passwordConfirmFormControl" placeholder="Vuelva a ingresar su nueva contraseña" [errorStateMatcher]="matcher">
            <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide3">
              <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passwordFormGroup.get('passwordConfirmFormControl').hasError('passwordsNotMatching')">
              Las contraseñas deben coincidir
            </mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
</div>
