<div id="vehiclesList">
    <div class="vehiclesFeatures">
        <div class="vehicleImg">
            <img src="assets/images/tempo.png">
         </div>
         <div class="vehicleName">
            <span class="brand">Suzuki</span>
            <span class="model">Alto 800</span>
         </div>
         <div class="vehiclePrice">
            DESDE&nbsp;<span>$5000</span>
         </div>
        <button mat-stroked-button>
        <div class="bg-gradient"></div>
        <span>COTIZAR</span>
        </button>
    </div>
    <div class="vehiclesFeatures">
        <div class="vehicleImg">
            <img src="assets/images/tempo.png">
         </div>
         <div class="vehicleName">
            <span class="brand">Suzuki</span>
            <span class="model">Alto 800</span>
         </div>
         <div class="vehiclePrice">
            DESDE&nbsp;<span>$5000</span>
         </div>
        <button mat-stroked-button>
        <div class="bg-gradient"></div>
        <span>COTIZAR</span>
        </button>
    </div>
    <div class="vehiclesFeatures">
        <div class="vehicleImg">
            <img src="assets/images/tempo.png">
         </div>
         <div class="vehicleName">
            <span class="brand">Suzuki</span>
            <span class="model">Alto 800</span>
         </div>
         <div class="vehiclePrice">
            DESDE&nbsp;<span>$5000</span>
         </div>
        <button mat-stroked-button>
        <div class="bg-gradient"></div>
        <span>COTIZAR</span>
        </button>
    </div>

    <div id="navigator">
        <div id="navCenter">
            <div id="navLeft"></div>
            <div id="navSpace"><div class="circle"></div><div class="circle"></div><div class="circle"></div></div>
            <div id="navRight"></div>
        </div>
    </div>
</div>
