/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43em) {

}

/* Small devices (portrait tablets and large phones, 688px and up) */
@media only screen and (min-width: 43em) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {
    #vehiclesList{
        .vehiclesFeatures{
            padding: 0 0 8% 0;

            .vehicleImg{
                padding-top: 15px;
            }

            mat-card-content{    
                .vehicleName{
                    padding-top: 5px;
        
                    .brand{
                        padding-bottom: 5px;
                        font-size: 15pt;
                    }
                    .model{
                        padding-bottom: 20px;
                        font-size: 20pt;
                    }
                }
            
                .vehiclePrice{
                    font-size: 13pt;
                    padding-bottom: 15px;
        
                    span{
                        font-size: 20pt;
                    }
                }
            }  
            
            mat-card-actions{
                button{
                    font-size: 13pt;
                }
            }
        }
    }

    #navigator{
        margin-top: 10px;
    
        #navCenter{
            width: 140px;
            height: 36px;
            
            #navLeft{
                border-top: 18px solid transparent;
                border-bottom: 18px solid transparent; 
                border-right: 26px solid #CA181F; 
            }
    
            #navSpace{
                .circle{
                    top: 12px;
                    width: 10px;
                    height: 10px;
                }
    
                .circle:nth-child(1){
                    margin-left: 40px;
                }
                .circle:nth-child(2){
                    margin-left: 65px;
                }
                .circle:nth-child(3){
                    margin-left: 90px;
                }
            }
    
            #navRight{
                border-top: 18px solid transparent;
                border-bottom: 18px solid transparent;
                border-left: 26px solid #CA181F;
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 119em) {
    #vehiclesList{
        .vehiclesFeatures{
            padding: 0 0 7% 0;

            .vehicleImg{
                padding-top: 30px;
            }

            mat-card-content{    
                .vehicleName{
                    padding-top: 10px;
        
                    .brand{
                        padding-bottom: 15px;
                        font-size: 20pt;
                    }
                    .model{
                        padding-bottom: 30px;
                        font-size: 25pt;
                    }
                }
            
                .vehiclePrice{
                    font-size: 18pt;
                    padding-bottom: 25px;
        
                    span{
                        font-size: 25pt;
                    }
                }
            }    

            mat-card-actions{
                button{
                    font-size: 15pt;
                }
            }
        }
    }

    #navigator{
        margin-top: 25px;
    
        #navCenter{
            width: 200px;
            height: 50px;
            
            #navLeft{
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent; 
                border-right: 40px solid #CA181F; 
            }
    
            #navSpace{
                .circle{
                    top: 19px;
                    width: 12px;
                    height: 12px;
                }
    
                .circle:nth-child(1){
                    margin-left: 65px;
                }
                .circle:nth-child(2){
                    margin-left: 95px;
                }
                .circle:nth-child(3){
                    margin-left: 125px;
                }
            }
    
            #navRight{
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent;
                border-left: 40px solid #CA181F;
            }
        }
    }
}

//----------------------------------

#vehiclesList{
    width: 100%;
    height: 100%;
    overflow: hidden;

    img{
        width: 100%;
        height: auto;
    }

    .vehiclesFeatures{
        position: relative;
        display: inline-block;
        margin-right: 0%;
        width: 100%;
        background: white;
        border-radius: 25px;
        text-align: center;
        font-family: "palanquin", "arial", sans-serif;
        box-shadow: none;

        .vehicleImg{
            width: 75%;
            cursor: pointer;
            margin: 0px auto;
        }

        mat-card-content{
            padding: 0px;
            margin: 0px;

            .vehicleName{    
                .brand{
                    display: block;
                }
                .model{
                    display: block;
                    color: #CA181F;
                    font-weight: bold;
                }
            }
        
            .vehiclePrice{ 
                span{
                    font-weight: bold;
                }
            }
        }

        mat-card-actions{
            padding: 0px;

            button{
                color: #CA181F;
                font-family: 'palanquin', 'arial', sans-serif;
                font-weight: bold;
                letter-spacing: 1px;;
                border-radius: 50px;
                border: 3px solid #CA181F;
                width: 50%;
                height: 7%;
        
                .bg-gradient{
                    background: rgb(202,24,31);
                    background: linear-gradient(90deg, rgba(202,24,31,1) 0%, rgba(93,0,0,1) 100%);
                    border: 0px solid;
                    border-radius: 50px;
                    z-index: 0;
                    display:block;
                    top:0;
                    left:0;
                    position:absolute;
                    width:100%;
                    height: 100%;
                    opacity: 0;
                    transition: opacity 0.5s;
                }
    
                span{
                    z-index: 5;
                    position: relative;
                    vertical-align: inherit;
                }
    
                &:hover{
                    color: white !important;
                    border: 3px solid white;
        
                    .bg-gradient{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

#navigator{
    position: absolute;
    left: 50%;

    #navCenter{
        position: relative;
        left: -50%;
        
        #navLeft{
            position: absolute;
            cursor: pointer;
            left: 0px;
            width: 0; 
            height: 0; 
        }

        #navSpace{
            .circle{
                display: inline-block;
                border-radius: 25px;
                position: absolute;
                background: #CA181F;
            }
        }

        #navRight{
            position: absolute;
            cursor: pointer;
            right: 0px;
            width: 0;
            height: 0; 
        }
    }
}