
<div @fadeInOut id="content-screen">
    <div id="login-form">
        <div id="loginBackground"></div>

        <div id="closeBtn" (click)="hideLogin()"></div>

        <span>No olvide ingresar si ya es parte de nuestra gran familia</span>

        <form name="loginForm" [formGroup]="loginForm" (submit)="onSubmit()" novalidate>
            <mat-form-field appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input matInput type="text" formControlName="username" name="username" id="username"/>
                <mat-icon matSuffix>mail_outline</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password" name="password" class="form-control"/>
                <mat-icon matSuffix>visibility_off</mat-icon>
            </mat-form-field>

            <div class="remember-forgot-password">
                <a class="forgot-password" [routerLink]="'../forgot-password'">
                ¿Olvidó su contraseña?
                </a>
            </div>

            <button type="button" id="login" mat-raised-button color="primary" class="submit-button" (click)="logIn()">
                INICIAR SESIÓN
            </button>
        </form>

        <div *ngIf="noRegisteredClient" class="register">
            <span class="text">¿No tiene una cuenta?</span>
            <a class="link" (click)="hideLogin()">Registrese ahora</a>
        </div>
    </div>
</div>


