/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43em) {

}

/* Small devices (portrait tablets and large phones, 688px and up) */
@media only screen and (min-width: 43em) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {
    #sidebarServices{
        width: 25%;
        -webkit-box-shadow: 5px 0px 34px -5px rgba(0,0,0,0.7);
        -moz-box-shadow: 5px 0px 34px -5px rgba(0,0,0,0.7);
        box-shadow: 5px 0px 34px -5px rgba(0,0,0,0.7);

        .arrowWrapperBtn{
            top: 17%;
        }

        #services{
            top: 13.5%;
            padding: 7% 7.5% 5%;

            #servicesTitle{
                left: 15%;
                font-size: 20pt;
            }

            .line{
                width: calc(100% + 52px);
                left: -25px;
            }

            #serviceForm{   
                padding-top: 35px;

                #items{
                    mat-list-option{
                        width: 21%;
                        margin-right: 45px;
                        margin-bottom: 45px;
                        
                        &:nth-child(10){
                            margin-bottom: 0px;
                            width: 36%;
                            .item{
                                width: 96px;
                            }
                        }
    
                        &:nth-child(1), &:nth-child(4){
                            .item{
                                width: 50px;
                            }
                        }
                        &:nth-child(2){
                            .item{
                                width: 43.5px;
                            }
                        }
                        &:nth-child(5){
                            .item{
                                width: 55px;
                            }
                        }
                        &:nth-child(6){
                            .item{
                                width: 46.5px;
                            }
                        }
                        &:nth-child(7){
                            .item{
                                width: 63px;
                            }
                        }
                        &:nth-child(8){
                            .item{
                                width: 55px;
                            }
                        }
                        &:nth-child(9){
                            .item{
                                width: 57px;
                            }
                        }
                    }

                    ::ng-deep.mat-list-text{
                        line-height: 1.4;
                    }
    
                    .item{
                        font-size: 8pt;
                        width: 60px;
                    }
                }
            }

            .wrapper{        
                .submit-button{
                    font-size: 13pt;
                }
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 119em) {
    #sidebarServices{
        width: 25%;
        -webkit-box-shadow: 5px 0px 34px -5px rgba(0,0,0,0.7);
        -moz-box-shadow: 5px 0px 34px -5px rgba(0,0,0,0.7);
        box-shadow: 5px 0px 34px -5px rgba(0,0,0,0.7);

        .arrowWrapperBtn{
            top: 17.5%;
        }

        #services{
            top: 14%;
            padding: 7% 7.5% 5%;

            #servicesTitle{
                left: 10%;
                font-size: 25pt;
            }

            .line{
                width: calc(100% + 72px);
                left: -35px;
            }

            #serviceForm{    
                padding-top: 60px;

                #items{
                    mat-list-option{
                        width: 24%;
                        margin-right: 57px;
                        margin-bottom: 100px;
                       
                        &:nth-child(10){
                            margin-bottom: 15px;
                            width: 32%;
                            .item{
                                width: 131px;
                            }
                        }
    
                        &:nth-child(1), &:nth-child(4){
                            .item{
                                width: 75px;
                            }
                        }
                        &:nth-child(2){
                            .item{
                                width: 63.5px;
                            }
                        }
                        &:nth-child(5){
                            .item{
                                width: 80px;
                            }
                        }
                        &:nth-child(6){
                            .item{
                                width: 66.5px;
                            }
                        }
                        &:nth-child(7){
                            .item{
                                width: 93px;
                            }
                        }
                        &:nth-child(8){
                            .item{
                                width: 85px;
                            }
                        }
                        &:nth-child(9){
                            .item{
                                width: 87px;
                            }
                        }
                    }
    
                    .item{
                        font-size: 12pt;
                        width: 90px;
                    }
                }
            }

            .wrapper{        
                .submit-button{
                    font-size: 13pt;
                }
            }
        }
    }
}

//------Animations---------
//Arrow animation
@keyframes arrow-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}

@keyframes arrow-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
/*--------------------*/

#sidebarServices{
    position: relative;
    z-index: 1;
    top: 0px;
    left: 0px;
    height: 100%;
    background: white;

    $ease: cubic-bezier(.2,1,.3,1);

    .arrowWrapperBtn{
        position: absolute;
        left: 7.5%;
        z-index: 4;
        
        svg {
            width: 30px;
            height: auto;
            cursor: pointer;
            overflow: visible;
            polygon, path {
            transition: all 0.5s $ease;
            }
            &:hover polygon, &:hover path {
            transition: all 1s $ease;
            fill: #CA181F;
            }
            
            &:hover .arrow {
            animation: arrow-anim 2.5s $ease infinite;
            }
            &:hover .arrow-fixed {
            animation: arrow-fixed-anim 2.5s $ease infinite;
            }
        }
    }

    #services{
        position: relative;
        width: 85%;
        height: 80%;

        #servicesTitle{
            position: relative;
            font-family: "palanquin", "arial", sans-serif;
            font-weight: bold;
            color: #CA181F;
        }

        .line{
            position: relative;
            height: 1px;
            border-bottom: 1px solid #C6CCD6;
            padding-top: 20px;
        }

        #serviceForm{
            position: relative;
    
            #items{
                position: relative;

                ::ng-deep.mat-pseudo-checkbox{
                    display: none !important;
                }

                mat-list-option{
                    position: relative;
                    display: inline-block;

                    &:nth-child(3), &:nth-child(6), &:nth-child(9){
                        margin-right: 0px;
                    }
                }

                mat-list-option[aria-selected="true"] {
                    background: white;

                    & .item>svg{
                        fill: #CA181F;
                    }

                    & .item{
                        color: #CA181F;
                    }
                }

                mat-list-option[aria-selected="false"] {
                    background: white;
                }

                ::ng-deep.mat-list-text{
                    padding: 0px;
                }

                .item{
                    margin: 0 auto;
                    text-align: center;
                    color: #000000;
                }
            }
        }

        .wrapper{
            position: absolute;
            bottom: 0%;
            left: 50%;
            width: 100%;

            .submit-button{
                position: relative;
                display: block;
                left: -50%;
                font-family: "palanquin", "arial", sans-serif;
                width: 50%;
                height: 7%;
                margin: 20px auto;
                border-radius: 50px;
            }
        }
    }
}