/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43em) {

}

/* Small devices (portrait tablets and large phones, 688px and up) */
@media only screen and (min-width: 43em) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {
    #sidebarFilter{
        width: 25%;
        -webkit-box-shadow: 5px 0px 24px -5px rgba(0,0,0,0.7);
        -moz-box-shadow: 5px 0px 24px -5px rgba(0,0,0,0.7);
        box-shadow: 5px 0px 24px -5px rgba(0,0,0,0.7);

        #filter{
            top: 13.5%;
            padding: 25px;

            #fltrTitle{
                font-size: 20pt;
            }

            .line{
                width: calc(100% + 52px);
                left: -25px;
            }

            #filterForm{    
                .fltrSubtitle{
                    font-size: 18pt;
                    padding: 15px 0px;
                }

                mat-expansion-panel{
                    mat-panel-description{
                        font-size: 9pt;
                        padding: 15px 0px;
                    }
                }

                #brands{
                    mat-list-option{
                        margin-right: 19px;
                        margin-bottom: 5px;
        
                        &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12){
                            margin-bottom: 5px;
                        }
                    }
    
                    .brand{
                        width: 50px;
                    }
                }

                #types{
                    mat-list-option{
                        margin-right: 3px;
                        margin-bottom: 15px;
    
                        &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12){
                            margin-bottom: 5px;
                        }
                    }
    
                    .type{
                        font-size: 10pt;
                        width: 60px;
                    }
                }
            }

            .wrapper{        
                .submit-button{
                    font-size: 13pt;
                }
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 119em) {
    #sidebarServices{
        width: 25%;
        -webkit-box-shadow: 5px 0px 34px -5px rgba(0,0,0,0.7);
        -moz-box-shadow: 5px 0px 34px -5px rgba(0,0,0,0.7);
        box-shadow: 5px 0px 34px -5px rgba(0,0,0,0.7);

        #services{
            top: 14%;
            padding: 7% 7.5% 5%;

            #servicesTitle{
                font-size: 25pt;
            }

            .line{
                width: calc(100% + 72px);
                left: -35px;
            }

            #serviceForm{    
                mat-expansion-panel{
                    mat-panel-description{
                        font-size: 13pt;
                        padding: 30px 0px;
                    }
                }

                #items{
                    mat-list-option{
                        margin-right: 57px;
                        margin-bottom: 100px;
    
                        &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12){
                            margin-bottom: 15px;
                        }
                    }
    
                    .item{
                        font-size: 12pt;
                        width: 90px;
                    }
                }
            }

            .wrapper{        
                .submit-button{
                    font-size: 13pt;
                }
            }
        }
    }
}

/*--------------------*/
#sidebarServices{
    position: relative;
    z-index: 1;
    top: 0px;
    left: 0px;
    height: 100%;
    background: white;

    #services{
        position: relative;
        width: 85%;
        height: 80%;

        #servicesTitle{
            font-family: "palanquin", "arial", sans-serif;
            font-weight: bold;
            color: #CA181F;
        }

        .line{
            position: relative;
            height: 1px;
            border-bottom: 1px solid #C6CCD6;
            padding-top: 20px;
        }

        #serviceForm{
            position: relative;
            padding-top: 60px;
    
            #items{
                position: relative;

                ::ng-deep.mat-pseudo-checkbox{
                    display: none !important;
                }

                mat-list-option{
                    width: 24%;
                    position: relative;
                    display: inline-block;

                    &:nth-child(3), &:nth-child(6), &:nth-child(9){
                        margin-right: 0px;
                    }

                    &:nth-child(10){
                        width: 32%;
                        .item{
                            width: 131px;
                        }
                    }

                    &:nth-child(1), &:nth-child(4){
                        .item{
                            width: 75px;
                        }
                    }
                    &:nth-child(2){
                        .item{
                            width: 63.5px;
                        }
                    }
                    &:nth-child(5){
                        .item{
                            width: 80px;
                        }
                    }
                    &:nth-child(6){
                        .item{
                            width: 66.5px;
                        }
                    }
                    &:nth-child(7){
                        .item{
                            width: 93px;
                        }
                    }
                    &:nth-child(8){
                        .item{
                            width: 85px;
                        }
                    }
                    &:nth-child(9){
                        .item{
                            width: 87px;
                        }
                    }

                }

                mat-list-option[aria-selected="true"] {
                    background: white;

                    & .item>svg{
                        fill: #CA181F;
                    }

                    & .item{
                        color: #CA181F;
                    }
                }

                mat-list-option[aria-selected="false"] {
                    background: white;
                }

                ::ng-deep.mat-list-text{
                    padding: 0px;
                }

                .item{
                    margin: 0 auto;
                    text-align: center;
                    color: #000000;
                }
            }
        }

        .wrapper{
            position: absolute;
            bottom: 3%;
            left: 50%;
            width: 100%;

            .submit-button{
                position: relative;
                display: block;
                left: -50%;
                font-family: "palanquin", "arial", sans-serif;
                width: 50%;
                height: 7%;
                margin: 20px auto;
                border-radius: 50px;
            }
        }
    }
}