<div id="mainScreen">
    <div id="bottomCurve"></div>

    <div id="image-stack">
        <div id="carWorkshop">
            <img src="assets/images/car_workshop.png">
        </div>
        <div id="mechanic">
           <img src="assets/images/mechanic.png">
        </div>
        <div id="elevatorPole">
            <img src="assets/images/elevator_pole.png">
         </div>
        <div id="elevator">
            <img src="assets/images/elevator.png">
         </div>
         <div id="carWorkshopShadow">
            <img src="assets/images/car_workshop_shadow.png">
         </div>
         <div id="workshop">
            <img src="assets/images/workshop.png">
        </div>
        <div id="workshopFloor">
            <img src="assets/images/workshop_floor.png">
        </div>
    </div>

</div>
