<div id="mainScreen">
    <div @slideUpDown *ngIf="displayBottom" id="bottomCurve"></div>

    <app-services @slideInOut *ngIf="displayServices" class="content-wrapper-services" (selectedOptionsItems)="showSelectedServices($event)" (displayServices)="hideServices($event)" [selectedItems]="selectedItemsText"></app-services>

    <div @fadeInOut *ngIf="displayStack" id="image-stack">
        <div @fadeInOut *ngIf="displayOthers" id="carWorkshop">
            <img src="assets/images/car_workshop.png">
        </div>
        <div @fadeInOut *ngIf="displayOthers" id="mechanic">
           <img src="assets/images/mechanic.png">
        </div>
        <div id="elevatorPole">
            <img src="assets/images/elevator_pole.png">
         </div>
        <div id="elevator">
            <img src="assets/images/elevator.png">
         </div>

         <div *ngIf="displayOtherShadow" class="carShadow"></div>

         <div id="workshop">
            <img src="assets/images/workshop.png">
        </div>
        <div id="workshopFloor">
            <img src="assets/images/workshop_floor.png">
        </div>
    </div>

    <div @fadeInOut *ngIf="displayTitle" id="title">
        <p>Servicios de mantenimiento, reparación, planchado/pintura y lavado</p>
        <p>Reserva tu cita hoy</p>
    </div>

    <div @fadeInOut *ngIf="displayBook">
        <app-book @fadeInOut *ngIf="!displayRegisterFromSection" class="content-wrapper-book" (displayServices)="showServices($event)" (verifyClient)="isClientRegistered($event)" [selectedItems]="selectedItemsText"></app-book>
    </div>

    <app-register @fadeInOut *ngIf="displayRegisterFromSection" class="content-wrapper-register" (showBook)="showBook($event)" [activeWorkshopRegister]="displayRegisterFromSection"></app-register>

</div>
