<div id="mainScreen">
    <div id="bottomCurve"></div>

    <app-services *ngIf="displayServices" class="content-wrapper-services" (selectedOptionsItems)="showSelectedServices($event)" (displayServices)="hideServices($event)" [selectedItems]="selectedItemsText"></app-services>

    <div id="image-stack">
        <div id="carWorkshop">
            <img src="assets/images/car_workshop.png">
        </div>
        <div id="mechanic">
           <img src="assets/images/mechanic.png">
        </div>
        <div id="elevatorPole">
            <img src="assets/images/elevator_pole.png">
         </div>
        <div id="elevator">
            <img src="assets/images/elevator.png">
         </div>
         <div id="carWorkshopShadow">
            <img src="assets/images/car_workshop_shadow.png">
         </div>
         <div id="workshop">
            <img src="assets/images/workshop.png">
        </div>
        <div id="workshopFloor">
            <img src="assets/images/workshop_floor.png">
        </div>
    </div>

    <div id="title">
        <p>Servicios de mantenimiento, reparación, planchado/pintura y lavado</p>
        <p>Reserva tu cita hoy</p>
    </div>

    <app-book *ngIf="!displayRegisterFromSection" class="content-wrapper-book" (displayServices)="showServices($event)" (verifyClient)="isClientRegistered($event)" [selectedItems]="selectedItemsText"></app-book>

    <app-register *ngIf="displayRegisterFromSection" class="content-wrapper-register" (showBook)="showBook($event)" [activeWorkshopRegister]="displayRegisterFromSection"></app-register>

</div>
