//-----SVG-------
$bottom:"%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%202040%20634.67%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Aurl%28%23Degradado_sin_nombre_7%29%3B%7D%3C%2Fstyle%3E%3ClinearGradient%20id%3D%22Degradado_sin_nombre_7%22%20x1%3D%221020%22%20x2%3D%221020%22%20y2%3D%22634.67%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23ca181f%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23616161%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cg%20id%3D%22Capa_2%22%20data-name%3D%22Capa%202%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1708%2C160c-142.26%2C12.72-218.76%2C54.62-341.33%2C88.89-199.37%2C55.75-362.19%2C47-510.23%2C39.11C482.15%2C268%2C177.07%2C111.54%2C0%2C0V634.67H2040V192C1961.71%2C170.16%2C1845.73%2C147.68%2C1708%2C160Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E";
//---------------

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43em) {

}

/* Small devices (portrait tablets and large phones, 688px and up) */
@media only screen and (min-width: 43em) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {
    #workshop{
        #image-stack{
            width: 39%;
            bottom: 25px;
            left: 25px;
        }

        #title{
            left: 47%;
            bottom: 25px;
            font-size: 25pt;

            p:nth-child(2){
                font-size: 44pt;
            }
        }

        .content-wrapper-register{
            top: 17%;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 119em) {
    #workshop{
        #image-stack{
            width: 40%;
            bottom: 35px;
            left: 35px;
        }

        #title{
            left: 43%;
            bottom: 35px;
            font-size: 43pt;

            p:nth-child(2){
                font-size: 62pt;
            }
        }

        .content-wrapper-register{
            top: 13%;
        }
    }
}

//Float animation
@keyframes elevateUp {
	0% {
		transform: translatey(0px);
	}
	20% {
		transform: translatey(-70px);
    }
    40% {
		transform: translatey(-70px);
    }
    60% {
		transform: translatey(-70px);
    }
    80% {
		transform: translatey(0px);
    }
    100% {
		transform: translatey(0px);
	}
}

@keyframes elevate-shadow {
	0% {
        opacity: 0.4;
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    }
    20% {
        opacity: 0.1;
		box-shadow: 0 20px 15px 0px rgba(0,0,0,0.3);
    }
    40% {
        opacity: 0.1;
		box-shadow: 0 20px 15px 0px rgba(0,0,0,0.3);
    }
    60% {
        opacity: 0.1;
		box-shadow: 0 20px 15px 0px rgba(0,0,0,0.3);
    }
    80% {
		opacity: 0.4;
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    }
    100% {
		opacity: 0.4;
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	}
}
//-------------------------

#workshop{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #EFEFEF;

    img{
        width: 100%;
        height: auto;
    }

    #bottomCurve{
        position: absolute;
        width: 100%;
        height: 69%;
        z-index: 0;
        bottom: 0px;
        right: 0px;
        background: url("data:image/svg+xml, #{$bottom}") bottom right no-repeat !important;
    }

    .content-wrapper-services{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    #image-stack{
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        position: absolute;
        z-index: 1;

        #carWorkshop{
            grid-column: 6/14;
            grid-row: 1;
            z-index: 5;
            padding-top: 27%;
            padding-left: 8%;
            animation: elevateUp 90s infinite;
        }

        #mechanic{
            grid-column: 14/17;
            grid-row: 1;
            z-index: 6;
            padding-top: 100%;
            padding-left: 16%;

            img{
                width: 70%;
            }
        }

        #elevatorPole{
            grid-column: 11/13;
            grid-row: 1;
            z-index: 5;
            padding-top: 116%;
            padding-left: 30%;

            img{
                width: 66%;
            }
        }

        #elevator{
            grid-column: 8/12;
            grid-row: 1;
            z-index: 4;
            padding-top: 125%;
            padding-left: 15%;
            animation: elevateUp 90s infinite;

            img{
                width: 95%;
            }
        }

        .carShadow{
            content: "";
            position: absolute;
            z-index: 3;
            top: 41%;
            left: 30%;
            border-radius: 35px;
            transform: rotate(-30deg) skewX(30deg);
            width: 34%;
            height: 20%;
            background: black;
            -webkit-animation: elevate-shadow 90s ease-in-out infinite;
            animation: elevate-shadow 90s ease-in-out infinite;
        }

        #workshopImage{
            grid-column: 3/19;
            grid-row: 1;
            z-index: 3;
            padding-top: 0%;
        }

        #workshopFloor{
            grid-column: 1/21;
            grid-row: 1;
            z-index: 2;
            padding-top: 0%;
        }
    }

    #title{
        position: absolute;
        font-family: "ubuntu", "arial", sans-serif;
        color: white;
        line-height: normal;

        p:nth-child(2){
            font-weight: bold;
        }
    }

    .content-wrapper-book{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .content-wrapper-register{
        position: absolute;
        z-index: 1;
        height: 45%;
        left: 25%;
        width: 60%;
    }
}