<div id="closeBtn" (click)="closeRegister()"></div>

<div id="personType" *ngIf="showSelection" [class.workshop] ="activeWorkshopRegister">
  <div class="title">¿Cómo se desea registrar?</div>
  <div class="content">
    <div id="business" class="item" (click)="startRegister(true)">
      <div class="image"></div>
      <div class="description">Empresa</div>
    </div>
    <div id="people" class="item" (click)="startRegister(false)">
      <div class="image"></div>
      <div class="description">Persona natural</div>
    </div>
  </div>
</div>

<mat-horizontal-stepper id="registerForm" *ngIf="showRegister" linear=true #stepper [class.active]="changeinputClass" [class.workshop] ="activeWorkshopRegister">
  <mat-step [stepControl]="firstFormGroup" [editable]="editable">
    <form [formGroup]="firstFormGroup" class="register">
      <ng-template matStepLabel>{{type ? 'Razón social' : 'Nombres y apellidos'}}</ng-template>
      <div class="subtitle">{{type ? '¿Cuál es el nombre de su empresa?' : '¿Cómo te llamas?'}}</div>
      <mat-form-field>
        <mat-label>{{type ? 'Razón social' : 'Nombres completos'}}</mat-label>
        <input matInput #name formControlName="nameFormControl" placeholder="{{type ? 'Ingrese su razón social' : 'Ingresa tus nombres'}}" required>
        <button mat-button *ngIf="name.value" matSuffix mat-icon-button aria-label="Clear" (click)="firstFormGroup.get('nameFormControl').reset()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="firstFormGroup.get('nameFormControl').hasError('required')">
          Campo obligatorio
        </mat-error>
      </mat-form-field>
      <mat-form-field [class.active]="type">
        <mat-label>Apellidos completos</mat-label>
        <input matInput #surname formControlName="surnameFormControl" placeholder="Ingresa tus apellidos" required>
        <button mat-button *ngIf="surname.value" matSuffix mat-icon-button aria-label="Clear" (click)="firstFormGroup.get('surnameFormControl').reset()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="firstFormGroup.get('surnameFormControl').hasError('required')">
          Campo obligatorio
        </mat-error>
      </mat-form-field>
      <div class="buttons">
        <button mat-stroked-button color="primary" class="backBtn" (click)="choosePersonType()">
          <div class="bg-gradient"></div>
          <span>ATRAS</span>
        </button>
        <button mat-raised-button color="primary" class="nextBtn" matStepperNext [disabled]="!firstFormGroup.valid">SIGUIENTE</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]="editable">
    <form [formGroup]="secondFormGroup" class="register">
      <ng-template matStepLabel>Otros datos</ng-template>
      <div class="subtitle"><p>Bienvenido {{name.value}},</p><p>bríndanos estos datos para poder cotizar tu auto</p></div>
      <mat-form-field class="anotherData">
        <mat-label>{{type ? 'RUC' : 'DNI'}}</mat-label>
        <input matInput #doc type="number" min="{{type ? 10000000000 : 10000000}}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="{{type ? 11 : 8}}" formControlName="docFormControl" placeholder="{{type ? 'Número de RUC' : 'Número de DNI'}}" required>
        <button mat-button *ngIf="doc.value" matSuffix mat-icon-button aria-label="Clear" (click)="secondFormGroup.get('docFormControl').reset()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="secondFormGroup.get('docFormControl').hasError('min') && !secondFormGroup.get('docFormControl').hasError('required')">
          {{type ? 'Debe tener 11 dígitos' : 'Debe tener 8 dígitos'}}
        </mat-error>
        <mat-error *ngIf="secondFormGroup.get('docFormControl').hasError('required')">
          Campo obligatorio
        </mat-error>
      </mat-form-field>
      <mat-form-field class="anotherData">
        <mat-label>Celular</mat-label>
        <input matInput #cellphone type="number" min="100000000" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="9" formControlName="phoneFormControl" placeholder="Número de celular" required>
        <button mat-button *ngIf="cellphone.value" matSuffix mat-icon-button aria-label="Clear" (click)="secondFormGroup.get('phoneFormControl').reset()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="secondFormGroup.get('phoneFormControl').hasError('min') && !secondFormGroup.get('phoneFormControl').hasError('required')">
          Debe tener 9 dígitos
        </mat-error>
        <mat-error *ngIf="secondFormGroup.get('phoneFormControl').hasError('required')">
          Campo obligatorio
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Correo electrónico</mat-label>
        <input matInput #email formControlName="emailFormControl" placeholder="Correo electrónico" required>
        <button mat-button *ngIf="email.value" matSuffix mat-icon-button aria-label="Clear" (click)="secondFormGroup.get('emailFormControl').reset()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="secondFormGroup.get('emailFormControl').hasError('email') && !secondFormGroup.get('emailFormControl').hasError('required')">
          Ingrese un correo electrónico válido
        </mat-error>
        <mat-error *ngIf="secondFormGroup.get('emailFormControl').hasError('required')">
          Campo obligatorio
        </mat-error>
      </mat-form-field>
      <div class="buttons">
        <button mat-stroked-button color="primary" class="backBtn" matStepperPrevious>
          <div class="bg-gradient"></div>
          <span>ATRAS</span>
        </button>
        <button mat-raised-button color="primary" class="nextBtn" matStepperNext (click)="sendForm()" [disabled]="!secondFormGroup.valid">ENVIAR</button>
        <section class="chkBtn">
          <mat-checkbox formControlName="politicsFormControl" color="primary" required>He leído y acepto la <a>política de privacidad</a></mat-checkbox>
        </section>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>¡Listo!</ng-template>
    <div id="sendEmail">
      <div class="image"></div>
      <p>Se le envió un correo de confirmación a</p>
      <p>{{email.value}}</p>
    </div>
  </mat-step>
</mat-horizontal-stepper>
