<div id="clientPromotions">
  <mat-card class="profileCard" *ngFor="let prom of clientPromotions; let i = index">
      <mat-card-header>
        <mat-card-title>{{prom.promTitle}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="promotionImage">
          <img src={{prom.promImage}}>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="showMore" (click)="enlargeImage(i)">
          <span>MOSTRAR MÁS</span>
        </button>
      </mat-card-actions>
  </mat-card>
</div>
