<div @fadeInOut id="content-screen">
    <div id="show-success">
        <div id="closeBtn" (click)="hideSuccess()"></div>

        <div id="successMessage">
            <span class="text">
                {{changeSuccessContent ? 'Su cita se ha reservado con éxito' : 'En breve nos pondremos en contacto'}}
            </span>
            <span class="thanks">
                GRACIAS
            </span>
        </div>

        <div id="image-stack">
            <div *ngIf="!changeSuccessContent" id="message">
                <img src="assets/images/messages.png">
            </div>
            <div *ngIf="!changeSuccessContent" id="phone">
               <img src="assets/images/phone.png">
            </div>
            <div *ngIf="changeSuccessContent" id="stamp">
                <img src="assets/images/stamp.png">
            </div>
            <div *ngIf="changeSuccessContent" id="approved">
               <img src="assets/images/approved.png">
            </div>
        </div>

    </div>
</div>
