<div id="black-screen">
    <div id="show-success">
        <div id="closeBtn" (click)="hideSuccess()"></div>

        <div id="successMessage">
            <span class="text">
                En breve nos pondremos en contacto
            </span>
            <span class="thanks">
                GRACIAS
            </span>
        </div>

        <div id="image-stack">
            <div id="message">
                <img src="assets/images/messages.png">
            </div>
            <div id="phone">
               <img src="assets/images/phone.png">
            </div>
        </div>

    </div>
</div>
