<div *ngIf="!displayForMainScreen && !displayForUserScreen" id="topLinks" [className]="changeTopLinksClass ? 'active' : ''">
  <div class="content">
    <div id="logoHome" (click)="goToMain()"></div>
    <div class="line"></div>
    <div id="about">NOSOTROS</div>
  </div>
</div>

<span *ngIf="!displayProfile" class="pulse" [class.active] ="changeLoginClass" [class.main] ="displayForMainScreen"></span>
<div class="login" [class.active] ="changeLoginClass" [class.main] ="displayForMainScreen" [class.user] ="displayForUserScreen">
    <div *ngIf="!displayProfile" (click)="showLogin()" id="noLogin" class="no-profile" [matTooltip]="displayForMainScreen? '': 'Iniciar sesión'" matTooltipPosition="before"></div>
    <div *ngIf="displayProfile" id="Login" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu" class="profile"></div>
    <div *ngIf="displayProfile" [matMenuTriggerFor]="menu" class="profileFrame"><div class="profileContent"></div></div>
    <span *ngIf="displayForMainScreen" (click)="showLogin(); openMenu()">{{displayProfile ? 'Random client' : 'Iniciar sesión'}}</span>
    <button mat-icon-button *ngIf="displayForUserScreen" matTooltip="Cambiar imagen de perfil" matTooltipPosition="right" class="editProfilePic" aria-label="Cambiar imagen de perfil">
      <mat-icon >add_photo_alternate</mat-icon>
    </button>
    <span *ngIf="displayForUserScreen" (click)="openMenu()">Random client</span>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="user">
    <mat-icon>emoji_people</mat-icon>
    <span>Cliente</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="dealer">
    <mat-icon>emoji_transportation</mat-icon>
    <span>Concesionario</span>
  </button>
  <button mat-menu-item (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Salir</span>
  </button>
</mat-menu>
<mat-menu #user="matMenu">
  <button mat-menu-item (click)="toggleClass('perfil'); navigateTo('','../clientes/perfil')">
    <mat-icon>account_circle</mat-icon>
    <span>Perfil</span>
  </button>
  <button mat-menu-item (click)="navigateTo('','../clientes/motor-puntos')" disabled>
      <mat-icon>money</mat-icon>
      <span>Motor Puntos</span>
    </button>
  <button mat-menu-item (click)="toggleClass('calendario'); navigateTo('','../clientes/calendario')" disabled>
    <mat-icon>event</mat-icon>
    <span>Calendario</span>
  </button>
  <button mat-menu-item (click)="toggleClass('taller'); navigateTo('','../clientes/taller')">
    <mat-icon>home_repair_service</mat-icon>
    <span>Taller mecánico</span>
  </button>
</mat-menu>
<mat-menu #dealer="matMenu">
  <button mat-menu-item (click)="navigateTo('vehiclesView','../concesionario/vehiculos')">
    <mat-icon>directions_car</mat-icon>
    <span>Vehículos</span>
  </button>
  <button mat-menu-item (click)="navigateTo('partsView','../concesionario/repuestos')" disabled>
      <mat-icon>miscellaneous_services</mat-icon>
      <span>Repuestos</span>
    </button>
  <button mat-menu-item (click)="navigateTo('workshopView','../concesionario/taller')">
    <mat-icon>home_repair_service</mat-icon>
    <span>Taller</span>
  </button>
</mat-menu>

<div *ngIf="displayForUserScreen" class="itemName">
  <mat-icon>{{itemIcon}}</mat-icon>
  <span>{{itemName}}</span>
</div>
