//-----SVG-------
$logoMini:"%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201910.88%201494.84%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23ca181f%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22Capa_2%22%20data-name%3D%22Capa%202%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1858%2C1245.47a453.32%2C453.32%2C0%2C0%2C0-29.54-42.56%2C469.58%2C469.58%2C0%2C0%2C0-134.23-116.29%2C370.67%2C370.67%2C0%2C0%2C1-38.71-42.08c-48-60.79-60.07-109.3-114-208.6-13.06-23.82-29.34-42.28-49.78-54.47A131.37%2C131.37%2C0%2C0%2C0%2C1431.1%2C764c-282.88-16.44-473.57-16.87-473.57-16.87-118.39-.28-227%2C3.53-444.15%2C11.15-16.43.56-55.18%2C2.43-93.61%2C26.05q-42.48%2C26.16-68.85%2C78.41c-34.06%2C67.06-70.43%2C133-107.55%2C198.51a96.54%2C96.54%2C0%2C0%2C1-36%2C34.82c-59.83%2C32.91-109.7%2C75.44-144.64%2C134.79A198%2C198%2C0%2C0%2C1%2C48.07%2C1249c-9.64-34.14-19.85-63.16-26-93.06C-38.48%2C855.32%2C25%2C583.44%2C219.51%2C346%2C357.63%2C177.32%2C537.13%2C69.89%2C750.17%2C24.07c297.21-63.92%2C567.74-.44%2C805.08%2C189.3%2C192.56%2C153.93%2C305.43%2C356.25%2C343.66%2C599.5%2C21.72%2C138.33%2C15.37%2C275.14-31.2%2C408.54C1865.4%2C1227.8%2C1862.47%2C1234.31%2C1858%2C1245.47Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M352.75%2C1064.15c-7.66%2C1-38.23%2C4.33-47.09-10.64-6.39-10.8%2C1.75-25.37%2C12.79-45.74%2C27-49.94%2C54.31-99.77%2C81.23-149.75a105.69%2C105.69%2C0%2C0%2C1%2C33.15-38%2C108%2C108%2C0%2C0%2C1%2C52.41-17.59c248-21.12%2C437-18.74%2C437-18.74%2C158.81%2C2%2C273.31%2C7.75%2C502%2C19.22a95.32%2C95.32%2C0%2C0%2C1%2C84.45%2C53.32c27.59%2C51.14%2C56%2C101.84%2C83.77%2C152.89a185.42%2C185.42%2C0%2C0%2C1%2C11.91%2C27.08c2.58%2C7.31%2C2.5%2C13.3-.28%2C17.71-2%2C3.09-5.35%2C5.44-15%2C7.74a106.35%2C106.35%2C0%2C0%2C1-33.55%2C2.42Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1210.44%2C1385.42c3.21-.4%2C27.79-3%2C45.85%2C15.13a55.84%2C55.84%2C0%2C0%2C1%2C15.29%2C38.31%2C55.06%2C55.06%2C0%2C0%2C1-9%2C33.39%2C57.59%2C57.59%2C0%2C0%2C1-42.41%2C22.59l-532-.28c-3.53-.28-29.46-2.9-42.8-24.37a52.61%2C52.61%2C0%2C0%2C1-7.26-31.09c.4-6.23.83-24.86%2C15.64-39.27a55.2%2C55.2%2C0%2C0%2C1%2C42.56-14.41Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M314.24%2C1304.35c-.4-5-4.37-47.64-41.57-71.19a95.33%2C95.33%2C0%2C0%2C0-58.52-12.42c-48.79%2C5.91-83.38%2C52.76-77.74%2C104.41%2C2.82%2C26.84%2C4.25%2C53.88%2C5.44%2C80.84.52%2C11%2C5.2%2C16.39%2C15.6%2C19.21%2C38.2%2C10.29%2C76.15%2C21.48%2C114.39%2C31.76%2C11.91%2C3.22%2C21.63%2C2.74%2C30-3%2C11.4-7.75%2C13.54-22.87%2C14.06-29Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1596.5%2C1304.35c.36-5%2C4.33-47.64%2C41.57-71.19a95.26%2C95.26%2C0%2C0%2C1%2C58.48-12.42c48.8%2C5.91%2C83.38%2C52.76%2C77.78%2C104.41-2.86%2C26.84-4.25%2C53.88-5.48%2C80.84-.48%2C11-5.16%2C16.39-15.56%2C19.21-38.2%2C10.29-76.15%2C21.48-114.39%2C31.76-11.91%2C3.22-21.67%2C2.74-30.05-3-11.4-7.75-13.5-22.87-14-29Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E";
//---------------

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43em) {

}

/* Small devices (portrait tablets and large phones, 688px and up) */
@media only screen and (min-width: 43em) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {
    #sidebar{
        width: 25%;
        -webkit-box-shadow: 5px 0px 24px -5px rgba(0,0,0,0.7);
        -moz-box-shadow: 5px 0px 24px -5px rgba(0,0,0,0.7);
        box-shadow: 5px 0px 24px -5px rgba(0,0,0,0.7);

        #topLinks{
            .content{
                height: 60px;
                padding: 25px 25px 0px 25px;
    
                #logoHome{
                    margin-right: 20px;
                }
    
                #logoText{
                    font-size: 13pt;
                    line-height: 60px;
                }

                #sidebarBtn{   
                    top: 42%; 
                    transform: scale(1.2);
                }
            }
        }

        #options{
            padding: 25px 25px 0px 25px;
    
            .optTitle{
                font-size: 20pt;
            }
    
            .line{
                width: calc(100% + 52px);
                padding-top: 15px;
                left: -25px;

                &.last{
                    padding-top: 7px;
                }
            }

            .optContent{
                .item{
                    transform: scale(1);
                    margin-top: 0px;

                    &.last{
                        margin-bottom:15px;
                    }
                }
            }
        }

        &.active{  
            #topLinks{        
                .content{   
                    width: 56%;
                
                    #logoText{
                        padding-left: 70%;
                    }
                }
            }

            #options{
                width: 45%;

                .line{
                    &.last{
                        width: 45%;
                        left: 25px;
                    }
                }
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 119em) {
    #sidebar{
        -webkit-box-shadow: 5px 0px 34px -5px rgba(0,0,0,0.7);
        -moz-box-shadow: 5px 0px 34px -5px rgba(0,0,0,0.7);
        box-shadow: 5px 0px 34px -5px rgba(0,0,0,0.7);

        #topLinks{
            .content{
                height: 100px;
                padding: 35px 35px 0px 35px;
        
                #logoHome{
                    margin-right: 25px;
                }
        
                #logoText{
                    font-size: 20pt;
                    line-height: 100px;
                }

                #sidebarBtn{ 
                    top: 50%;
                    transform: scale(1.5);
                }
            }
        }

        #options{
            padding: 30px 35px 0px 35px;

            .optTitle{
                font-size: 25pt;
            }

            .line{
                padding-top: 20px;
                width: calc(100% + 72px);
                left: -35px;
            }

            .optContent{
                .item{
                    transform: scale(1.5);
                    margin-top: 15px;
    
                    &.last{
                        margin-bottom:30px;
                    }
                }
            }
        }

        &.active{  
            #topLinks{        
                .content{   
                    width: 66%;
                
                    #logoText{
                        padding-left: 80%;
                    }
                }
            }

            #options{
                width: 36%;

                .line{
                    &.last{
                        width: 36%;
                        left: 35px;
                    }
                }
            }
        }
    }
}

//Animations-----------------
@keyframes fade-in {
    from {
        opacity: 0%;
        width: 0px;
    }
    to {
        opacity: 1;
        width: 700%;
    }
}
  
@keyframes fade-out {
    from {
        opacity: 1;
        width: 700%;
    }
    to {
        opacity: 0;
        width: 0%;
    }
}

//---------------------------------------------------

#sidebar{
    position: relative;
    overflow: hidden;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: white;

    #topLinks{
        position: absolute;
        width: 100%;
    
        .content{
            position: relative;
            display: inline-flex;
            width: 85%;
    
            #logoHome{
                position: relative;
                outline: none;
                z-index: 0;
                width: 20%;
                height: 100%;
                cursor: pointer;
                background: url("data:image/svg+xml, #{$logoMini}") left center/100% 100% no-repeat !important;
            }
        
            #logoText{
                font-family: "palanquin", "arial", sans-serif;
                font-weight: bolder;
                position: absolute;
                padding-left: 22%;
                width: 40%;
                overflow: hidden;
                cursor: pointer;
        
                &:hover{
                    color: #CA181F;
                }
            }

            #sidebarBtn{    
                position: absolute;
                right: 5%;
            }
        }
    }

    #options{
        position: relative;
        top: 14%;
        width: 85%;
        height: 81%;

        .optTitle{
            display: initial;
            font-family: "palanquin", "arial", sans-serif;
            font-weight: bold;
            color: #CA181F;
        }

        .line{
            position: relative;
            height: 1px;
            border-bottom: 1px solid #C6CCD6;

            &.last{
                position: absolute;
                bottom: 7%;
            }
        }

        .optContent{
            .item{
                display: block;

                span{
                    position: absolute;
                    text-align: left;
                    padding-left: 7.5px;
                    overflow: hidden;
                }

                &.clicked{
                    color: black;
                }
            }

            &.last{
                position: absolute;
                bottom: 0px;
            }
        }
    }

    &.active{    
        #topLinks{        
            .content{   
                padding: 20px 20px 0px 20px;

                #logoHome{
                    margin-right: 0px;
                    width: 100%;
                }
            
                #logoText{
                    animation: fade-out .7s;
                    animation-fill-mode: forwards;
                }
    
                #sidebarBtn{    
                    display: none;
                }
            }
        }

        #options{            
            .optTitle{
                display: none;
            }

            .line{
                left: 0px;
                padding-top: 0px;
                padding-bottom: 20px;
                margin-bottom: 20px;
                width: 100%;
                border-bottom: 2.8px solid #C6CCD6;
                transition: .7s all ease-in-out;

                &.last{
                    padding-top: 0px;
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                }
            }

            .optContent{
                .item{
                    span{
                        animation: fade-out .7s;
                        animation-fill-mode: forwards;
                    }

                    &.last{
                        margin-bottom:0px;
                    }
                }
            }
        }
    }

    &.inactive{
        .optTitle{
            animation: fade-in 2.5s;
            animation-fill-mode: forwards;
        }

        .line{
            transition: .7s all ease-in-out;
        }

        span{
            animation: fade-in 1.4s;
            animation-fill-mode: forwards;
        }
    }
}