<div id="sidebar"  [className]="displaySidebar ? 'active' : clickedItem ? '' : 'inactive'" (mouseover)="toggleDisplay(false)" (mouseout)="toggleDisplay(false)" >
    <div id="topLinks">
        <div class="content">
          <div id="logoHome"></div>
          <div id="logoText" (click)="goToMain()"><b>MOTORCENTER</b></div>
          <button id="sidebarBtn" mat-icon-button color="primary" (click)="toggleDisplay(true)">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
    </div>

    <div id="options">
        <span class="optTitle">Usuario</span>
        <div class="line"></div>
        <div class="optContent">
            <button class="item clicked" mat-icon-button color="accent" (click)="toggleClass($event); navigateTo('','../clientes/perfil')">
                <mat-icon>account_circle</mat-icon>
                <span>Perfil</span>
            </button>
            <button class="item" mat-icon-button color="accent" (click)="toggleClass($event); navigateTo('','../clientes/vehiculos')">
                <mat-icon>directions_car</mat-icon>
                <span>Vehículos</span>
            </button>
            <button class="item" mat-icon-button color="accent" (click)="toggleClass($event); navigateTo('','../clientes/notificaciones')">
                <mat-icon>notifications_none</mat-icon>
                <span>Notificaciones</span>
            </button>
            <button class="item last" mat-icon-button color="accent" (click)="toggleClass($event)" disabled>
                <mat-icon>money</mat-icon>
                <span>Motor Puntos</span>
            </button>
        </div>
        <span class="optTitle" [class.active]="displaySidebar">Concesionario</span>
        <div class="line"></div>
        <div class="optContent">
            <button class="item" mat-icon-button color="accent" (click)="toggleClass($event); navigateTo('','../clientes/cotizaciones')">
                <mat-icon>request_quote</mat-icon>
                <span>Cotizaciones</span>
            </button>
            <button class="item" mat-icon-button color="accent" (click)="toggleClass($event); navigateTo('','../clientes/calendario')" disabled>
                <mat-icon>event</mat-icon>
                <span>Calendario</span>
            </button>
            <button class="item" mat-icon-button color="accent" (click)="toggleClass($event); navigateTo('','../clientes/compras')" disabled>
                <mat-icon>shopping_cart</mat-icon>
                <span>Compras</span>
            </button>
            <button class="item" mat-icon-button color="accent" (click)="toggleClass($event); navigateTo('','../clientes/promociones')">
                <mat-icon>loyalty</mat-icon>
                <span>Promociones</span>
            </button>
            <button id="workshopBtn" class="item" mat-icon-button color="accent" (click)="toggleClass($event); navigateTo('','../clientes/taller')">
                <mat-icon>home_repair_service</mat-icon>
                <span>Taller mecánico</span>
            </button>
        </div>
        <div class="line last"></div>
        <div class="optContent last">
            <button class="item" mat-icon-button color="accent" (click)="toggleClass($event)">
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar Sesión</span>
            </button>
        </div>
    </div>
</div>
