//-----SVG-------
$login:"%3Csvg%20id%3D%22Capa_1%22%20data-name%3D%22Capa%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20546.93%20557.93%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M0%2C285V269c.77-4.17%2C1.43-8.36%2C2.34-12.49%2C5.25-23.65%2C10.12-47.32%2C20.21-69.66%2C9.48-21%2C19.93-41.33%2C33.64-59.89%2C1-1.31%2C2.05-2.53%2C3.08-3.8l1%2C.76q-5.19%2C9.17-10.37%2C18.33c6.7-7.81%2C12.72-16%2C18.68-24.15%2C1.54-2.12%2C2.89-4.38%2C4.33-6.57l2.81-2.85c6.8-6.8%2C13.65-13.56%2C20.38-20.42C116%2C68%2C136.62%2C48.79%2C162%2C35.5a29.57%2C29.57%2C0%2C0%2C0%2C3.72-2.76L165.4%2C31l-24.17-1.11c5.71-4.31%2C11.58-8.62%2C18.15-10.6a331.06%2C331.06%2C0%2C0%2C1%2C41.09-10c17.35-2.88%2C34.95-4.18%2C52.42-6.32C259%2C2.19%2C264.94%2C1%2C271%2C0h7c2%2C.55%2C4%2C1.11%2C6%2C1.63l64.07%2C16.81c1.12.29%2C2.62%2C1.14%2C3.33.71%2C4.87-2.93%2C8.35.73%2C12.22%2C2.34%2C5.07%2C2.1%2C10%2C4.48%2C15.09%2C6.56%2C19.19%2C7.87%2C37.43%2C17.34%2C53.47%2C30.7%2C6.77%2C5.64%2C13.52%2C11.35%2C20.65%2C16.52%2C29.74%2C21.57%2C50.38%2C50.49%2C67%2C82.64%2C2.79%2C5.41%2C4.4%2C11.43%2C6.55%2C17.16l-1.35.84c-42.77-89.79-116-140.16-211-164.58%2C4.46%2C7.8%2C12.4%2C12.9%2C18.36%2C12l-7.39-3.81.45-1.27c5.72%2C2%2C12.81%2C2.46%2C16.86%2C6.22%2C5.9%2C5.49%2C13%2C6.78%2C19.71%2C8.47%2C6.37%2C1.6%2C12.88%2C1.56%2C17.57%2C7.16%2C1.05%2C1.25%2C3.16%2C1.7%2C4.84%2C2.33%2C4.79%2C1.79%2C9.87%2C3%2C14.34%2C5.38%2C3.13%2C1.66%2C5%2C5.63%2C8.18%2C7.25%2C11.55%2C6%2C21.94%2C13.49%2C32%2C21.6%2C11.61%2C9.32%2C23.44%2C18%2C33.33%2C29.61%2C19.06%2C22.44%2C37.23%2C45.22%2C48.37%2C72.71%2C15.35%2C37.88%2C26.62%2C76.71%2C25.31%2C118.2%2C0%2C1.57.66%2C3.17%2C1%2C4.75v12a8.55%2C8.55%2C0%2C0%2C0-.86%2C2.24c-1.93%2C19.5-3.91%2C39-9.84%2C57.83-2.55%2C8.07-4.1%2C16.51-7.29%2C24.31-3%2C7.31-4.24%2C15.08-9.21%2C22-11%2C15.21-20.37%2C31.52-30.63%2C47.25a41.81%2C41.81%2C0%2C0%2C1-8.43%2C9.81c-20.5%2C16.45-41.76%2C31.68-65.64%2C43.11-21.24%2C10.18-43%2C18.71-65.94%2C24-8.47%2C2-17.1%2C3.25-25.66%2C4.85l-.22-1.08%2C22.54-6.61-.06-1.38c-54.67%2C13.51-107.92%2C7.75-160.15-12l-.35%2C1.73%2C11.25%2C6.45-.65%2C1.82L178.71%2C533c2.73%2C2.85%2C4.95%2C5%2C7%2C7.34%2C2.87%2C3.31%2C5.61%2C6.74%2C8.37%2C10.14%2C2%2C2.45%2C3.95%2C4.94%2C5.91%2C7.41h-1c-8.34-3-17.47-3.63-25-9-3.76-2.71-8-4.74-11.86-7.31-13.41-8.93-27.28-17.29-39.95-27.17-10.94-8.54-20.74-18.62-30.58-28.48-7-7-14.24-14.18-19.66-22.4-9.31-14.13-17.29-29.14-25.83-43.77-.84-1.44-1.55-4-2.55-4.11-5.41-.68-5.08-5.35-6.39-8.66-5.36-13.53-10.47-27.16-15.67-40.75%2C1%2C17.33%2C9%2C32.37%2C16.32%2C47.34%2C7.38%2C15.18%2C17.13%2C29.2%2C25.84%2C43.73l-1.05.74A56.2%2C56.2%2C0%2C0%2C1%2C59%2C453.68a305.22%2C305.22%2C0%2C0%2C1-39-78.22c-3.39-10.4-7.61-20.67-9.65-31.34C8%2C332.44%2C8.61%2C320.24%2C6.65%2C308.48c-1.92-11.46.19-22.85-1-34.35-1-9.4%2C2.32-19.27%2C4-28.89.71-4.2%2C2-8.3%2C3.06-12.45%2C1.52-5.57%2C3-11.15%2C4.6-16.7%2C1.86-6.35%2C3.85-12.67%2C5.78-19l-1.19-.37c-2.78%2C8.47-5.77%2C16.87-8.21%2C25.44-1%2C3.36-.69%2C7.09-1%2C10.65-1.56%2C3.4-3.89%2C6.67-4.56%2C10.24C5.78%2C255.39%2C4.05%2C267.86%2C2%2C280.26%2C1.69%2C281.89.67%2C283.4%2C0%2C285ZM395.93%2C524.9c12.21-3.64%2C23.31-9.53%2C33.81-16.65A68.25%2C68.25%2C0%2C0%2C0%2C419.1%2C513c-7.7%2C4-15.39%2C8-23.08%2C12.06l-27.27%2C9.17.78%2C2Zm45.52-105.28c-.24-4.87-.15-9.35-.74-13.74C432.74%2C346%2C383.65%2C303.12%2C323%2C303.1q-49.74%2C0-99.48%2C0a97.73%2C97.73%2C0%2C0%2C0-16.42%2C1.09c-50.62%2C8.85-83.38%2C37.93-97.69%2C87.34a78.68%2C78.68%2C0%2C0%2C0-3.2%2C28.05Zm-167.75-315c-50.44%2C0-91.61%2C41.22-91.56%2C91.63s41.22%2C91.65%2C91.58%2C91.65a91.64%2C91.64%2C0%2C1%2C0%2C0-183.28ZM464.32%2C431.64l-1.67-1.4c-1.79%2C2.36-3.65%2C4.67-5.35%2C7.09-1.5%2C2.14-2.46%2C4.78-4.3%2C6.54-5.73%2C5.52-11.76%2C10.72-17.65%2C16.07-.17.15-.12.54-.25%2C1.22l3.35-1.5c.31.47.63.93.94%2C1.39-5.21%2C3.88-10.14%2C8.25-15.71%2C11.53-8%2C4.69-15.58%2C9.66-21.25%2C17.28a139.13%2C139.13%2C0%2C0%2C0%2C39.35-23.47C452.65%2C457.31%2C457.51%2C443.7%2C464.32%2C431.64Zm-389%2C20c-.43-5.76-10.36-22-15.16-25.42C62.58%2C436.61%2C70%2C443.55%2C75.33%2C451.63ZM54.69%2C429.1c4%2C10%2C9.54%2C18.76%2C18.83%2C24.49Zm-8-30.48-1.49.46q4.05%2C9.3%2C8.12%2C18.59l1.77-.77ZM437.07%2C503.1l.85%2C1.38%2C17.74-11-1.1-1.74ZM25.27%2C188.19l1.36.63L37%2C166.66l-1.3-.59Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M72.93%2C111.5l-5.44%2C5-.44-.26%2C8.23-11.77.46%2C4.23Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M308.11%2C4.22c22.94-5.55%2C117.57%2C35%2C135.41%2C57.83C402.94%2C32.14%2C358%2C12.4%2C308.11%2C4.22Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M508.66%2C128.52q8.83%2C15%2C17.65%2C30l-1.55.93-17.71-29.78Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M542.88%2C216.5l3.43%2C16.88-1.62.34q-1.74-8.44-3.47-16.88Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M300.05%2C548.6l14.35-1.39.16.9-14.19%2C2.49C300.26%2C549.94%2C300.15%2C549.27%2C300.05%2C548.6Z%22%2F%3E%3C%2Fsvg%3E";
$login_hover:"%3Csvg%20id%3D%22Capa_1%22%20data-name%3D%22Capa%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20546.93%20557.93%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M271%2C0h7c2%2C.55%2C4%2C1.11%2C6%2C1.63l64.07%2C16.81c1.12.29%2C2.62%2C1.14%2C3.33.71%2C4.87-2.93%2C8.35.73%2C12.22%2C2.34%2C5.07%2C2.1%2C10%2C4.48%2C15.09%2C6.56%2C19.19%2C7.87%2C37.43%2C17.34%2C53.47%2C30.7%2C6.77%2C5.64%2C13.52%2C11.35%2C20.65%2C16.52%2C29.74%2C21.57%2C50.38%2C50.49%2C67%2C82.64%2C2.79%2C5.41%2C4.4%2C11.43%2C6.55%2C17.16l-1.35.84c-42.77-89.79-116-140.16-211-164.58%2C4.46%2C7.8%2C12.4%2C12.9%2C18.36%2C12l-7.39-3.81.45-1.27c5.72%2C2%2C12.81%2C2.46%2C16.86%2C6.22%2C5.9%2C5.49%2C13%2C6.78%2C19.71%2C8.47%2C6.37%2C1.6%2C12.88%2C1.56%2C17.57%2C7.16%2C1.05%2C1.25%2C3.16%2C1.7%2C4.84%2C2.33%2C4.79%2C1.79%2C9.87%2C3%2C14.34%2C5.38%2C3.13%2C1.66%2C5%2C5.63%2C8.18%2C7.25%2C11.55%2C6%2C21.94%2C13.49%2C32%2C21.6%2C11.61%2C9.32%2C23.44%2C18%2C33.33%2C29.61%2C19.06%2C22.44%2C37.23%2C45.22%2C48.37%2C72.71%2C15.35%2C37.88%2C26.62%2C76.71%2C25.31%2C118.2%2C0%2C1.57.66%2C3.17%2C1%2C4.75v12a8.55%2C8.55%2C0%2C0%2C0-.86%2C2.24c-1.93%2C19.5-3.91%2C39-9.84%2C57.83-2.55%2C8.07-4.1%2C16.51-7.29%2C24.31-3%2C7.31-4.24%2C15.08-9.21%2C22-11%2C15.21-20.37%2C31.52-30.63%2C47.25a41.81%2C41.81%2C0%2C0%2C1-8.43%2C9.81c-20.5%2C16.45-41.76%2C31.68-65.64%2C43.11-21.24%2C10.18-43%2C18.71-65.94%2C24-8.47%2C2-17.1%2C3.25-25.66%2C4.85l-.22-1.08%2C22.54-6.61-.06-1.38c-54.67%2C13.51-107.92%2C7.75-160.15-12l-.35%2C1.73%2C11.25%2C6.45-.65%2C1.82L178.71%2C533c2.73%2C2.85%2C4.95%2C5%2C7%2C7.34%2C2.87%2C3.31%2C5.61%2C6.74%2C8.37%2C10.14%2C2%2C2.45%2C3.95%2C4.94%2C5.91%2C7.41h-1c-8.34-3-17.47-3.63-25-9-3.76-2.71-8-4.74-11.86-7.31-13.41-8.93-27.28-17.29-39.95-27.17-10.94-8.54-20.74-18.62-30.58-28.48-7-7-14.24-14.18-19.66-22.4-9.31-14.13-17.29-29.14-25.83-43.77-.84-1.44-1.55-4-2.55-4.11-5.41-.68-5.08-5.35-6.39-8.66-5.36-13.53-10.47-27.16-15.67-40.75%2C1%2C17.33%2C9%2C32.37%2C16.32%2C47.34%2C7.38%2C15.18%2C17.13%2C29.2%2C25.84%2C43.73l-1.05.74A56.2%2C56.2%2C0%2C0%2C1%2C59%2C453.68a305.22%2C305.22%2C0%2C0%2C1-39-78.22c-3.39-10.4-7.61-20.67-9.65-31.34C8%2C332.44%2C8.61%2C320.24%2C6.65%2C308.48c-1.92-11.46.19-22.85-1-34.35-1-9.4%2C2.32-19.27%2C4-28.89.71-4.2%2C2-8.3%2C3.06-12.45%2C1.52-5.57%2C3-11.15%2C4.6-16.7%2C1.86-6.35%2C3.85-12.67%2C5.78-19l-1.19-.37c-2.78%2C8.47-5.77%2C16.87-8.21%2C25.44-1%2C3.36-.69%2C7.09-1%2C10.65-1.56%2C3.4-3.89%2C6.67-4.56%2C10.24C5.78%2C255.39%2C4.05%2C267.86%2C2%2C280.26c-.28%2C1.63-1.3%2C3.14-2%2C4.7V269c.77-4.17%2C1.43-8.36%2C2.34-12.49%2C5.25-23.65%2C10.12-47.32%2C20.21-69.66%2C9.48-21%2C19.93-41.33%2C33.64-59.89%2C1-1.31%2C2.05-2.53%2C3.08-3.8l1%2C.76q-5.19%2C9.17-10.37%2C18.33c6.7-7.81%2C12.72-16%2C18.68-24.15%2C1.54-2.12%2C2.89-4.38%2C4.33-6.57l2.81-2.85c6.8-6.8%2C13.65-13.56%2C20.38-20.42C116%2C68%2C136.62%2C48.79%2C162%2C35.5a29.57%2C29.57%2C0%2C0%2C0%2C3.72-2.76L165.4%2C31l-24.17-1.11c5.71-4.31%2C11.58-8.62%2C18.15-10.6a331.06%2C331.06%2C0%2C0%2C1%2C41.09-10c17.35-2.88%2C34.95-4.18%2C52.42-6.32C259%2C2.19%2C264.94%2C1%2C271%2C0Zm125%2C524.9c12.21-3.64%2C23.31-9.53%2C33.81-16.65A68.25%2C68.25%2C0%2C0%2C0%2C419.1%2C513c-7.7%2C4-15.39%2C8-23.08%2C12.06l-27.27%2C9.17.78%2C2Zm-122.28-1c130.06%2C1.07%2C245-105.62%2C245-244.63C518.6%2C140.52%2C406.68%2C36.13%2C278%2C33.85c-134.74-2.39-249.59%2C105.51-249.62%2C245S142.25%2C524.87%2C273.65%2C523.93ZM75.5%2C451.52c-1.71-10.27-9.66-16.89-14.69-25.26C62.49%2C436.54%2C69.93%2C443.44%2C75.5%2C451.52ZM54.71%2C429.09c3.87%2C10.2%2C9.7%2C18.76%2C18.88%2C24.62ZM46.57%2C398.5l-1.43.76%2C8.19%2C18.3L55%2C416.8Q50.8%2C407.65%2C46.57%2C398.5Zm409.15%2C95-1.09-1.75L437%2C503.12l.83%2C1.36ZM37.09%2C166.64l-1.37-.57q-5.24%2C11.06-10.45%2C22.12l1.33.61Q31.85%2C177.71%2C37.09%2C166.64Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M72.93%2C111.5l-5.44%2C5-.44-.26%2C8.23-11.77.46%2C4.23Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M308.17%2C4C336.56%2C1%2C424.69%2C38.93%2C443.57%2C62%2C403%2C32.17%2C358%2C12.38%2C308.17%2C4Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M508.66%2C128.52q8.82%2C15%2C17.65%2C30l-1.55.93-17.71-29.78Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M542.92%2C216.53l3.36%2C16.7-1.56.32-3.54-16.71Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M300%2C548.61l14.43-1.41.17.85-14.19%2C2.58Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M106%2C419.51c.33-25%2C7.34-47.37%2C21.62-67.21%2C19.76-27.46%2C46.79-43.24%2C80.16-48.17a113.06%2C113.06%2C0%2C0%2C1%2C15.94-1q50-.12%2C100%2C0c57.35%2C0%2C105.41%2C39.73%2C116%2C96%2C1.24%2C6.6%2C1.39%2C13.42%2C2.07%2C20.44Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M365.42%2C196.55a91.65%2C91.65%2C0%2C0%2C1-92.32%2C91.31c-50.31-.31-91.24-41.84-91-92.27a91.64%2C91.64%2C0%2C0%2C1%2C183.28%2C1Z%22%2F%3E%3C%2Fsvg%3E";
$facebook:"%3Csvg%20id%3D%22Capa_1%22%20data-name%3D%22Capa%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20546.93%20557.93%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M0%2C285V269c.77-4.17%2C1.43-8.36%2C2.34-12.49%2C5.25-23.65%2C10.12-47.32%2C20.21-69.66%2C9.48-21%2C19.93-41.33%2C33.64-59.89%2C1-1.31%2C2.05-2.53%2C3.08-3.8l1%2C.76q-5.19%2C9.17-10.37%2C18.33c6.7-7.81%2C12.72-16%2C18.68-24.15%2C1.54-2.12%2C2.89-4.38%2C4.33-6.57l2.81-2.85c6.8-6.8%2C13.65-13.56%2C20.38-20.42C116%2C68%2C136.62%2C48.79%2C162%2C35.5a29.57%2C29.57%2C0%2C0%2C0%2C3.72-2.76L165.4%2C31l-24.17-1.11c5.71-4.31%2C11.58-8.62%2C18.15-10.6a331.06%2C331.06%2C0%2C0%2C1%2C41.09-10c17.35-2.88%2C34.95-4.18%2C52.42-6.32C259%2C2.19%2C264.94%2C1%2C271%2C0h7c2%2C.55%2C4%2C1.11%2C6%2C1.63l64.07%2C16.81c1.12.29%2C2.62%2C1.14%2C3.33.71%2C4.87-2.93%2C8.35.73%2C12.22%2C2.34%2C5.07%2C2.1%2C10%2C4.48%2C15.09%2C6.56%2C19.19%2C7.87%2C37.43%2C17.34%2C53.47%2C30.7%2C6.77%2C5.64%2C13.52%2C11.35%2C20.65%2C16.52%2C29.74%2C21.57%2C50.38%2C50.49%2C67%2C82.64%2C2.79%2C5.41%2C4.4%2C11.43%2C6.55%2C17.16l-1.35.84c-42.77-89.79-116-140.16-211-164.58%2C4.46%2C7.8%2C12.4%2C12.9%2C18.36%2C12l-7.39-3.81.45-1.27c5.72%2C2%2C12.81%2C2.46%2C16.86%2C6.22%2C5.9%2C5.49%2C13%2C6.78%2C19.71%2C8.47%2C6.37%2C1.6%2C12.88%2C1.56%2C17.57%2C7.16%2C1.05%2C1.25%2C3.16%2C1.7%2C4.84%2C2.33%2C4.79%2C1.79%2C9.87%2C3%2C14.34%2C5.38%2C3.13%2C1.66%2C5%2C5.63%2C8.18%2C7.25%2C11.55%2C6%2C21.94%2C13.49%2C32%2C21.6%2C11.61%2C9.32%2C23.44%2C18%2C33.33%2C29.61%2C19.06%2C22.44%2C37.23%2C45.22%2C48.37%2C72.71%2C15.35%2C37.88%2C26.62%2C76.71%2C25.31%2C118.2%2C0%2C1.57.66%2C3.17%2C1%2C4.75v12a8.55%2C8.55%2C0%2C0%2C0-.86%2C2.24c-1.93%2C19.5-3.91%2C39-9.84%2C57.83-2.55%2C8.07-4.1%2C16.51-7.29%2C24.31-3%2C7.31-4.24%2C15.08-9.21%2C22-11%2C15.21-20.37%2C31.52-30.63%2C47.25a41.81%2C41.81%2C0%2C0%2C1-8.43%2C9.81c-20.5%2C16.45-41.76%2C31.68-65.64%2C43.11-21.24%2C10.18-43%2C18.71-65.94%2C24-8.47%2C2-17.1%2C3.25-25.66%2C4.85l-.22-1.08%2C22.54-6.61-.06-1.38c-54.67%2C13.51-107.92%2C7.75-160.15-12l-.35%2C1.73%2C11.25%2C6.45-.65%2C1.82L178.71%2C533c2.73%2C2.85%2C4.95%2C5%2C7%2C7.34%2C2.87%2C3.31%2C5.61%2C6.74%2C8.37%2C10.14%2C2%2C2.45%2C3.95%2C4.94%2C5.91%2C7.41h-1c-8.34-3-17.47-3.63-25-9-3.76-2.71-8-4.74-11.86-7.31-13.41-8.93-27.28-17.29-39.95-27.17-10.94-8.54-20.74-18.62-30.58-28.48-7-7-14.24-14.18-19.66-22.4-9.31-14.13-17.29-29.14-25.83-43.77-.84-1.44-1.55-4-2.55-4.11-5.41-.68-5.08-5.35-6.39-8.66-5.36-13.53-10.47-27.16-15.67-40.75%2C1%2C17.33%2C9%2C32.37%2C16.32%2C47.34%2C7.38%2C15.18%2C17.13%2C29.2%2C25.84%2C43.73l-1.05.74A56.2%2C56.2%2C0%2C0%2C1%2C59%2C453.68a305.22%2C305.22%2C0%2C0%2C1-39-78.22c-3.39-10.4-7.61-20.67-9.65-31.34C8%2C332.44%2C8.61%2C320.24%2C6.65%2C308.48c-1.92-11.46.19-22.85-1-34.35-1-9.4%2C2.32-19.27%2C4-28.89.71-4.2%2C2-8.3%2C3.06-12.45%2C1.52-5.57%2C3-11.15%2C4.6-16.7%2C1.86-6.35%2C3.85-12.67%2C5.78-19l-1.19-.37c-2.78%2C8.47-5.77%2C16.87-8.21%2C25.44-1%2C3.36-.69%2C7.09-1%2C10.65-1.56%2C3.4-3.89%2C6.67-4.56%2C10.24C5.78%2C255.39%2C4.05%2C267.86%2C2%2C280.26%2C1.69%2C281.89.67%2C283.4%2C0%2C285ZM395.93%2C524.9c12.21-3.64%2C23.31-9.53%2C33.81-16.65A68.25%2C68.25%2C0%2C0%2C0%2C419.1%2C513c-7.7%2C4-15.39%2C8-23.08%2C12.06l-27.27%2C9.17.78%2C2ZM301%2C294.73c1.88-.1%2C3.35-.26%2C4.82-.26%2C15.16%2C0%2C30.32-.09%2C45.48%2C0%2C3.31%2C0%2C4.82-.87%2C4.92-4.39.08-3.31.85-6.6%2C1.27-9.9%2C2.07-16.14%2C4.13-32.29%2C6.28-49.15H301.14c0-16.14-.58-31.63.16-47.06s9.1-23.22%2C24.53-24.07c9.13-.51%2C18.3-.36%2C27.46-.47%2C4.09%2C0%2C8.19%2C0%2C12.31%2C0V101.71c-20.43-.21-40.58-1.35-60.62-.34a69.57%2C69.57%2C0%2C0%2C0-47.2%2C21.26c-15.69%2C16-21.51%2C36-21.92%2C57.79-.28%2C15-.05%2C30-.05%2C45v5.8H181.1v63.35H236V457.07h65ZM401.44%2C488.28l1.05%2C1.36c22.09-4.16%2C57.88-38.37%2C60.7-58.94a35%2C35%2C0%2C0%2C0-5.81%2C6.41c-1.61%2C2.25-2.65%2C5-4.59%2C6.92-5.6%2C5.42-11.52%2C10.49-17.29%2C15.74-.26.23-.26.75-.44%2C1.29l3.49-1.18.77%2C1.26c-5.12%2C3.82-10.18%2C7.72-15.38%2C11.43C416.49%2C477.89%2C408.94%2C483.05%2C401.44%2C488.28ZM61%2C426.2c.66%2C6.81%2C9.55%2C21.42%2C15.14%2C25.49C73.92%2C441.17%2C65.68%2C434.74%2C61%2C426.2Zm-6.26%2C3c3.83%2C10.06%2C9.53%2C18.73%2C18.81%2C24.56ZM46.6%2C398.54l-1.45.65q4.08%2C9.21%2C8.15%2C18.42l1.74-.78Q50.83%2C407.7%2C46.6%2C398.54ZM437%2C503.12l.83%2C1.36%2C17.89-11-1.09-1.75ZM37.05%2C166.62l-1.3-.59L25.28%2C188.15l1.28.61q4.82-10%2C9.63-20C36.52%2C168.07%2C36.77%2C167.34%2C37.05%2C166.62Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M72.93%2C111.5l-5.44%2C5-.44-.26%2C8.23-11.77.46%2C4.23Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M443.63%2C61.71c-40.7-29.6-85.66-49.3-135.8-56.92l1.08-2.52C358.5%2C11.18%2C404.2%2C29.15%2C443.63%2C61.71Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M508.65%2C128.56l17.66%2C29.91-1.56.94q-8.84-14.83-17.68-29.68Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M544.74%2C233.75l-3.57-16.84%2C1.67-.37q1.73%2C8.43%2C3.46%2C16.87Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M300%2C548.61l14.35-1.39.17.91-14.2%2C2.46Z%22%2F%3E%3C%2Fsvg%3E";
$facebook_hover:"%3Csvg%20id%3D%22Capa_1%22%20data-name%3D%22Capa%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20546.93%20557.93%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M0%2C285V269c.77-4.17%2C1.43-8.36%2C2.34-12.49%2C5.25-23.65%2C10.12-47.32%2C20.21-69.66%2C9.48-21%2C19.93-41.33%2C33.64-59.89%2C1-1.31%2C2.05-2.53%2C3.08-3.8l1%2C.76q-5.19%2C9.17-10.37%2C18.33c6.7-7.81%2C12.72-16%2C18.68-24.15%2C1.54-2.12%2C2.89-4.38%2C4.33-6.57l2.81-2.85c6.8-6.8%2C13.65-13.56%2C20.38-20.42C116%2C68%2C136.62%2C48.79%2C162%2C35.5a29.57%2C29.57%2C0%2C0%2C0%2C3.72-2.76L165.4%2C31l-24.17-1.11c5.71-4.31%2C11.58-8.62%2C18.15-10.6a331.06%2C331.06%2C0%2C0%2C1%2C41.09-10c17.35-2.88%2C34.95-4.18%2C52.42-6.32C259%2C2.19%2C264.94%2C1%2C271%2C0h7c2%2C.55%2C4%2C1.11%2C6%2C1.63l64.07%2C16.81c1.12.29%2C2.62%2C1.14%2C3.33.71%2C4.87-2.93%2C8.35.73%2C12.22%2C2.34%2C5.07%2C2.1%2C10%2C4.48%2C15.09%2C6.56%2C19.19%2C7.87%2C37.43%2C17.34%2C53.47%2C30.7%2C6.77%2C5.64%2C13.52%2C11.35%2C20.65%2C16.52%2C29.74%2C21.57%2C50.38%2C50.49%2C67%2C82.64%2C2.79%2C5.41%2C4.4%2C11.43%2C6.55%2C17.16l-1.35.84c-42.77-89.79-116-140.16-211-164.58%2C4.46%2C7.8%2C12.4%2C12.9%2C18.36%2C12l-7.39-3.81.45-1.27c5.72%2C2%2C12.81%2C2.46%2C16.86%2C6.22%2C5.9%2C5.49%2C13%2C6.78%2C19.71%2C8.47%2C6.37%2C1.6%2C12.88%2C1.56%2C17.57%2C7.16%2C1.05%2C1.25%2C3.16%2C1.7%2C4.84%2C2.33%2C4.79%2C1.79%2C9.87%2C3%2C14.34%2C5.38%2C3.13%2C1.66%2C5%2C5.63%2C8.18%2C7.25%2C11.55%2C6%2C21.94%2C13.49%2C32%2C21.6%2C11.61%2C9.32%2C23.44%2C18%2C33.33%2C29.61%2C19.06%2C22.44%2C37.23%2C45.22%2C48.37%2C72.71%2C15.35%2C37.88%2C26.62%2C76.71%2C25.31%2C118.2%2C0%2C1.57.66%2C3.17%2C1%2C4.75v12a8.55%2C8.55%2C0%2C0%2C0-.86%2C2.24c-1.93%2C19.5-3.91%2C39-9.84%2C57.83-2.55%2C8.07-4.1%2C16.51-7.29%2C24.31-3%2C7.31-4.24%2C15.08-9.21%2C22-11%2C15.21-20.37%2C31.52-30.63%2C47.25a41.81%2C41.81%2C0%2C0%2C1-8.43%2C9.81c-20.5%2C16.45-41.76%2C31.68-65.64%2C43.11-21.24%2C10.18-43%2C18.71-65.94%2C24-8.47%2C2-17.1%2C3.25-25.66%2C4.85l-.22-1.08%2C22.54-6.61-.06-1.38c-54.67%2C13.51-107.92%2C7.75-160.15-12l-.35%2C1.73%2C11.25%2C6.45-.65%2C1.82L178.71%2C533c2.73%2C2.85%2C4.95%2C5%2C7%2C7.34%2C2.87%2C3.31%2C5.61%2C6.74%2C8.37%2C10.14%2C2%2C2.45%2C3.95%2C4.94%2C5.91%2C7.41h-1c-8.34-3-17.47-3.63-25-9-3.76-2.71-8-4.74-11.86-7.31-13.41-8.93-27.28-17.29-39.95-27.17-10.94-8.54-20.74-18.62-30.58-28.48-7-7-14.24-14.18-19.66-22.4-9.31-14.13-17.29-29.14-25.83-43.77-.84-1.44-1.55-4-2.55-4.11-5.41-.68-5.08-5.35-6.39-8.66-5.36-13.53-10.47-27.16-15.67-40.75%2C1%2C17.33%2C9%2C32.37%2C16.32%2C47.34%2C7.38%2C15.18%2C17.13%2C29.2%2C25.84%2C43.73l-1.05.74A56.2%2C56.2%2C0%2C0%2C1%2C59%2C453.68a305.22%2C305.22%2C0%2C0%2C1-39-78.22c-3.39-10.4-7.61-20.67-9.65-31.34C8%2C332.44%2C8.61%2C320.24%2C6.65%2C308.48c-1.92-11.46.19-22.85-1-34.35-1-9.4%2C2.32-19.27%2C4-28.89.71-4.2%2C2-8.3%2C3.06-12.45%2C1.52-5.57%2C3-11.15%2C4.6-16.7%2C1.86-6.35%2C3.85-12.67%2C5.78-19l-1.19-.37c-2.78%2C8.47-5.77%2C16.87-8.21%2C25.44-1%2C3.36-.69%2C7.09-1%2C10.65-1.56%2C3.4-3.89%2C6.67-4.56%2C10.24C5.78%2C255.39%2C4.05%2C267.86%2C2%2C280.26%2C1.69%2C281.89.67%2C283.4%2C0%2C285ZM395.93%2C524.9c12.21-3.64%2C23.31-9.53%2C33.81-16.65A68.25%2C68.25%2C0%2C0%2C0%2C419.1%2C513c-7.7%2C4-15.39%2C8-23.08%2C12.06l-27.27%2C9.17.78%2C2Zm-122.58-1c130.31%2C1.23%2C245.36-105.67%2C245.25-244.82C518.49%2C140.39%2C406.54%2C36%2C277.76%2C33.85%2C143.15%2C31.56%2C28.27%2C139.44%2C28.34%2C279%2C28.42%2C418.41%2C142.2%2C524.71%2C273.35%2C523.93ZM75.49%2C451.66c-1.44-10.48-9.86-16.9-14.63-25.44C62.57%2C436.54%2C69.9%2C443.6%2C75.49%2C451.66Zm-2%2C1.94L54.69%2C429.1C58.59%2C439.19%2C64.28%2C447.87%2C73.53%2C453.6ZM46.71%2C398.68l-1.53.31%2C8%2C18.69%2C1.79-.76ZM437%2C503.12l.84%2C1.36%2C17.81-11-1.11-1.76ZM25.28%2C188l1.44.61%2C10.39-22.15-1.26-.58Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M72.93%2C111.5l-5.44%2C4.94-.44-.25%2C8.23-11.77.46%2C4.23Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M308.23%2C4C332-1%2C426.87%2C39.76%2C443.51%2C61.88%2C422.85%2C48%2C401.91%2C34.75%2C379%2C24.81%2C356.25%2C15%2C332.26%2C9.46%2C308.23%2C4Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M508.72%2C128.58q8.81%2C15%2C17.6%2C30l-1.54.91L507%2C129.65Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M542.88%2C216.5l3.43%2C16.88-1.62.34q-1.74-8.44-3.47-16.88Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M300%2C548.61l14.43-1.41.17.85-14.19%2C2.58Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M301.36%2C231.26H363.7c-1.33%2C10.71-2.58%2C21-3.9%2C31.36-1.14%2C8.91-2.68%2C17.79-3.42%2C26.73-.38%2C4.58-2.36%2C5.23-6.3%2C5.18-14.33-.2-28.65-.08-43-.08h-6v162.7H236V294.59H181.18V231.2h54.63c0-2.78%2C0-4.9%2C0-7%2C.36-19.13-.56-38.4%2C1.39-57.37%2C3.88-37.6%2C32.6-64.12%2C70.48-65.67%2C19.21-.79%2C38.51.4%2C58%2C.71v57.62c-9.05%2C0-17.84-.05-26.62%2C0-4.49%2C0-9%2C.12-13.47.43-14.67%2C1-23%2C7.81-24%2C22.34C300.51%2C198.3%2C301.36%2C214.47%2C301.36%2C231.26Z%22%2F%3E%3C%2Fsvg%3E";
$instagram:"%3Csvg%20id%3D%22Capa_1%22%20data-name%3D%22Capa%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20546.93%20557.93%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M200%2C557.93h-1c-8.34-3-17.47-3.63-25-9-3.76-2.71-8-4.74-11.86-7.31-13.41-8.93-27.28-17.29-39.95-27.17-10.94-8.54-20.74-18.62-30.58-28.48-7-7-14.24-14.18-19.66-22.4-9.31-14.13-17.29-29.14-25.83-43.77-.84-1.44-1.55-4-2.55-4.11-5.41-.68-5.08-5.35-6.39-8.66-5.36-13.53-10.47-27.16-15.67-40.75%2C1%2C17.33%2C9%2C32.37%2C16.32%2C47.34%2C7.38%2C15.18%2C17.13%2C29.2%2C25.84%2C43.73l-1.05.74A56.2%2C56.2%2C0%2C0%2C1%2C59%2C453.68a305.22%2C305.22%2C0%2C0%2C1-39-78.22c-3.39-10.4-7.61-20.67-9.65-31.34C8%2C332.44%2C8.61%2C320.24%2C6.65%2C308.48c-1.92-11.46.19-22.85-1-34.35-1-9.4%2C2.32-19.27%2C4-28.89.71-4.2%2C2-8.3%2C3.06-12.45%2C1.52-5.57%2C3-11.15%2C4.6-16.7%2C1.86-6.35%2C3.85-12.67%2C5.78-19l-1.19-.37c-2.78%2C8.47-5.77%2C16.87-8.21%2C25.44-1%2C3.36-.69%2C7.09-1%2C10.65-1.56%2C3.4-3.89%2C6.67-4.56%2C10.24C5.78%2C255.39%2C4.05%2C267.86%2C2%2C280.26c-.28%2C1.63-1.3%2C3.14-2%2C4.7V269c.77-4.17%2C1.43-8.36%2C2.34-12.49%2C5.25-23.65%2C10.12-47.32%2C20.21-69.66%2C9.48-21%2C19.93-41.33%2C33.64-59.89%2C1-1.31%2C2.05-2.53%2C3.08-3.8l1%2C.76q-5.19%2C9.17-10.37%2C18.33c6.7-7.81%2C12.72-16%2C18.68-24.15%2C1.54-2.12%2C2.89-4.38%2C4.33-6.57l2.81-2.85c6.8-6.8%2C13.65-13.56%2C20.38-20.42C116%2C68%2C136.62%2C48.79%2C162%2C35.5a29.57%2C29.57%2C0%2C0%2C0%2C3.72-2.76L165.4%2C31l-24.17-1.11c5.71-4.31%2C11.58-8.62%2C18.15-10.6a331.06%2C331.06%2C0%2C0%2C1%2C41.09-10c17.35-2.88%2C34.95-4.18%2C52.42-6.32C259%2C2.19%2C264.94%2C1%2C271%2C0h7c2%2C.55%2C4%2C1.11%2C6%2C1.63l64.07%2C16.81c1.12.29%2C2.62%2C1.14%2C3.33.71%2C4.87-2.93%2C8.35.73%2C12.22%2C2.34%2C5.07%2C2.1%2C10%2C4.48%2C15.09%2C6.56%2C19.19%2C7.87%2C37.43%2C17.34%2C53.47%2C30.7%2C6.77%2C5.64%2C13.52%2C11.35%2C20.65%2C16.52%2C29.74%2C21.57%2C50.38%2C50.49%2C67%2C82.64%2C2.79%2C5.41%2C4.4%2C11.43%2C6.55%2C17.16l-1.35.84c-42.77-89.79-116-140.16-211-164.58%2C4.46%2C7.8%2C12.4%2C12.9%2C18.36%2C12l-7.39-3.81.45-1.27c5.72%2C2%2C12.81%2C2.46%2C16.86%2C6.22%2C5.9%2C5.49%2C13%2C6.78%2C19.71%2C8.47%2C6.37%2C1.6%2C12.88%2C1.56%2C17.57%2C7.16%2C1.05%2C1.25%2C3.16%2C1.7%2C4.84%2C2.33%2C4.79%2C1.79%2C9.87%2C3%2C14.34%2C5.38%2C3.13%2C1.66%2C5%2C5.63%2C8.18%2C7.25%2C11.55%2C6%2C21.94%2C13.49%2C32%2C21.6%2C11.61%2C9.32%2C23.44%2C18%2C33.33%2C29.61%2C19.06%2C22.44%2C37.23%2C45.22%2C48.37%2C72.71%2C15.35%2C37.88%2C26.62%2C76.71%2C25.31%2C118.2%2C0%2C1.57.66%2C3.17%2C1%2C4.75v12a8.55%2C8.55%2C0%2C0%2C0-.86%2C2.24c-1.93%2C19.5-3.91%2C39-9.84%2C57.83-2.55%2C8.07-4.1%2C16.51-7.29%2C24.31-3%2C7.31-4.24%2C15.08-9.21%2C22-11%2C15.21-20.37%2C31.52-30.63%2C47.25a41.81%2C41.81%2C0%2C0%2C1-8.43%2C9.81c-20.5%2C16.45-41.76%2C31.68-65.64%2C43.11-21.24%2C10.18-43%2C18.71-65.94%2C24-8.47%2C2-17.1%2C3.25-25.66%2C4.85l-.22-1.08%2C22.54-6.61-.06-1.38c-54.67%2C13.51-107.92%2C7.75-160.15-12l-.35%2C1.73%2C11.25%2C6.45-.65%2C1.82L178.71%2C533c2.73%2C2.85%2C4.95%2C5%2C7%2C7.34%2C2.87%2C3.31%2C5.61%2C6.74%2C8.37%2C10.14C196.06%2C553%2C198%2C555.46%2C200%2C557.93Zm196-33c12.21-3.64%2C23.31-9.53%2C33.81-16.65A68.25%2C68.25%2C0%2C0%2C0%2C419.1%2C513c-7.7%2C4-15.39%2C8-23.08%2C12.06l-27.27%2C9.17.78%2C2ZM272.68%2C135q-34.5%2C0-69%2C0a47.61%2C47.61%2C0%2C0%2C0-7.46.46c-39.67%2C6.37-67.88%2C39.3-68.07%2C79.85q-.28%2C63.22.07%2C126.45a81.46%2C81.46%2C0%2C0%2C0%2C2.38%2C18.77c9.24%2C37.68%2C40.68%2C62.18%2C79.65%2C62.26q61.74.1%2C123.46%2C0c47.71%2C0%2C83-35.39%2C83.07-83.11%2C0-40.82.23-81.64-.17-122.46a98.75%2C98.75%2C0%2C0%2C0-3.89-26.53c-10.35-35.23-44.12-56.58-74.59-55.82C316.34%2C135.42%2C294.5%2C135%2C272.68%2C135ZM438.46%2C459.66l.93%2C1.39c-5.22%2C3.89-10.15%2C8.25-15.72%2C11.54-8%2C4.69-15.57%2C9.64-21.22%2C17.27%2C14.93-6.06%2C28.86-14.09%2C40.73-24.89%2C10-9.08%2C14.88-21.89%2C20.28-34.16a24.75%2C24.75%2C0%2C0%2C0-6.16%2C6.53c-1.5%2C2.14-2.47%2C4.77-4.31%2C6.54-5.73%2C5.51-11.75%2C10.72-17.65%2C16.07-.16.15-.11.54-.23%2C1.2Zm-363-8.14c-1.66-10.27-9.68-16.88-14.68-25.28C62.43%2C436.53%2C70%2C443.4%2C75.49%2C451.52ZM73.6%2C453.7%2C54.72%2C429.13C58.56%2C439.28%2C64.4%2C447.83%2C73.6%2C453.7Zm-27-55.09-1.48.49q4.07%2C9.28%2C8.14%2C18.55l1.76-.76Q50.85%2C407.74%2C46.63%2C398.61ZM437.17%2C503c.27.49.55%2C1%2C.82%2C1.45q8.82-5.49%2C17.62-11l-1.1-1.72ZM37.08%2C166.66%2C35.73%2C166q-5.22%2C11.07-10.45%2C22.12l1.32.62Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M72.93%2C111.5l-5.44%2C5-.44-.26%2C8.23-11.77.46%2C4.23Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M308.92%2C2.28c49.6%2C8.88%2C95.28%2C26.89%2C134.73%2C59.43C402.94%2C32.12%2C358%2C12.4%2C307.85%2C4.79%2C308.21%2C4%2C308.56%2C3.12%2C308.92%2C2.28Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M524.65%2C159.36c-5.86-9.9-11.73-19.81-17.83-30.13C512.56%2C133%2C523%2C150.3%2C524.65%2C159.36Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M542.87%2C216.49q1.73%2C8.43%2C3.44%2C16.84l-1.62.34q-1.74-8.41-3.47-16.83Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M300%2C548.61l14.41-1.4.17.87-14.2%2C2.54C300.29%2C550%2C300.16%2C549.28%2C300%2C548.61Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M390.89%2C278.46q0%2C30.75%2C0%2C61.5c0%2C33.91-22.91%2C56.89-56.68%2C56.92q-61.74.06-123.49%2C0c-33.56%2C0-56.63-23-56.67-56.42q-.06-62%2C0-124c0-33.44%2C23.1-56.39%2C56.67-56.42q61.74-.06%2C123.49%2C0c33.76%2C0%2C56.64%2C23%2C56.68%2C56.92Q390.92%2C247.72%2C390.89%2C278.46Zm-44.18.54c.73-40.21-32.43-73.91-73.58-74.78-40.15-.84-73.84%2C32.2-74.91%2C73.46-1%2C40.22%2C32.69%2C74.49%2C73.83%2C75C312.39%2C353.25%2C346%2C320.09%2C346.71%2C279Zm3.14-59a18.63%2C18.63%2C0%2C1%2C0-18.78-18.71A18.77%2C18.77%2C0%2C0%2C0%2C349.85%2C220Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M321.08%2C278.38a48.62%2C48.62%2C0%2C1%2C1-48.7-48.53A48.7%2C48.7%2C0%2C0%2C1%2C321.08%2C278.38Z%22%2F%3E%3C%2Fsvg%3E";
$instagram_hover:"%3Csvg%20id%3D%22Capa_1%22%20data-name%3D%22Capa%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20546.93%20557.93%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M0%2C285V269c.77-4.17%2C1.43-8.36%2C2.34-12.49%2C5.25-23.65%2C10.12-47.32%2C20.21-69.66%2C9.48-21%2C19.93-41.33%2C33.64-59.89%2C1-1.31%2C2.05-2.53%2C3.08-3.8l1%2C.76q-5.19%2C9.17-10.37%2C18.33c6.7-7.81%2C12.72-16%2C18.68-24.15%2C1.54-2.12%2C2.89-4.38%2C4.33-6.57l2.81-2.85c6.8-6.8%2C13.65-13.56%2C20.38-20.42C116%2C68%2C136.62%2C48.79%2C162%2C35.5a29.57%2C29.57%2C0%2C0%2C0%2C3.72-2.76L165.4%2C31l-24.17-1.11c5.71-4.31%2C11.58-8.62%2C18.15-10.6a331.06%2C331.06%2C0%2C0%2C1%2C41.09-10c17.35-2.88%2C34.95-4.18%2C52.42-6.32C259%2C2.19%2C264.94%2C1%2C271%2C0h7c2%2C.55%2C4%2C1.11%2C6%2C1.63l64.07%2C16.81c1.12.29%2C2.62%2C1.14%2C3.33.71%2C4.87-2.93%2C8.35.73%2C12.22%2C2.34%2C5.07%2C2.1%2C10%2C4.48%2C15.09%2C6.56%2C19.19%2C7.87%2C37.43%2C17.34%2C53.47%2C30.7%2C6.77%2C5.64%2C13.52%2C11.35%2C20.65%2C16.52%2C29.74%2C21.57%2C50.38%2C50.49%2C67%2C82.64%2C2.79%2C5.41%2C4.4%2C11.43%2C6.55%2C17.16l-1.35.84c-42.77-89.79-116-140.16-211-164.58%2C4.46%2C7.8%2C12.4%2C12.9%2C18.36%2C12l-7.39-3.81.45-1.27c5.72%2C2%2C12.81%2C2.46%2C16.86%2C6.22%2C5.9%2C5.49%2C13%2C6.78%2C19.71%2C8.47%2C6.37%2C1.6%2C12.88%2C1.56%2C17.57%2C7.16%2C1.05%2C1.25%2C3.16%2C1.7%2C4.84%2C2.33%2C4.79%2C1.79%2C9.87%2C3%2C14.34%2C5.38%2C3.13%2C1.66%2C5%2C5.63%2C8.18%2C7.25%2C11.55%2C6%2C21.94%2C13.49%2C32%2C21.6%2C11.61%2C9.32%2C23.44%2C18%2C33.33%2C29.61%2C19.06%2C22.44%2C37.23%2C45.22%2C48.37%2C72.71%2C15.35%2C37.88%2C26.62%2C76.71%2C25.31%2C118.2%2C0%2C1.57.66%2C3.17%2C1%2C4.75v12a8.55%2C8.55%2C0%2C0%2C0-.86%2C2.24c-1.93%2C19.5-3.91%2C39-9.84%2C57.83-2.55%2C8.07-4.1%2C16.51-7.29%2C24.31-3%2C7.31-4.24%2C15.08-9.21%2C22-11%2C15.21-20.37%2C31.52-30.63%2C47.25a41.81%2C41.81%2C0%2C0%2C1-8.43%2C9.81c-20.5%2C16.45-41.76%2C31.68-65.64%2C43.11-21.24%2C10.18-43%2C18.71-65.94%2C24-8.47%2C2-17.1%2C3.25-25.66%2C4.85l-.22-1.08%2C22.54-6.61-.06-1.38c-54.67%2C13.51-107.92%2C7.75-160.15-12l-.35%2C1.73%2C11.25%2C6.45-.65%2C1.82L178.71%2C533c2.73%2C2.85%2C4.95%2C5%2C7%2C7.34%2C2.87%2C3.31%2C5.61%2C6.74%2C8.37%2C10.14%2C2%2C2.45%2C3.95%2C4.94%2C5.91%2C7.41h-1c-8.34-3-17.47-3.63-25-9-3.76-2.71-8-4.74-11.86-7.31-13.41-8.93-27.28-17.29-39.95-27.17-10.94-8.54-20.74-18.62-30.58-28.48-7-7-14.24-14.18-19.66-22.4-9.31-14.13-17.29-29.14-25.83-43.77-.84-1.44-1.55-4-2.55-4.11-5.41-.68-5.08-5.35-6.39-8.66-5.36-13.53-10.47-27.16-15.67-40.75%2C1%2C17.33%2C9%2C32.37%2C16.32%2C47.34%2C7.38%2C15.18%2C17.13%2C29.2%2C25.84%2C43.73l-1.05.74A56.2%2C56.2%2C0%2C0%2C1%2C59%2C453.68a305.22%2C305.22%2C0%2C0%2C1-39-78.22c-3.39-10.4-7.61-20.67-9.65-31.34C8%2C332.44%2C8.61%2C320.24%2C6.65%2C308.48c-1.92-11.46.19-22.85-1-34.35-1-9.4%2C2.32-19.27%2C4-28.89.71-4.2%2C2-8.3%2C3.06-12.45%2C1.52-5.57%2C3-11.15%2C4.6-16.7%2C1.86-6.35%2C3.85-12.67%2C5.78-19l-1.19-.37c-2.78%2C8.47-5.77%2C16.87-8.21%2C25.44-1%2C3.36-.69%2C7.09-1%2C10.65-1.56%2C3.4-3.89%2C6.67-4.56%2C10.24C5.78%2C255.39%2C4.05%2C267.86%2C2%2C280.26%2C1.69%2C281.89.67%2C283.4%2C0%2C285ZM395.93%2C524.9c12.21-3.64%2C23.31-9.53%2C33.81-16.65A68.25%2C68.25%2C0%2C0%2C0%2C419.1%2C513c-7.7%2C4-15.39%2C8-23.08%2C12.06l-27.27%2C9.17.78%2C2ZM273.65%2C34C142.34%2C33.08%2C28.5%2C139.38%2C28.36%2C278.63c-.14%2C138.77%2C111.9%2C243%2C240.6%2C245.49%2C134%2C2.54%2C249.86-106%2C249.66-245.13C518.43%2C139.52%2C404.75%2C33.26%2C273.65%2C34ZM60.85%2C426.21c1.74%2C10.32%2C9%2C17.4%2C14.65%2C25.46C74.05%2C441.18%2C65.65%2C434.75%2C60.85%2C426.21Zm12.67%2C27.38L54.69%2C429.1C58.6%2C439.18%2C64.27%2C447.87%2C73.52%2C453.59ZM46.57%2C398.51l-1.43.73%2C8.18%2C18.33%2C1.72-.76Q50.81%2C407.66%2C46.57%2C398.51Zm409.16%2C95-1.17-1.73-17.48%2C11.34.82%2C1.34ZM37.09%2C166.61l-1.28-.6q-5.27%2C11.09-10.55%2C22.16l1.35.63Q31.85%2C177.71%2C37.09%2C166.61Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M72.93%2C111.5l-5.44%2C4.94-.44-.25%2C8.23-11.77.46%2C4.23Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M308.91%2C2.22c49.59%2C9%2C95.35%2C26.91%2C134.79%2C59.35C422.9%2C48.08%2C402%2C34.78%2C379.08%2C24.85s-46.76-15.39-71-20.33C308.38%2C3.76%2C308.65%2C3%2C308.91%2C2.22Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M508.76%2C128.62l17.56%2C30-1.55.91L507%2C129.63Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M544.57%2C233.5q-1.68-8.3-3.35-16.59l1.61-.35q1.74%2C8.43%2C3.49%2C16.87Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M314.56%2C548.11l-14.72%2C2.59C302.36%2C547.72%2C302.36%2C547.72%2C314.56%2C548.11Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M272.51%2C135h66c34%2C0%2C65.13%2C23.11%2C74.34%2C56a103.21%2C103.21%2C0%2C0%2C1%2C3.81%2C26.55c.39%2C41.15.26%2C82.3.15%2C123.45-.1%2C38.64-24.72%2C70.12-62.13%2C79.23a87.86%2C87.86%2C0%2C0%2C1-20.25%2C2.45c-41.31.22-82.63.17-123.95.1-46.75-.09-82.23-35.6-82.31-82.35q-.09-62.24%2C0-124.46c.1-40.95%2C28.08-74%2C67.92-80.49a47.63%2C47.63%2C0%2C0%2C1%2C7.46-.49Q238%2C135%2C272.51%2C135ZM154%2C278.47q0%2C30.73%2C0%2C61.49c0%2C33.91%2C22.91%2C56.89%2C56.69%2C56.92q61.74.06%2C123.48%2C0c33.56%2C0%2C56.63-23%2C56.67-56.42q.08-62%2C0-124c0-33.42-23.13-56.39-56.67-56.42q-61.75-.06-123.49%2C0c-33.77%2C0-56.64%2C23-56.68%2C56.92Q154%2C247.72%2C154%2C278.47Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M346.73%2C278.47c0%2C40.6-33.43%2C74.09-74.14%2C74.25s-74.72-33.92-74.38-74.5c.34-40.83%2C33.86-74.18%2C74.38-74C313.29%2C204.37%2C346.73%2C237.87%2C346.73%2C278.47Zm-74.49%2C48.61a48.62%2C48.62%2C0%2C1%2C0-48.38-48.84A48.7%2C48.7%2C0%2C0%2C0%2C272.24%2C327.08Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M349.72%2C182.74a18.63%2C18.63%2C0%2C1%2C1-18.65%2C18.79A18.64%2C18.64%2C0%2C0%2C1%2C349.72%2C182.74Z%22%2F%3E%3C%2Fsvg%3E";
$whatsapp:"%3Csvg%20id%3D%22Capa_1%22%20data-name%3D%22Capa%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20546.93%20557.93%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M0%2C285V269c.77-4.17%2C1.43-8.36%2C2.34-12.49%2C5.25-23.65%2C10.12-47.32%2C20.21-69.66%2C9.48-21%2C19.93-41.33%2C33.64-59.89%2C1-1.31%2C2.05-2.53%2C3.08-3.8l1%2C.76q-5.19%2C9.17-10.37%2C18.33c6.7-7.81%2C12.72-16%2C18.68-24.15%2C1.54-2.12%2C2.89-4.38%2C4.33-6.57l2.81-2.85c6.8-6.8%2C13.65-13.56%2C20.38-20.42C116%2C68%2C136.62%2C48.79%2C162%2C35.5a29.57%2C29.57%2C0%2C0%2C0%2C3.72-2.76L165.4%2C31l-24.17-1.11c5.71-4.31%2C11.58-8.62%2C18.15-10.6a331.06%2C331.06%2C0%2C0%2C1%2C41.09-10c17.35-2.88%2C34.95-4.18%2C52.42-6.32C259%2C2.19%2C264.94%2C1%2C271%2C0h7c2%2C.55%2C4%2C1.11%2C6%2C1.63l64.07%2C16.81c1.12.29%2C2.62%2C1.14%2C3.33.71%2C4.87-2.93%2C8.35.73%2C12.22%2C2.34%2C5.07%2C2.1%2C10%2C4.48%2C15.09%2C6.56%2C19.19%2C7.87%2C37.43%2C17.34%2C53.47%2C30.7%2C6.77%2C5.64%2C13.52%2C11.35%2C20.65%2C16.52%2C29.74%2C21.57%2C50.38%2C50.49%2C67%2C82.64%2C2.79%2C5.41%2C4.4%2C11.43%2C6.55%2C17.16l-1.35.84c-42.77-89.79-116-140.16-211-164.58%2C4.46%2C7.8%2C12.4%2C12.9%2C18.36%2C12l-7.39-3.81.45-1.27c5.72%2C2%2C12.81%2C2.46%2C16.86%2C6.22%2C5.9%2C5.49%2C13%2C6.78%2C19.71%2C8.47%2C6.37%2C1.6%2C12.88%2C1.56%2C17.57%2C7.16%2C1.05%2C1.25%2C3.16%2C1.7%2C4.84%2C2.33%2C4.79%2C1.79%2C9.87%2C3%2C14.34%2C5.38%2C3.13%2C1.66%2C5%2C5.63%2C8.18%2C7.25%2C11.55%2C6%2C21.94%2C13.49%2C32%2C21.6%2C11.61%2C9.32%2C23.44%2C18%2C33.33%2C29.61%2C19.06%2C22.44%2C37.23%2C45.22%2C48.37%2C72.71%2C15.35%2C37.88%2C26.62%2C76.71%2C25.31%2C118.2%2C0%2C1.57.66%2C3.17%2C1%2C4.75v12a8.55%2C8.55%2C0%2C0%2C0-.86%2C2.24c-1.93%2C19.5-3.91%2C39-9.84%2C57.83-2.55%2C8.07-4.1%2C16.51-7.29%2C24.31-3%2C7.31-4.24%2C15.08-9.21%2C22-11%2C15.21-20.37%2C31.52-30.63%2C47.25a41.81%2C41.81%2C0%2C0%2C1-8.43%2C9.81c-20.5%2C16.45-41.76%2C31.68-65.64%2C43.11-21.24%2C10.18-43%2C18.71-65.94%2C24-8.47%2C2-17.1%2C3.25-25.66%2C4.85l-.22-1.08%2C22.54-6.61-.06-1.38c-54.67%2C13.51-107.92%2C7.75-160.15-12l-.35%2C1.73%2C11.25%2C6.45-.65%2C1.82L178.71%2C533c2.73%2C2.85%2C4.95%2C5%2C7%2C7.34%2C2.87%2C3.31%2C5.61%2C6.74%2C8.37%2C10.14%2C2%2C2.45%2C3.95%2C4.94%2C5.91%2C7.41h-1c-8.34-3-17.47-3.63-25-9-3.76-2.71-8-4.74-11.86-7.31-13.41-8.93-27.28-17.29-39.95-27.17-10.94-8.54-20.74-18.62-30.58-28.48-7-7-14.24-14.18-19.66-22.4-9.31-14.13-17.29-29.14-25.83-43.77-.84-1.44-1.55-4-2.55-4.11-5.41-.68-5.08-5.35-6.39-8.66-5.36-13.53-10.47-27.16-15.67-40.75%2C1%2C17.33%2C9%2C32.37%2C16.32%2C47.34%2C7.38%2C15.18%2C17.13%2C29.2%2C25.84%2C43.73l-1.05.74A56.2%2C56.2%2C0%2C0%2C1%2C59%2C453.68a305.22%2C305.22%2C0%2C0%2C1-39-78.22c-3.39-10.4-7.61-20.67-9.65-31.34C8%2C332.44%2C8.61%2C320.24%2C6.65%2C308.48c-1.92-11.46.19-22.85-1-34.35-1-9.4%2C2.32-19.27%2C4-28.89.71-4.2%2C2-8.3%2C3.06-12.45%2C1.52-5.57%2C3-11.15%2C4.6-16.7%2C1.86-6.35%2C3.85-12.67%2C5.78-19l-1.19-.37c-2.78%2C8.47-5.77%2C16.87-8.21%2C25.44-1%2C3.36-.69%2C7.09-1%2C10.65-1.56%2C3.4-3.89%2C6.67-4.56%2C10.24C5.78%2C255.39%2C4.05%2C267.86%2C2%2C280.26%2C1.69%2C281.89.67%2C283.4%2C0%2C285ZM395.93%2C524.9c12.21-3.64%2C23.31-9.53%2C33.81-16.65A68.25%2C68.25%2C0%2C0%2C0%2C419.1%2C513c-7.7%2C4-15.39%2C8-23.08%2C12.06l-27.27%2C9.17.78%2C2ZM110%2C443.42c1.93-.53%2C3-.8%2C4.12-1.14%2C26.79-8.55%2C53.59-17%2C80.34-25.73a10%2C10%2C0%2C0%2C1%2C8.42.71c30.06%2C15.5%2C62%2C21.08%2C95.42%2C16.39%2C85.75-12%2C145.72-88.13%2C137.83-174.43-8.22-89.88-91.09-155.68-180.74-143.51C142.1%2C131.08%2C80.73%2C255%2C137%2C354.58a9.37%2C9.37%2C0%2C0%2C1%2C.56%2C6.77C128.62%2C388.49%2C119.43%2C415.56%2C110%2C443.42Zm291.39%2C44.87%2C1.25%2C1.95A149.83%2C149.83%2C0%2C0%2C0%2C442%2C466.19c10.74-9.11%2C15.71-22.59%2C21.51-35.29a23.49%2C23.49%2C0%2C0%2C0-6.14%2C6.24c-1.61%2C2.25-2.67%2C5-4.61%2C6.91-5.59%2C5.42-11.51%2C10.5-17.28%2C15.74-.25.23-.24.74-.39%2C1.26l3.46-1.15.76%2C1.26c-5.13%2C3.81-10.19%2C7.72-15.4%2C11.43C416.47%2C477.9%2C408.92%2C483.06%2C401.42%2C488.29Zm-340.54-62c1.67%2C10.31%2C8.94%2C17.3%2C14.65%2C25.21C73.85%2C441.15%2C65.69%2C434.7%2C60.88%2C426.25Zm12.74%2C27.43-18.9-24.5C58.61%2C439.26%2C64.39%2C447.83%2C73.62%2C453.68Zm-27-55.06-1.49.46q4.05%2C9.3%2C8.12%2C18.59l1.77-.77Zm409.07%2C94.87-1.15-1.75-17.5%2C11.35.82%2C1.34ZM25.28%2C188l1.42.66%2C10.41-22.16-1.25-.58Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M72.93%2C111.5l-5.44%2C4.94L67%2C116.2l8.24-11.78.46%2C4.23Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M308.27%2C3.9C335.59.59%2C423.12%2C38.2%2C443.6%2C61.82c-20.67-13.7-41.53-27-64.39-36.91S332.42%2C9.4%2C308.27%2C3.9Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M508.65%2C128.59q8.82%2C14.92%2C17.66%2C29.84l-1.59.95L507%2C129.58Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M542.91%2C216.52l3.36%2C16.68-1.54.33-3.56-16.7Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M314.5%2C548.11l-14.18%2C2.5-.3-1.52C304.43%2C546.86%2C309.59%2C548.42%2C314.5%2C548.11Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M151.61%2C402.56c5.31-15.72%2C10.18-30.37%2C15.24-44.95a8.25%2C8.25%2C0%2C0%2C0-1-8.24C112%2C269.08%2C157.5%2C161.06%2C252.53%2C143.29c75.55-14.13%2C148.67%2C40.41%2C156.64%2C116.85a133.61%2C133.61%2C0%2C0%2C1-145%2C147.56%2C128.67%2C128.67%2C0%2C0%2C1-57.67-19.38%2C8.24%2C8.24%2C0%2C0%2C0-7.82-.86C183.36%2C392.48%2C168%2C397.32%2C151.61%2C402.56Zm44.58-165.12c0%2C.33.17%2C2%2C.35%2C3.64%2C1.61%2C14.69%2C8.78%2C27%2C16.46%2C39.17%2C21.63%2C34.33%2C50.42%2C59.43%2C89.87%2C71.33%2C8.59%2C2.59%2C16.91%2C4%2C26%2C2.52%2C17-2.8%2C30.16-16.18%2C30.84-32.86.1-2.38-1.18-6-3-7.07-10.82-6.18-22-11.8-33.05-17.53-3.63-1.88-6.53-1-9.15%2C2.29-3.94%2C4.94-8.3%2C9.55-12.42%2C14.35-2.51%2C2.93-5.27%2C3.48-8.87%2C1.88-23.36-10.34-41-26.81-53.56-49-2.42-4.29-2.35-7.39%2C1.36-11a60%2C60%2C0%2C0%2C0%2C9.6-12%2C10.67%2C10.67%2C0%2C0%2C0%2C.65-7.94c-3.53-10.55-7.47-21-11.55-31.35a13.27%2C13.27%2C0%2C0%2C0-4.61-6.22c-5.07-3.18-17.7-1.54-22.26%2C2.45C201.94%2C209.62%2C196.32%2C221.61%2C196.19%2C237.44Z%22%2F%3E%3C%2Fsvg%3E";
$whatsapp_hover:"%3Csvg%20id%3D%22Capa_1%22%20data-name%3D%22Capa%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20546.93%20557.93%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M200%2C557.93h-1c-8.34-3-17.47-3.63-25-9-3.76-2.71-8-4.74-11.86-7.31-13.41-8.93-27.28-17.29-39.95-27.17-10.94-8.54-20.74-18.62-30.58-28.48-7-7-14.24-14.18-19.66-22.4-9.31-14.13-17.29-29.14-25.83-43.77-.84-1.44-1.55-4-2.55-4.11-5.41-.68-5.08-5.35-6.39-8.66-5.36-13.53-10.47-27.16-15.67-40.75%2C1%2C17.33%2C9%2C32.37%2C16.32%2C47.34%2C7.38%2C15.18%2C17.13%2C29.2%2C25.84%2C43.73l-1.05.74A56.2%2C56.2%2C0%2C0%2C1%2C59%2C453.68a305.22%2C305.22%2C0%2C0%2C1-39-78.22c-3.39-10.4-7.61-20.67-9.65-31.34C8%2C332.44%2C8.61%2C320.24%2C6.65%2C308.48c-1.92-11.46.19-22.85-1-34.35-1-9.4%2C2.32-19.27%2C4-28.89.71-4.2%2C2-8.3%2C3.06-12.45%2C1.52-5.57%2C3-11.15%2C4.6-16.7%2C1.86-6.35%2C3.85-12.67%2C5.78-19l-1.19-.37c-2.78%2C8.47-5.77%2C16.87-8.21%2C25.44-1%2C3.36-.69%2C7.09-1%2C10.65-1.56%2C3.4-3.89%2C6.67-4.56%2C10.24C5.78%2C255.39%2C4.05%2C267.86%2C2%2C280.26c-.28%2C1.63-1.3%2C3.14-2%2C4.7V269c.77-4.17%2C1.43-8.36%2C2.34-12.49%2C5.25-23.65%2C10.12-47.32%2C20.21-69.66%2C9.48-21%2C19.93-41.33%2C33.64-59.89%2C1-1.31%2C2.05-2.53%2C3.08-3.8l1%2C.76q-5.19%2C9.17-10.37%2C18.33c6.7-7.81%2C12.72-16%2C18.68-24.15%2C1.54-2.12%2C2.89-4.38%2C4.33-6.57l2.81-2.85c6.8-6.8%2C13.65-13.56%2C20.38-20.42C116%2C68%2C136.62%2C48.79%2C162%2C35.5a29.57%2C29.57%2C0%2C0%2C0%2C3.72-2.76L165.4%2C31l-24.17-1.11c5.71-4.31%2C11.58-8.62%2C18.15-10.6a331.06%2C331.06%2C0%2C0%2C1%2C41.09-10c17.35-2.88%2C34.95-4.18%2C52.42-6.32C259%2C2.19%2C264.94%2C1%2C271%2C0h7c2%2C.55%2C4%2C1.11%2C6%2C1.63l64.07%2C16.81c1.12.29%2C2.62%2C1.14%2C3.33.71%2C4.87-2.93%2C8.35.73%2C12.22%2C2.34%2C5.07%2C2.1%2C10%2C4.48%2C15.09%2C6.56%2C19.19%2C7.87%2C37.43%2C17.34%2C53.47%2C30.7%2C6.77%2C5.64%2C13.52%2C11.35%2C20.65%2C16.52%2C29.74%2C21.57%2C50.38%2C50.49%2C67%2C82.64%2C2.79%2C5.41%2C4.4%2C11.43%2C6.55%2C17.16l-1.35.84c-42.77-89.79-116-140.16-211-164.58%2C4.46%2C7.8%2C12.4%2C12.9%2C18.36%2C12l-7.39-3.81.45-1.27c5.72%2C2%2C12.81%2C2.46%2C16.86%2C6.22%2C5.9%2C5.49%2C13%2C6.78%2C19.71%2C8.47%2C6.37%2C1.6%2C12.88%2C1.56%2C17.57%2C7.16%2C1.05%2C1.25%2C3.16%2C1.7%2C4.84%2C2.33%2C4.79%2C1.79%2C9.87%2C3%2C14.34%2C5.38%2C3.13%2C1.66%2C5%2C5.63%2C8.18%2C7.25%2C11.55%2C6%2C21.94%2C13.49%2C32%2C21.6%2C11.61%2C9.32%2C23.44%2C18%2C33.33%2C29.61%2C19.06%2C22.44%2C37.23%2C45.22%2C48.37%2C72.71%2C15.35%2C37.88%2C26.62%2C76.71%2C25.31%2C118.2%2C0%2C1.57.66%2C3.17%2C1%2C4.75v12a8.55%2C8.55%2C0%2C0%2C0-.86%2C2.24c-1.93%2C19.5-3.91%2C39-9.84%2C57.83-2.55%2C8.07-4.1%2C16.51-7.29%2C24.31-3%2C7.31-4.24%2C15.08-9.21%2C22-11%2C15.21-20.37%2C31.52-30.63%2C47.25a41.81%2C41.81%2C0%2C0%2C1-8.43%2C9.81c-20.5%2C16.45-41.76%2C31.68-65.64%2C43.11-21.24%2C10.18-43%2C18.71-65.94%2C24-8.47%2C2-17.1%2C3.25-25.66%2C4.85l-.22-1.08%2C22.54-6.61-.06-1.38c-54.67%2C13.51-107.92%2C7.75-160.15-12l-.35%2C1.73%2C11.25%2C6.45-.65%2C1.82L178.71%2C533c2.73%2C2.85%2C4.95%2C5%2C7%2C7.34%2C2.87%2C3.31%2C5.61%2C6.74%2C8.37%2C10.14C196.06%2C553%2C198%2C555.46%2C200%2C557.93Zm196-33c12.21-3.64%2C23.31-9.53%2C33.81-16.65A68.25%2C68.25%2C0%2C0%2C0%2C419.1%2C513c-7.7%2C4-15.39%2C8-23.08%2C12.06l-27.27%2C9.17.78%2C2ZM273.68%2C34C142.35%2C33.06%2C28.52%2C139.37%2C28.36%2C278.6c-.15%2C138.78%2C111.88%2C243.06%2C240.57%2C245.52%2C134%2C2.56%2C249.87-105.95%2C249.69-245.1C518.44%2C139.54%2C404.77%2C33.28%2C273.68%2C34ZM75.51%2C451.67c-1.47-10.49-9.85-16.94-14.67-25.46C62.6%2C436.52%2C69.87%2C443.62%2C75.51%2C451.67Zm-1.9%2C2L54.74%2C429.2C58.73%2C439.2%2C64.3%2C447.93%2C73.61%2C453.69Zm-20.38-36%2C1.82-.79q-4.26-9.22-8.51-18.45l-1.35.58Zm383.84%2C85.37.93%2C1.35%2C17.76-11c-.36-.57-.72-1.14-1.07-1.72Zm-400-336.39L35.74%2C166q-5.24%2C11.07-10.46%2C22.13l1.33.62Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M72.93%2C111.5l-5.44%2C4.94L67%2C116.2l8.24-11.78.46%2C4.23Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M443.42%2C62.08c-40.5-29.93-85.34-49.7-135.24-57.63C326.06-3.39%2C428%2C40.14%2C443.42%2C62.08Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M508.66%2C128.52q8.82%2C15%2C17.65%2C30l-1.56.92L507%2C129.52Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M542.88%2C216.51q1.73%2C8.44%2C3.44%2C16.91l-1.64.33-3.46-16.9Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M300%2C548.61l14.43-1.41.17.85-14.19%2C2.58Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M110.05%2C443.44c9.32-27.69%2C18.32-54.64%2C27.52-81.52a9.07%2C9.07%2C0%2C0%2C0-.8-8.27c-55.88-98.38%2C6.15-223.26%2C118.1-237.87%2C88.78-11.59%2C168.8%2C49.66%2C180.83%2C138.42%2C11.52%2C85-48.52%2C165.47-133.38%2C178.83q-52.23%2C8.24-99.37-15.74a10%2C10%2C0%2C0%2C0-8.42-.75c-26.74%2C8.68-53.55%2C17.17-80.34%2C25.72C113.11%2C442.61%2C112%2C442.89%2C110.05%2C443.44Zm41.7-41.16c2-.53%2C3.22-.81%2C4.43-1.2%2C14.11-4.49%2C28.25-8.9%2C42.29-13.57%2C3.13-1%2C5.38-.66%2C8.26%2C1%2C48.37%2C27.51%2C97.08%2C27.86%2C143.43-3%2C45.95-30.56%2C65.63-75.4%2C58.27-130.12C399%2C185.33%2C335.73%2C136%2C265.11%2C141.75c-98.23%2C8-154.37%2C118-102.69%2C201.91%2C4.55%2C7.4%2C5.19%2C13.15%2C2.15%2C20.88C159.81%2C376.67%2C156.12%2C389.23%2C151.75%2C402.28Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M196.19%2C237.36c.15-15.86%2C5.81-27.83%2C16.71-37.32%2C4.55-4%2C17.33-5.51%2C22.27-2.35a12.53%2C12.53%2C0%2C0%2C1%2C4.36%2C5.82c4.13%2C10.52%2C8.15%2C21.1%2C11.74%2C31.81a10.42%2C10.42%2C0%2C0%2C1-.72%2C7.92A89%2C89%2C0%2C0%2C1%2C240.23%2C256c-2.69%2C2.88-3.13%2C5.5-1.25%2C8.93%2C12.58%2C23%2C30.68%2C40%2C54.76%2C50.49%2C3.2%2C1.39%2C5.8.74%2C8.05-1.84%2C4.15-4.77%2C8.5-9.38%2C12.43-14.33%2C2.7-3.4%2C5.62-4.58%2C9.51-2.56%2C11.07%2C5.75%2C22.1%2C11.57%2C33.15%2C17.35%2C3.58%2C1.88%2C3.16%2C5.17%2C2.84%2C8.32-1.81%2C17.73-11.73%2C26.73-31%2C31.64-8.93%2C2.27-17.35.15-25.93-2.45-39.43-11.93-68.23-37-89.83-71.37-7.67-12.2-14.82-24.49-16.43-39.18C196.34%2C239.33%2C196.22%2C237.67%2C196.19%2C237.36Z%22%2F%3E%3C%2Fsvg%3E";
//--------------

//---------Variables--------

//--------------------------

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43em) {

}

/* Small devices (portrait tablets and large phones, 688px and up) */
@media only screen and (min-width: 43em) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {
    #mainScreen {
        .image-stack{
            width: 43%;
            margin: 15px 120px 0px 0px;
    
            .infinite-lines{
                top: 51%;
                right: 12%;
                width: 420px;
                height: 20px;
            }

            .infinite-lines:before {
                height: 8px;
                background-size: 50px !important;
                animation: roadlines1 1s linear infinite;
            }
        }

        .phrase{
            font-size: 12pt;
    
            h1{
                font-size: 35pt;
                padding-top: 15pt;
            }
        }

        .login{
            top: 57%;
    
            .no-profile{
                width: 55px;
                height: 55px;
            }
    
            span{
                font-size: 15pt;
                line-height: 40pt;
            }
        }
        
        .pulse {
            top: 375px;
            margin-left: 274px;
            width: 52px;
            height: 52px;
        }

        button{
            &.btnRight:hover{
                &~.image-stack>.truck{  
                    transform: translate(95px,-60px);
                    -webkit-transform: translate(95px,-60px);
                    -o-transform: translate(95px,-60px); 
                    -moz-transform: translate(95px,-60px);
                    transition: 2s;
                }
                &~.image-stack>.only-car{
                    opacity: 0;
                    transform: translate(-240px,150px);
                    -webkit-transform: translate(-240px,150px);
                    -o-transform: translate(-240px,150px); 
                    -moz-transform: translate(-240px,150px);
                    transition: 2s;
                }
                &~.image-stack>.road>.infinite-lines:before{
                    animation-play-state: running;
                }
            } 
        }

        .socialBtns{
            left: 25px;
            bottom: 25px;
            width: 195px;
            height: 40px;
    
            .sBtn{
                width: 40px;
                height: 40px;
                margin-right: 25px;
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 119em) {
    #mainScreen {
        .image-stack{
            width: 46%;
            margin: 40px 120px 0px 0px;
    
            .infinite-lines{
                top: 42%;
                right: 13%;
                width: 636px;
                height: 185px;
            }
    
            .infinite-lines:before {
                height: 10px;
                background-size: 70px !important;
                animation: roadlines2 1s linear infinite;
            }
        }

        .phrase{
            font-size: 15pt;
    
            h1{
                font-size: 45pt;
                padding-top: 20pt;
            }
        }

        .login{
            top: 55%;
    
            .no-profile{
                width: 70px;
                height: 70px;
            }
    
            span{
                font-size: 20pt;
                line-height: 45pt;
            }
        }

        .pulse {
            top: 539px;
            margin-left: 387px;
            width: 65px;
            height: 65px;
        }

        button{
            &.btnRight:hover{
                &~.image-stack>.truck{  
                    transform: translate(135px,-80px);
                    -webkit-transform: translate(135px,-80px);
                    -o-transform: translate(135px,-80px); 
                    -moz-transform: translate(135px,-80px);
                    transition: 2s;
                }
                &~.image-stack>.only-car{
                    opacity: 0;
                    transform: translate(-400px,250px);
                    -webkit-transform: translate(-400px,250px);
                    -o-transform: translate(-400px,250px); 
                    -moz-transform: translate(-400px,250px);
                    transition: 2s;
                }
                &~.image-stack>.road>.infinite-lines:before{
                    animation-play-state: running;
                }
            } 
        }

        .socialBtns{
            left: 25px;
            bottom: 25px;
            width: 225px;
            height: 50px;
    
            .sBtn{
                width: 50px;
                height: 50px;
                margin-right: 25px;
            }
        }
    }
}

//------Animations---------

//Road lines animation
@keyframes roadlines1{
    0%
    {
        background-position:  0px;
    }
    100%
    {
        background-position: -50px;
    }
}

@keyframes roadlines2{
    0%
    {
        background-position:  0px;
    }
    100%
    {
        background-position: -70px;
    }
}


//Pulse animation
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    70% {
        -moz-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

//--------------------------

#mainScreen {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(97,97,97);
    background: linear-gradient(180deg, rgba(97,97,97,1) 0%, rgba(33,33,33,1) 50%, rgba(202,24,31,1) 100%);

    img{
        width: 100%;
        height: auto;
    }

    #motorcenterVideo{
        opacity: 0;
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        transition: all 0.5s;
    }

    .logo {
        position: relative;
        z-index: 3;
        width: 25%;
        margin: 32px auto;
        transition: all 0.5s;
    }

    .image-stack{
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        float: right;
        position: relative;
        transition: all 0.5s;

        .only-car{
            grid-column: 13/16;
            grid-row: 1;
            z-index: 3;
            padding-top: 280%;
            opacity: 1;
            transition: all 1.5s ease 600s;
        }

        .truck{
            grid-column: 14/4;
            grid-row: 1;
            z-index: 2;
            padding-top: 65%;
            transition: all 2s ease 600s;
        }

        .infinite-lines{
            position: absolute;
            transform: rotate(-30deg) skewX(29deg);
        }

        .infinite-lines:before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 100%;
            background: linear-gradient(90deg,#fff 0%, #fff 70%, #333333 70%, #333333 100%);
            animation-play-state: paused; 
        }

        .road{
            padding-top: 5%;
            grid-column: 3/20;
            grid-row: 1;
            z-index: 1;
        }

        .terrain {
            grid-column: 1 / -1;
            grid-row: 1;
        }
    
    }

    .phrase{
        color: #9B9B9B;
        font-family: 'palanquin', 'arial', sans-serif;
        position: absolute;
        padding-left: 20%;
        top: 40%;
        transition: all 0.5s;

        h1{
            font-family: 'ubuntu', 'arial', sans-serif;
            font-weight: bold;
            color: white;
        }
    }

    .login{
        color: white;
        font-family: 'palanquin', 'arial', sans-serif;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        position: absolute;
        z-index: 1;
        display: flex;
        padding-left: 20%;
        transition: all 0.5s;

        .no-profile{
            background: url("data:image/svg+xml, #{$login}") left center/100% 100% no-repeat !important;
            transition: all 0.5s;
        }

        span{
            padding-left: 15px;
        }

        &:hover{
            .no-profile{
                background: url("data:image/svg+xml, #{$login_hover}") left center/100% 100% no-repeat !important;
            }
        }
    }
    
    .pulse {
        position: absolute;
        display: block;
        border-radius: 50%;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
        -webkit-animation: pulse 2s infinite;
        animation: pulse 2s infinite;
    }

    .pulse:hover {
        animation: none;
    }

    button{
        color: white;
        font-family: 'palanquin', 'arial', sans-serif;
        border-radius: 50px;
        border: 1px solid white;
        width: 130px;
        height: 50px;

        .bg-gradient{
            background: rgb(202,24,31);
            background: linear-gradient(90deg, rgba(202,24,31,1) 0%, rgba(93,0,0,1) 100%);
            border: 0px solid;
            border-radius: 50px;
            z-index: 0;
            display:block;
            top:0;
            left:0;
            position:absolute;
            width:100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.5s;
        }

        span{
            z-index: 5;
            position: relative;
        }

        &.btnRight{
            position: absolute;
            z-index: 1;
            right: 25px;
            top: 50%;
        }

        &.btnLeft{
            position: absolute;
            z-index: 1;
            left: 25px;
            top: 50%;
        }

        &.btnLeft:hover{
            &~#motorcenterVideo{
                opacity: 0.3;
            }
            &~.image-stack{
                opacity: 0;
            }
            &~.phrase{
                color: white;
            }
            &~.pulse{
                opacity: 0;
            }
            &~.login{
                opacity: 0;
            }
        }

        &:hover{
            border: 0px;

            .bg-gradient{
                opacity: 1;
            }
        }

    }

    .socialBtns{
        position: absolute;
        z-index: 1;
        transition: all 0.5s;

        .sBtn{
            display: inline-block;
            outline: none;
            margin-right: 25px;
            transition: all 0.5s;
        }

        #faceBtn{
            background: url("data:image/svg+xml, #{$facebook}") left center/100% 100% no-repeat !important;

            &:hover{
                background: url("data:image/svg+xml, #{$facebook_hover}") left center/100% 100% no-repeat !important;
            }
        }

        #instaBtn{
            background: url("data:image/svg+xml, #{$instagram}") left center/100% 100% no-repeat !important;

            &:hover{
                background: url("data:image/svg+xml, #{$instagram_hover}") left center/100% 100% no-repeat !important;
            }
        }

        #waBtn{
            background: url("data:image/svg+xml, #{$whatsapp}") left center/100% 100% no-repeat !important;

            &:hover{
                background: url("data:image/svg+xml, #{$whatsapp_hover}") left center/100% 100% no-repeat !important;
            }
        }
    }

    #login-form-wrapper{
        position: fixed;
        top: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}