<div id="topLinks" [className]="changeTopLinksClass ? 'active' : ''">
  <div class="content">
    <div id="logoHome" [routerLink]="''"></div>
    <div class="line"></div>
    <div id="about">NOSOTROS</div>
  </div>
</div>

<span *ngIf="!displayProfile" class="pulse" [class.active] ="changeLoginClass"></span>
<div class="login" (click)="showLogin()" [class.active] ="changeLoginClass">
    <div *ngIf="!displayProfile" id="noLogin" class="no-profile" matTooltip="Iniciar sesión" matTooltipPosition="before"></div>
    <div *ngIf="displayProfile" [matMenuTriggerFor]="menu" id="Login" class="profile"></div>
    <div *ngIf="displayProfile" [matMenuTriggerFor]="menu" class="profileFrame"><div class="profileContent"></div></div>
</div>
<mat-menu #menu="matMenu">
    <button mat-menu-item color="primary">
      <mat-icon>account_circle</mat-icon>
      <span>Perfil</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="dealer">
      <mat-icon>emoji_transportation</mat-icon>
      <span>Concesionario</span>
    </button>
    <button mat-menu-item (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Salir</span>
    </button>
</mat-menu>
<mat-menu #dealer="matMenu">
    <button mat-menu-item routerLink="concesionario/vehiculos">
      <mat-icon>directions_car</mat-icon>
      <span>Vehículos</span>
    </button>
    <button mat-menu-item disabled>
        <mat-icon>miscellaneous_services</mat-icon>
        <span>Repuestos</span>
      </button>
    <button mat-menu-item disabled>
      <mat-icon>home_repair_service</mat-icon>
      <span>Taller</span>
    </button>
</mat-menu>
