/* You can add global styles to this file, and also import other style files */

@font-face{
    font-family: palanquin;
    src: url(assets/fonts/palanquin/Palanquin-Regular.ttf) format("truetype");
}

@font-face{
    font-family: ubuntu;
    src: url(assets/fonts/Ubuntu/Ubuntu-Regular.ttf) format("truetype");
}

html, body { height: 100%; overflow: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-selection-list .mat-list-option.zero-padding .mat-list-item-content{
    padding: 0px
}

.cdk-overlay-connected-position-bounding-box{
    margin-top: 10px;
}

//Mat dialog after close bug
.mat-button-focus-overlay { 
  background-color: transparent!important;
 }

// Workaround for angular component issue #13870
.ng-animating div mat-accordion mat-expansion-panel mat-expansion-panel-header {
    height: 48px;
  }
.ng-animating div mat-accordion mat-expansion-panel div.mat-expansion-panel-content {
    height: 0px;
    visibility: hidden;
}

/* Password strength component material bar colors change */

.mat-warn .mat-progress-bar-buffer {
  background-color: #E4E8EB!important;
}
.mat-warn .mat-progress-bar-fill::after {
  background-color: #ff6859!important;
}

.mat-accent .mat-progress-bar-buffer {
  background-color: #fff8e5!important;
}
.mat-accent .mat-progress-bar-fill::after {
  background-color: #ffcf44!important;
}

.mat-primary .mat-progress-bar-buffer {
  background-color: #b6fff2!important;
}

.mat-primary .mat-progress-bar-fill::after {
  background-color: #1eb980!important;
}
