<div id="clientQuotes">
  <form [formGroup]="QuoteFormGroup">
    <div class="formContainer" [formArrayName]="'formArrayName'">
      <mat-card class="quoteCard" *ngFor="let quote of clientQuotes; let i = index">
        <mat-card-header [class.canceled]="cancelQuoteIndexArray.includes(i)">
          <mat-card-title>{{quote.vehicleName}}</mat-card-title>
          <ng-container *ngIf="!cancelQuoteIndexArray.includes(i)">
            <button mat-icon-button aria-label="Descargar cotización">
              <mat-icon>cloud_download</mat-icon>
            </button>
            <ng-container *ngIf="quote.state[0].date.length == 0">
              <button mat-icon-button id="{{'saveIconBtn-' + i}}" aria-label="Guardar información" class="save" *ngIf="vehicleIndex === i? displaySaveBtn : false" (click)="saveEditedQuote(i)">
                <mat-icon>save</mat-icon>
              </button>
              <button mat-icon-button aria-label="Editar información" class="edit" (click)="enableEditing(i)">
                <mat-icon>{{vehicleIndex === i? formVehicleButton : 'edit'}}</mat-icon>
              </button>
            </ng-container>
          </ng-container>
        </mat-card-header>
        <mat-card-content>
          <div [formGroupName]="i">
            <mat-form-field class="info executive">
              <mat-label>Ejecutivo a cargo</mat-label>
              <mat-icon *ngIf="!cancelQuoteIndexArray.includes(i)" matTooltip="Más información sobre el kilometraje" matTooltipPosition="after" aria-label="Información del ejecutivo de ventas" (click)="sellerInfo(i)">person_search</mat-icon>
              <input [class.canceled]="cancelQuoteIndexArray.includes(i)" matInput placeholder="Nombre del ejecutivo comercial" value="{{quote.quoteExecutive[0].name}}" readonly>
            </mat-form-field>
            <mat-form-field class="info price">
              <mat-label>Precio de separación</mat-label>
              <mat-icon *ngIf="!cancelQuoteIndexArray.includes(i)" matTooltip="Más información sobre el precio" matTooltipPosition="after" aria-label="Información sobre el precio" (click)="priceInfo()">info</mat-icon>
              <input [class.canceled]="cancelQuoteIndexArray.includes(i)" matInput placeholder="Precio de separación" value="{{quote.vehiclePrice}}" readonly>
            </mat-form-field>
            <mat-form-field class="version" floatLabel="always">
              <mat-label>Versión</mat-label>
              <mat-select [class.canceled]="cancelQuoteIndexArray.includes(i)" formControlName="versionFormControl" class="readonly">
                <mat-option [value]="version.selected ? 'default' : version.description" *ngFor="let version of quote.vehicleVersions; let i = index">{{version.description}}</mat-option>
              </mat-select>
            </mat-form-field>
            <app-color-picker *ngIf="vehicleIndex === i? showColorPalette : false" class="cdk-overlay-container" [position]="colorPickerPosition" [color]="colorDetails" (colorData)="setColor($event, i)" (close)="closeColorPicker($event)"></app-color-picker>
            <mat-form-field class="color" floatLabel="always">
              <mat-label>Color</mat-label>
              <button *ngIf="!cancelQuoteIndexArray.includes(i)" mat-icon-button aria-label="Mostrar selección de color" (click)="openColorPicker(i)" [disabled]="vehicleIndex === i? enableReadonly : true">
                <mat-icon>palette</mat-icon>
              </button>
              <input [class.canceled]="cancelQuoteIndexArray.includes(i)" matInput id="{{'colorPickerInput-' + i}}" formControlName="colorFormControl" placeholder="Color del vehículo" (click)="openColorPicker(i)" readonly>
            </mat-form-field>
          </div>
          <div id="image-stack-1">
            <div *ngIf="quote.state[0].date.length != 0" id="stamp">
                <img src="assets/images/stamp.png">
            </div>
            <div *ngIf="quote.state[0].date.length != 0" id="approved">
               <img src="assets/images/approved.png">
            </div>
          </div>
          <div id="image-stack-2" *ngIf="cancelQuoteIndexArray.includes(i)">
            <div id="canceled">
               <img src="assets/images/cancel_grayscale.png">
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions *ngIf="!cancelQuoteIndexArray.includes(i)">
          <button mat-stroked-button *ngIf="approvedState > -1 && approvedState === i ? false : quote.state[0].date.length == 0" class="cancelBtn" (click)="cancelQuote(i)">
            <div class="bg-gradient"></div>
            <span>CANCELAR</span>
          </button>
          <button mat-raised-button *ngIf="approvedState > -1 && approvedState === i ? false : quote.state[0].date.length == 0" color="primary" class="acceptBtn" [disabled]="quote.state[0].disable" (click)="payQuote(i)">
            <div class="bg-gradient"></div>
            <span>SEPARAR</span>
          </button>
          <button mat-raised-button *ngIf="quote.state[0].date.length != 0 ? true : approvedState === i" color="primary" class="acceptBtn status" (click)="displayQuoteStatus(i)">
            <div class="bg-gradient"></div>
            <span>VER ESTADO DE COMPRA</span>
          </button>
        </mat-card-actions>
        <div class="phantomDiv" *ngIf="cancelQuoteIndexArray.includes(i)"></div>
      </mat-card>
    </div>
  </form>
</div>
