<mat-card id="clientNotfications">
  <mat-card-header>
    <mat-card-title>Información General</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="notification">
      <div class="notifChk inline">
        <mat-checkbox></mat-checkbox>
      </div>
      <div class="notifContent inline">
        <p>Ya puede recoger su vehículo de placa 456-YT8</p>
        <p>Se realizaron los trabajos de planchado y pintura por un costo de S/580</p>
        <p>20/05/2020 18:43</p>
      </div>
      <div class="notifBtns inline">
        <button mat-icon-button id="saveInfoIconBtn" aria-label="Guardar información">
          <mat-icon>read_more</mat-icon>
        </button>
        <button mat-icon-button id="saveInfoIconBtn" aria-label="Guardar información">
          <mat-icon>star_border</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
