/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 43em) {

}

/* Small devices (portrait tablets and large phones, 688px and up) */
@media only screen and (min-width: 43em) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {

}

/* Extra large devices (large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 119em) {

}

//---------------------------------------------------

#clientNotfications{
  margin: 0% 15%;
  padding: 0px;;

  mat-card-header{
    align-items: center;
    padding: 2%;
    width: 96%;

    .mat-checkbox-frame,
    .mat-checkbox-background,
    .mat-checkbox-anim-unchecked-checked
    .mat-checkbox-anim-checked-unchecked {
      transform: scale(1.5);
    }

    .mat-checkbox-checked .mat-checkbox-background {
      transform: scale(1.5);
    }

    .headerActions{
      margin-right: 10px;

      &.actionBtn{
        transform: scale(1.3);
      }
    }

    mat-divider{
      padding-top: 6%;
      margin: 0px 15px;
      border: solid 1px #C6CCD6;
    }
  }

  mat-card-content{
    margin-bottom: 0px;

    .notification{
      position: relative;
      display: flex;
      align-items: center;
      padding: 2%;
      width: 96%;
      border-top: 2px solid #C6CCD6;

      .inline{
        display: inline-block;
      }

      .notifChk{
        width: 15%;
        text-align: center;

        .mat-checkbox-frame,
        .mat-checkbox-background,
        .mat-checkbox-anim-unchecked-checked
        .mat-checkbox-anim-checked-unchecked {
          transform: scale(1.5);
        }

        .mat-checkbox-checked .mat-checkbox-background {
          transform: scale(1.5);
        }
      }

      .notifContent{
        width: 60%;
        text-align: left;

        p:nth-child(1){
          font-size: 13pt;
        }

        p:nth-child(2){
          font-size: 11pt;
        }

        p:nth-child(3){
          color: rgba(0, 0, 0, 0.54);
        }
      }

      .notifBtns{
        width: 25%;
        text-align: right;

        .optionBtn{
          transform: scale(1.3);
          margin-right: 15px;
        }
      }
    }
  }
}

