<mat-toolbar id="notifyHeader">
  <mat-checkbox color="primary" class="headerActions" (change)="$event ? toggleAll($event) : null"></mat-checkbox>
  <button mat-icon-button class="dropBtn" color="primary" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="showOnlyRead()">
      <span>Mostrar leídos</span>
    </button>
    <button mat-menu-item (click)="showOnlyUnread()">
      <span>Mostrar no leídos</span>
    </button>
    <button mat-menu-item (click)="showOnlyFavorites()">
      <span>Mostrar favoritos</span>
    </button>
    <button mat-menu-item (click)="showAll()">
      <span>Mostrar todo</span>
    </button>
  </mat-menu>
  <mat-divider vertical></mat-divider>
  <button mat-icon-button *ngIf="showMainBtns" class="headerActions actionBtn" aria-label="Más información">
    <mat-icon>mark_chat_read</mat-icon>
  </button>
  <button mat-icon-button *ngIf="showMainBtns" class="headerActions actionBtn" aria-label="Más información">
    <mat-icon>mark_chat_unread</mat-icon>
  </button>
  <button mat-icon-button *ngIf="showMainBtns" class="headerActions actionBtn" aria-label="Más información">
    <mat-icon>delete_outline</mat-icon>
  </button>
</mat-toolbar>
<mat-card id="clientNotfications">
  <mat-card-content #notify *ngFor="let notification of notifications; let last = last; let i = index" [className] = "notification.favorite ? notification.status == 'read' ? 'read' : 'unread favorite' : 'unread'" >
    <div class="notification" [class.last]="last">
      <div *ngIf="notification.status == 'read'" class="read"></div>
      <div class="notifChk inline">
        <mat-checkbox color="primary" [checked]="exists(notification)"></mat-checkbox>
      </div>
      <div class="notifContent inline" [class.disabled]="notification.status == 'read'">
        <p><b>{{notification.tittle}}</b></p>
        <p>{{notification.content}}</p>
        <p>{{notification.date}}</p>
      </div>
      <div class="notifBtns inline">
        <button mat-icon-button *ngIf="notification.status == 'unread'" class="optionBtn" aria-label="Más información">
          <mat-icon>read_more</mat-icon>
        </button>
        <button mat-icon-button class="optionBtn" [class.disabled]="notification.status == 'read'" [class.star]="notification.favorite && notification.status == 'unread'" aria-label="Colocar en favoritos">
          <mat-icon>{{notification.status == 'read'? 'star_border' : notification.favorite? 'star' : 'star_border'}}</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
